@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);  /*font-family:'Lato', sans-serif;*/
*{outline:none !important;list-style:none; box-sizing:border-box; -moz-box-sizing:border-box; transition:.3s ease-in-out; -moz-transition:.3s ease-in-out; -webkit-transition:.3s ease-in-out; text-decoration:none;}
body{-webkit-font-smoothing:antialiased; background:#fff; transition:none; -moz-transition:none; -webkit-transition:none;font-family: 'Lato', sans-serif;background:#f7f7f7; min-height:100%;}
iframe{overflow-x:hidden!important;}
@media (min-width:1025px) {a[href^="tel"]{pointer-events: none}}
*:focus,*:active,.ui-state-focus{outline:none;}
body,label,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;color:#454545;font-family: 'Lato', sans-serif;}
fieldset,img{border:0;}
img{height:auto;max-width:100%;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400;}
strong{font-weight:700;}
caption,th{text-align:left;}
a{color:#1b4080; text-decoration:none;}
.errorfeild{border-color: red !important ;}
*:hover, *:active, *:focus {outline:none !important; text-decoration:none;}
/************************************************************************************************/
.animated {-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
@-webkit-keyframes fadeInUp {
  0% {opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}

@keyframes fadeInUp {
  0% {opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}
.fadeInUp {-webkit-animation-name: fadeInUp; animation-name: fadeInUp;}
.wrapper1{
  /*min-height:500px !important;*/
  height:100%;
}

.mt-20{
  margin-top:20px;
}
.pdl-80{
  padding-left :80px;
}
.show-more span {
  display: inline-block;
  height: 0;
  overflow: hidden;
  transition: opacity 2s;
  opacity: 0;
}
.show-more span.fade-in {
  height: auto;
  opacity: 1;
}

/************************************************************************************************/
body{overflow-x:hidden;}
header{background:#fff; min-height:60px; z-index:97; position:relative;}
.logo{color:#1b4080; font-size:18px; text-transform:uppercase; font-weight:900; display:block; float:left; padding:15px 0; line-height:30px;}

header .col-xs-12{position:static;}
nav{float:right; position:static;}
nav ul,nav ul > li{float:left;  position:static;}
nav ul > li.open{box-shadow:inset 0 0 1px rgba(0,0,0,.2);}
nav ul > li.open > a, nav ul > li:hover > a{color:#1b4080; text-decoration:none;}
nav ul > li > a{color:#666; text-decoration:none; font-size:14px; text-transform:uppercase; line-height:20px; padding:20px 3px; display:block;    text-align:center;}
nav ul > li.search{background:#f7f7f7; position:static;min-width: 50px;}
nav ul > li.facebook{background:#1b4080;}
nav ul > li.twitter{background:#00aeef;}
nav ul > li.search a{color:#1b4080;}
nav ul > li.facebook a,nav ul > li.twitter a{color:#fff; font-size:16px;min-width: 50px;}

header .dropdown-menu{left: 0px; height: auto; opacity: 0; display: none; margin: 0px; z-index: 2; transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; padding:0px; border:none; min-width:300px;}
header .open .dropdown-menu {height: auto; opacity: 1; top:99%; z-index:99; transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out;}
header .dropdown-menu ul{position:relative; z-index:99;}
header .dropdown-menu  li { color:#666; border-bottom:1px solid #ddd; width:100%;}
header .dropdown-menu  li a{color:#666; padding:15px;}
header .dropdown-menu  li:hover a{background:#eee; color:#000;}
header .dropdown-menu  li:last-child {border:none;}
header .menuOverlay{position:fixed; z-index:98; left:0px; right:0px; top:60px; bottom:0px; background:rgba(0,0,0,.6);  opacity:0; visibility:hidden;}
header .open .menuOverlay{opacity:1; visibility:visible;}
nav ul > li.search .dropdown-menu{width:100%; background:#2b4786;}
nav ul > li.search .dropdown-menu .container{position:relative;}
nav ul > li.search .dropdown-menu input[type=text]{width:100%; border:none; padding:20px 50px 20px 0; font-size:18px; font-weight:300; color:#fff; background:none;}
nav ul > li.search .dropdown-menu button{background:none; border:none; cursor:pointer; position:absolute; right:30px; top:13px; font-size:24px; color:#fff;}
nav ul > li.search .dropdown-menu button:hover{color:#999;}
header .static{position:static;}
.ResposiveSearch {display:none;}

header .signInBox{background:#fff; padding:20px;}
header .signInBox h3{font-size:24px; text-transform:uppercase; font-weight:300; color:#2b4786; margin-bottom:5px;}
header .signInBox input[type=text],header .signInBox input[type=password],header .signInBox input[type=email]{margin:8px 0; background:#f6f6f6; border:1px solid #ccc; font-weight:400; width:100%; padding:14px;}
header .signInBox input[type=text]:focus,header .signInBox input[type=password]:focus{background:#fff;}
header .signInBox input[type=submit], header .signInBox .signUpBtn{cursor:pointer; border:none; background:#2b4786; color:#fff; font-size:18px; text-transform:uppercase; font-weight:300; padding:14px; width:100%; margin:8px 0; display:block; text-align:center; text-decoration:none;}
header .signInBox input[type=submit]:hover, header .signInBox .signUpBtn:hover,header .signInBox input[type=submit]:focus, header .signInBox .signUpBtn:focus{box-shadow:inset 0 0 100px rgba(0,0,0,.3); color:#fff;}
header .signInBox a:hover{text-decoration:none; color:#999;}
header .signInBox .signUpBtn{margin-bottom:0px;}


header .signinWrap,header .signupWrap,header .frgtPwd{height: auto; display: none; margin: 0px; z-index:2; transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border:none;  width:330px; left:inherit !important; right:30px; padding:0px; position:absolute; top:60px; opacity:0;}
header .signinWrap.open,header .signupWrap.open,header .frgtPwd.open{display:block; opacity:1;}

header .frgtPwd p{margin:8px 0;}
header .frgtPwd label{font-weight:400; margin-top:8px; display:block;}
header .error{color:#f00; margin: 0 0 8px !important;}
header .blueBtn{cursor:pointer; border:none; background:#2b4786; color:#fff; font-size:18px; text-transform:uppercase; font-weight:300; padding:14px; width:100%; margin:8px 0 0 0; display:block; text-align:center; text-decoration:none;}
header .blueBtn:hover, header .blueBtn:focus{box-shadow:inset 0 0 100px rgba(0,0,0,.3); color:#fff !important;}

header .greyBtn{cursor:pointer; border:none; background:#999999; color:#fff; font-size:18px; text-transform:uppercase; font-weight:300; padding:14px; width:100%; margin:8px 0 0 0; display:block; text-align:center; text-decoration:none;}
header .greyBtn:hover, header .greyBtn:focus{background:#666; color:#fff !important;}



/********Banner*********/
.bannerWrap{float:left; width:100%; clear:both; padding:10px 0 0;}
.bannerWrap .inner{background:#fff; padding:8px; height:378px; box-shadow:0 1px 1px rgba(0,0,0,.2);}


/********Recent Audio Clips******/
.commonLoader{position:fixed; z-index:999999999 !important; background:rgba(255,255,255,1)
url(../img/loader5.gif) center no-repeat; left:0px; top:0px; width:100%; bottom:0px;}
.recentWrap{float:left; width:100%; clear:both; padding:0px; padding:94px 0% 0px 30.85%; position:relative;}

/*.navWrap{background:#2b4786; position:absolute; left:15.75%; top:0; padding:20px; width:270px; z-index:2;bottom: 0;}*/
.navWrap{background:#2b4786;  z-index:2;bottom: 0;}
.navWrap h3{color:#fff; font-size:24px; text-transform:uppercase; font-weight:900; margin:0px 14px 30px;}
.navWrap li{float:left; width:100%;}
.navWrap li a{color:#ccc; padding:7px 15px; line-height:16px; display:block;}
.navWrap li a:hover{color:#fff;}
.navWrap li a:hover:after{font-family: FontAwesome; content: "\f105"; position:absolute; left:200px;}
.navWrap li a:hover:before{font-family: FontAwesome; content: "\f07d"; position:absolute; left:10px; }
.navWrap li a.active{border-left:4px solid #fff; background:url(../img/arrow-dots.png) 98% center no-repeat; color:#fff;}
.sel{border-left:4px solid #fff !important; color:#fff !important;}

.recentWrap .owl-wrapper-outer{overflow:visible;}
.recentWrap  .item{margin-bottom:13px;}
.recentWrap  .item li{border:1px solid #ccc; float:left; width:50%; font-size:14px; font-weight:700; color:#000; position:relative;}
.recentWrap  .item li a{color:#000; text-decoration:none; display:block; padding:15px 20px 40px; }
.recentWrap .item li a h5{}
.recentWrap .item li .disc{height: 130px; overflow: hidden; clear: both;  text-align: justify;}
.recentWrap  .item li:hover{background:#eee;}
.recentWrap  .item li:hover em{background:#000;}
.recentWrap  .item em{position:absolute; right:0px; font-size:12px; bottom:0px; background:#2b4786; color:#fff; font-style:normal; padding:4px 15px;}
.recentWrap  .item em i{margin-left:10px;}
.recentWrap .owl-item{opacity:.3}
.recentWrap .owl-item.active{opacity:1;}
.recentWrap .owl-item.active p{opacity:1; visibility:visible;width: 250px;}

.recentWrap .owl-prev, .recentWrap .owl-next{position:absolute; top:-70px; z-index:3; width:50px; height:50px;}
.recentWrap .owl-prev:hover, .recentWrap .owl-next:hover{opacity:.7;}
.recentWrap .owl-prev{background:#fff url(../img/prev-arrow.png) center no-repeat; font-size:0px; left:-251px;}
.recentWrap .owl-next{background:#fff url(../img/next-arrow.png) center no-repeat; font-size:0px; left:-31px;}
.recentWrap  .item p{padding:0px 20px 20px 50px; opacity:0; visibility:hidden; float:left; width:100%; clear:both;}
.recentWrap  .item p a{background:#2b4786; display:inline-block; padding:14px 30px; color:#fff; font-size:14px; font-weight:700; text-decoration:none; border-radius:2px; margin-top:30px; text-transform:uppercase;}
.recentWrap  .item p a:hover{box-shadow:inset 0 0 100px rgba(0,0,0,.3);}
#recentAudio .categories{float:left; width:80%;  min-height:400px; height:100%;}
#recentAudio .categories .box_header{ width:100%; height:100px; padding:25px; margin-right: -15px;}
#recentAudio .categories .box_footer{ width:100%; height:100px; padding:25px; margin-right: -15px;}
#recentAudio .categories .box_footer .btn{border-radius: 3px !important;}

#recentAudio .categories .box_container{min-height:350px;  border:1px solid #ccc; border-right:0px; margin-right: -15px;}
#recentAudio .categories .box_container:after{visibility: hidden; 	display: block; 	font-size: 0; content: " "; clear: both; height: 0}

#recentAudio .categories .box_container .box_row{float:left; width:100%;}
#recentAudio .categories .box_container .box_row .box{height:125px; width:25%; position:relative; text-align:left; float:left; padding:15px;}
#recentAudio .categories .box_container .box_row .box.disabled{ -webkit-user-select: none;     -moz-user-select: none;   -ms-user-select: none;    user-select: none; opacity:0.3;}

#recentAudio .categories .box_container .box_row .box.b_right{ border-right:1px solid #ccc; }
#recentAudio .categories .box_container .box_row .box.b_bottom{ border-bottom:1px solid #ccc; }

#recentAudio .categories .box_container .box_row .box p{ font-weight:bold;font-size: 13px;}
#recentAudio .categories .box_container .box_row .box span{ position:absolute; bottom:0px; right:0px; background:#1b4080; color:#fff; padding:5px 30px 5px 15px;}
#recentAudio .categories .box_container .box_row .box span:after{font-family: FontAwesome; content: "\f105"; position:absolute; right:15px;}
/********AddWrap******/
.addWrap{float:left; width:100%; clear:both;}
.addWrap .wrapper{background:#ddd; padding:15px; text-align:center}


/*********Categories**********/
.categoryWrap{float:left; width:100%; clear:both; padding:35px 0;}
.categoryWrap h4{font-size:18px; color:#000; font-weight:700; text-transform:uppercase; margin:10px 0 0px;}
.categoryWrap ul{margin:0 -15px;}
.categoryWrap li{float:left; width:25%; padding:15px;}
.categoryWrap li .mejs-container { overflow:hidden;}
.categoryWrap li:hover a{transform:scale(1.1); -o-transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1); -ms-transform:scale(1.1);}
.categoryWrap li a{display:block; background:#fff; border-radius:4px; box-shadow:0 1px 1px rgba(0,0,0,.3); padding:15px;}
.categoryWrap li a img{display:block; margin-bottom:10px;}
.categoryWrap li a p{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-weight:700; color:#000;}

/*******Footer********/
footer{background:#1b4080; float:left; width:100%; clear:both; margin-top:30px;}
footer p{font-size:12px; color:#fff; padding:20px 0;}


/*start categary page */
.breadcrumbOuter{background: #f7f7f7;border-bottom: 1px solid #ddd;}
.breadcrumbOuter .breadcrumb{background-color:transparent; padding: 17px 0px; margin-bottom:0px;}
.breadcrumb > li + li:before { content:"\f101";font-family: FontAwesome;color:#666;}
.breadcrumb li{ color:#333399;}
.breadcrumb li a{ color:#666;}
.PageHeading {text-transform:uppercase;color:#000;font-size:24px;line-height: normal;font-weight: 900;padding: 15px 0;}

/*start audio page*/
.recentAudioDet .item{float:left; margin:0px 20px -15px;}
.recentAudioDet .item li{padding:6px;float:left;width:25%;font-size:14px; font-weight:700; color:#000; position:relative;}
.recentAudioDet .item li a{color:#000;text-decoration:none;display:block;padding:6px;border:1px solid #ccc;background-color: #fff;border-radius: 5px;box-shadow: 0px 1px 0px 0px rgba(204, 204, 204, 0.7);}
.recentAudioDet .item li a .disc{height: 133px; overflow: hidden; clear: both;  text-align: justify;}
.recentAudioDet .item li:hover{}
.recentAudioDet .item li:hover em{background:#000;}
.recentAudioDet .item em{font-size:12px; background:#2b4786; color:#fff; font-style:normal; padding:4px 15px; display:block; max-width:165px; margin-bottom:15px;}
.recentAudioDet  .item em i{margin-left:10px;}

.recentAudioForm {width: 100%;float: left;margin: 30px 0 15px 0;}
.SumoSelect { width:100%;}
.SumoSelect>.CaptionCont { width:100%;border: 1px solid #ccc; padding: 9px 8px;}
.SumoSelect:focus>.CaptionCont, .SumoSelect:hover>.CaptionCont { box-shadow: 0 0 2px #ccc;border-color: #ccc;}
.SumoSelect>.optWrapper.open {top: 39px; border-radius:0 0 3px 3px;}


input[type="text"] { border:1px solid #ccc;}

.recentAudioForm input {border-radius:3px 0 0 3px;width:76%;width:-webkit-calc(100% - 189px);width: -moz-calc(100% - 189px);width: -o-calc(100% - 189px);width:calc(100% - 189px);}

.recentAudioForm input.date{border-radius:0 3px 3px 0;width: 100%;padding: 9px; padding-left: 32px;}
.recentAudioForm button {border-radius:3px;background: rgba(27, 64, 128, 1);color:#fff;text-align:center;padding: 10px 15px;border:none;margin-left:5px;position: absolute;top: 0;right: 15px;}
.recentAudioForm button:hover {background: rgba(27, 64, 128, 0.75)}
.datepicker-dropdown.datepicker-orient-top:before {top: -7px;bottom: inherit; border-top: 0;border-bottom: 7px solid rgba(0, 0, 0, 0.15);}
.datepicker-dropdown.datepicker-orient-top:after {top: -6px;bottom: inherit; border-top: 0;border-bottom: 6px solid #ffffff;}
.calendar::after{font: normal normal normal 14px/24px FontAwesome; content:"\f073"; position:absolute; z-index:9999999999;     right: 19px; top:50%; color:#999; margin-top:-2px;}
.recentAudioForm .calendar{ position: absolute;float: left;width: 140px;top: 0;right: 65px;}


/*start video page details*/
.wcustomhtml { text-align:center; width:100%; background:#000; margin:25px 0;}
.videoDetailcont { margin:20px 0;}
.videoDetailcont img{ margin:0 20px 20px 0; float:left }
.videoDetailcont a { margin:10px 0; color:#2b4786; font-size:14px; font-style:italic;}
.videoDetailcont p { margin:15px 16px; text-align:justify; font-size:14px; line-height:20px; color:#000000;}
.VedioDetails h3 { background:#2b4786; color:#fff; text-align:center; padding:25px 5px; margin:15px 0; font-size:24px; line-height:36px; text-transform:uppercase; font-weight:900;}
.VedioDetails .categoryWrap { padding: 15px 0;}

.BannerImg .wrapper { margin:15px 0; float:left; width:100%; overflow:hidden; max-height:350px;}
.BannerImg .wrapper img { width:100%; }

.mejs-container .mejs-controls, .me-cannotplay {/*position: relative;*/margin: 0;padding: 0;bottom: 0;left: 0;height: 30px;width: 100%;background: #3a3c3d url(../img/background.png);background: -webkit-linear-gradient(#4a4c4d, #2b2d2d);background: -moz-linear-gradient(#4a4c4d, #2b2d2d);background: -o-linear-gradient(#4a4c4d, #2b2d2d); background: -ms-linear-gradient(#4a4c4d, #2b2d2d); background: linear-gradient(#4a4c4d, #2b2d2d);list-style: none;}
.mejs-container .mejs-controls div {list-style-type: none;display: block; float: left; margin: 0; padding: 0; width: 32px;height: 30px;font-size: 11px;line-height: 11px;font-family: sans-serif;background: url(../img/sep.png) left no-repeat;border: 0;}
.mejs-container .mejs-controls .mejs-playpause-button {cursor: pointer;background: none; width: 30px;}
.mejs-audio .mejs-controls {width:400px;border-radius: 3px;}
.mejs-container .mejs-controls .mejs-time {color: #fff; display: block;height: 17px; width: auto;padding: 8px 8px 5px 10px; overflow: hidden;text-align: center; box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;}
.mejs-controls .mejs-time-rail .mejs-time-total { margin: 10px 5px;}
.mejs-controls .mejs-button button {margin: 7px 8px; }



.mejs-container { border-radius:3px;}
.wsite-mejs-align-center {margin-left: auto;margin-right: auto; width:100% !important;}
.audioOuter {padding: 10px 20px;background:#fff;height: 84px;}
.audioOuter h2 {text-transform:uppercase;font-weight:bolder;font-size:18px;float:left;width:100%;margin-top:10px;}
.wsite-html5audio {position:relative;margin-top: 35px;}


.videoOuter {display:block; background:#fff; border-radius:4px; box-shadow:0 1px 1px rgba(0,0,0,.3); padding:15px;}
.videoOuter:hover {transform:scale(1.1); -o-transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1); -ms-transform:scale(1.1);}
.videoOuter video{display:block;}
.videoOuter p{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-weight:700; color:#000; margin-top:10px;}

/*=====================================================+*/
.adminPage { }
.adminPage p{ margin-top: 15px; }
.textLeft{text-align: left;}
.textRight{text-align: right;}
.adminPage .uploadGrid{ display: table;  min-height: 50px; width: 100%;     margin-top: 20px;}
.adminPage .uploadGrid .uploadRow{display: table-row; height:35px; }
.adminPage .uploadGrid .uploadRow.head .uploadcell{ font-weight: 600;text-align: left; }
.adminPage .uploadGrid .uploadRow.head .uploadcell.action{text-align: center; }
.adminPage .uploadGrid .uploadRow .uploadcell{text-align: left;  display: table-cell; vertical-align: middle;  padding: 10px 5px; border-bottom: 1px solid #ccc;}
.adminPage .uploadGrid .uploadRow .uploadcell.check{width: 4%; text-align: center;  }



.adminPage .uploadGrid .uploadRow .uploadcell.title{ width: 45%; }
.adminPage .uploadGrid .uploadRow .uploadcell.action{ width: 23%;  }
.adminPage .uploadGrid .uploadRow .uploadcell.action button{ padding: 5px 10px; }


@media screen and (max-width:1600px){
  .navWrap {left: 12.55%;}
  .recentWrap {padding: 0px 0% 0px 29.01%;}
}

@media screen and (max-width:1366px){
  .navWrap {left: 6.1%;}
  .recentWrap {padding: 100px 0% 0px 25.4%;}
}

@media screen and (max-width:1280px){
  .navWrap { left:4.9%;}
  .recentWrap {padding: 100px 0% 0px 24.8%;}
}

@media screen and (max-width:1199px){
  nav ul > li > a { min-width:0px; padding:20px 10px;}
  nav ul > li.search{min-width: 30px;}
  nav ul > li.facebook a,nav ul > li.twitter a{min-width: 30px;}
  .recentWrap  .item li a { padding: 30px 40px 40px;}
  .bannerWrap .inner { height:311px; overflow:hidden; text-align:center;}


  .navWrap {left: 0%;}
  .recentWrap {padding: 100px 0% 0px 270px;}
  .recentWrap .owl-prev{left: -270px;}
  .recentWrap .owl-next{left: -50px;}
  .recentAudioForm input {}


}
@media screen and (max-width:991px){
  .ResposiveNavBtn  { display:block;}
  .ResposiveNavBtn { position:absolute; top:-52px; right:0px; padding:0px; margin-right: 14px;top:14px;}
  .ResposiveNavBtn .icon-bar {background: #2b4786;}
  header nav {width:100%; border-top:1px solid #ccc;}
  header nav ul {width:100%; margin-top:-1px;}
  header nav ul li{width:100%;}
  header nav ul li a{width:100%; border-bottom:1px solid #ccc; padding:10px 25px; text-align:left; position: relative;}
  .menuHeader { padding:0px; float:left; width:100%;margin: 0 -30px;float: none;width: auto;}
  .menuHeader.collapse {display: none!important;}
  .menuHeader.collapse.in {display: block !important;}
  header nav ul li.search{display:none;}
  header nav ul li.social i{position:absolute;top: 5px;bottom: 5px;border: 1px solid #fff;width: 30px;border-radius: 0px;text-align: center;line-height: 29px;}
  header nav ul li.social i {}
  header nav ul li.social span {padding-left: 40px;}

  /*srart resposive search in header navigation*/
  /*nav ul > li.search { background:#fff;}
  nav ul > li.search a { position: absolute;top: 10px;right: 40px;text-align: right;border-top:none; }*/
  .ResposiveSearch { float:left; width:100%; display:block;}
  .ResposiveSearch li.search { position:static;}
  .ResposiveSearch li.search>a { position: absolute;top: 19px;right: 48px;}
  .ResposiveSearch li.search .dropdown-menu { }
  .ResposiveSearch li.search .dropdown-menu{width:100%; background:#2b4786;}
  .ResposiveSearch  li.search .dropdown-menu input[type=text]{width:100%; border:none; padding:20px 50px 20px 0; font-size:18px; font-weight:300; color:#fff; background:none;}
  .ResposiveSearch  li.search .dropdown-menu button{background:none; border:none; cursor:pointer; position:absolute; right:30px; top:13px; font-size:24px; color:#fff;}
  .ResposiveSearch  li.search .dropdown-menu button:hover{color:#999;}

  .ResposiveNavBtn.collapsed {height:18px; width:auto; }
  .ResposiveNavBtn .icon-bar{display:none!important;}
  .ResposiveNavBtn .icon-bar.first{ display:block!important;webkit-transform: translateY(-6px) rotate(45deg);
    -moz-transform: translateY(-6px) rotate(45deg);
    -o-transform: translateY(-6px) rotate(45deg);
    -ms-transform: translateY(-6px) rotate(45deg);
    transform: translateY(-6px) rotate(45deg);
    position: absolute;
    right: 0;
    top: 11px;}
  .ResposiveNavBtn .icon-bar:last-child{ display:block!important; webkit-transform: translateY(6px) rotate(-45deg);
    -moz-transform: translateY(6px) rotate(-45deg);
    -o-transform: translateY(6px) rotate(-45deg);
    -ms-transform: translateY(6px) rotate(-45deg);
    transform: translateY(6px) rotate(-45deg);
    position: absolute;
    right: 0;
    top: -5px;}


  .ResposiveNavBtn { height:25px; width:30px;}
  .ResposiveNavBtn.collapsed .icon-bar{display:block !important;}
  .ResposiveNavBtn.collapsed .icon-bar.first{ display:block!important;webkit-transform: translateY(-0px) rotate(0deg);
    -moz-transform: translateY(-0px) rotate(0deg);
    -o-transform: translateY(-0px) rotate(0deg);
    -ms-transform: translateY(-0px) rotate(0deg);
    transform: translateY(-0px) rotate(0deg);
    position: absolute;
    right: 0;
    top: 4px;}
  .ResposiveNavBtn.collapsed .icon-bar:last-child{  display:block!important; webkit-transform: translateY(0px) rotate(-0deg);
    -moz-transform: translateY(0px) rotate(-0deg);
    -o-transform: translateY(0px) rotate(-0deg);
    -ms-transform: translateY(0px) rotate(-0deg);
    transform: translateY(0px) rotate(-0deg);
    position: absolute;
    right: 0;
    top: -5px;}


  header .signinWrap, header .signupWrap, header .frgtPwd {left: 0 !important;top: 0px; right:0px; width:100%;}
  header .signinWrap h3:after, header .signupWrap h3:after, header .frgtPwd h3:after { content:"X"; color:#000; position:absolute; right:20px; top:20px; cursor:pointer }

  header .signinWrap.open .dropdown-menu, header .signupWrap.open .dropdown-menu, header .frgtPwd.open .dropdown-menu {height: auto;position: fixed;top: 0;}


  .recentWrap { padding: 90px 40px 0px 30px;}
  .navWrap {width: 100%;padding: 0px;bottom: inherit;margin-top: 20px;}
  .navWrap h3 {font-size: 18px;margin:0px;min-height: 50px;padding: 15px; cursor:pointer;}
  .navWrap h3:after { position:absolute; content:"\f067"; font-family: FontAwesome; color:#fff;right: 10px;}
  .navWrap h3.open:after { position:absolute; content:"\f068"; font-family: FontAwesome; color:#fff;right: 10px;}
  .navWrap ul {display:none;}
  .navWrap ul.open {display:block;}
  .navWrap h3 br {display:none;}
  .recentWrap .owl-next {right: -28px;left: inherit; background-color:rgba(255, 255, 255, 0.34)}
  .recentWrap .owl-prev {left: -28px; background-color:rgba(255, 255, 255, 0.34)}
  .recentWrap .owl-prev, .recentWrap .owl-next{top:33%;z-index: 1;    width: 28px;    border: 1px solid #2b4786;}
  .recentWrap  .item p {text-align:center; padding:0px;}
  .recentWrap  .item p a {margin-top: 15px;}  .recentAudioDet .item li {width: 50%;}
  .calendar:after{font: normal normal normal 14px/24px FontAwesome; content:"\f073"; position:absolute; z-index:0; right:20px; top:60%; color:#999; margin-top:-12px;}
  .calendar{position:relative; margin-bottom:15px;}
  .calendar input{position:relative; z-index:1; background:none; padding-right:35px !important;}


}
@media screen and (max-width:767px){
  .ResposiveNavBtn { position:absolute; }
  .recentWrap  .item li a {padding: 10px 10px 40px;}
  .categoryWrap li { width:33.33%;}
  .recentAudioForm .SumoSelect { margin:10px 0;}

}
@media screen and (max-width:639px){
  header .signupWrap.open .dropdown-menu{overflow:scroll;height:100%; }
  header .signinWrap.open .dropdown-menu{overflow:scroll;height:100% }
}
@media screen and (max-width:579px){



  .categoryWrap li { width:50%;}

  header .signupWrap.open .dropdown-menu{overflow:scroll; height:100%;width:100% }
  header .signinWrap.open .dropdown-menu{overflow:scroll; height:100%;width:100% }


}
@media screen and (max-width:479px){
  .logo { font-size:15px;}
  .recentAudioForm input { width: 100%;}
  .recentAudioForm input.date { position:relative; margin:10px 0px 0; width:100%; right:0px; border-radius:3px;}
  .recentAudioForm button { bottom:0px; top:inherit;}
  .recentAudioDet .item li {width:100%;}
  .recentAudioForm input { padding-right: 9px;}

}
@media screen and (max-width:359px){
  .categoryWrap li { width:100%;}
  .categoryWrap li a img { width:100%;}
}
@media screen and (max-width:320px){
}
.ms-mt-m{
  margin-top:10px !important;
}
.ms-mt-l{
  margin-top:20px !important;
}
.ms-mb-m{
  margin-bottom:10px !important;
}
@media screen and (max-width:323px){
  .catDetails .searchBTN{position: static;}

}
.catDetails{}
.catDetails .customcalendar{width:100%; position: relative;     margin-bottom: 20px;}
.catDetails .customcalendar:after{font: normal normal normal 14px/24px FontAwesome;  content: "\f073";  position: absolute;  z-index: 9999999999;  right: 10px;  top:25%;  color: #999;  margin-top: -2px;}

.catDetails .searchBTN{ right: -50px;}
.catDetails .filterAction{ margin-top:30px; float:left; margin-right: 20px;    height: 34px; }
.catDetails .filterActionBtn{ margin-top:30px; float:left; margin-right: 20px;    height: 34px; width:130px;}
.catDetails .filterActionBtn button{width: 100%;}

.catDetails label{display:block; margin-bottom:10px;clear:both;}
.catDetails input.from{width:100%;}
.catDetails input.to{ width: 100%; }

.catDetails .formLable{display:block; margin-bottom:10px; }


.customsearch{ position: relative;}
.customsearch input{padding-right:30px;}
.customsearch:after{font: normal normal normal 14px/24px FontAwesome;  content: "\f002";  position: absolute;  right: 10px;  top:15%;  color: #999; }
.truncate1 {  padding-top:5px;  display:block;  display: -webkit-box;  max-width: 100%;  max-height: 33.6px;  font-size: 14px;  line-height: 1.2;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  overflow: hidden;  text-overflow: ellipsis;  }
.truncate2 {  width: 237px;   overflow: hidden;  text-overflow: ellipsis;}
.image-widget{  background-color: #000;  padding: 5px;  color: #fff;  position: absolute;  right: -3px;  top: 73%;}
[placeholder]:focus::-webkit-input-placeholder { transition: opacity 0.5s 0.5s ease;  opacity: 0;}
[placeholder]:focus:-ms-input-placeholder { transition: opacity 0.5s 0.5s ease;  opacity: 0; }
[placeholder]:focus::-moz-placeholder { transition: opacity 0.5s 0.5s ease;  opacity: 0; }
[placeholder]:focus:-moz-placeholder { transition: opacity 0.5s 0.5s ease;  opacity: 0; }
.acb{top: 0px;bottom: 0px;margin: auto;left: 0px;right: 0px;display: block;}
.scrollpage ::-webkit-scrollbar {width: 6px;}
.scrollpage ::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 0px;}
.scrollpage ::-webkit-scrollbar-thumb {border-radius: 0px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);     background: #2b4786;}
.catButton{background: #2b4786;display: inline-block;padding: 14px 41px;color: #fff;font-size: 14px;font-weight: 700;text-decoration: none;border-radius: 2px;text-transform: uppercase;}
.scrollBar::-webkit-scrollbar{display:none}
.audioScrollBar{margin-top:20px;position:relative;max-height:1000px;overflow: scroll;overflow-x: hidden;-webkit-overflow-scrolling: touch;}
.ResposiveMenuBtn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 19px;
  right: -12px;
}
@media screen and (max-width: 991px){
  .ResposiveMenuBtn a {
    position: absolute;
    top: 19px;
    right: 48px;
  }
}
@media screen and (max-width:640px){

  .catDetails .filterActionBtn{width:100px;  margin-right: 15px;}
  .catDetails .filterAction{  margin-right: 15px;}
  .addImage { padding-top: 10px;max-height: 368px !important;    overflow: auto;}

}
/*.autocompletedropdown{max-height: 250px;overflow: auto; background: #fff;border: 1px solid #ccc;padding: 10px;z-index: 99;position: absolute;top: 32px;width: 100%}*/

/****************view incident css **************/

.seeMore {text-align: right !important;padding: 4px 10px 10px 0;font-size: 14px;color: #337ab7;cursor: pointer;}
.discDiv{ overflow: hidden;margin: 15px;text-overflow: ellipsis; font-size: 14px; display: block;text-align: left !important;} .discDiv .disData{text-align: left !important; text-align: left !important;overflow-wrap: break-word;} .disData small{line-height:35px;} .disDate{font-size: 85%;} .addImage { width: 100%; height: 100%; margin-top: 35px; margin: 0 auto; max-height: 600px; overflow: auto; }
.addImage img{width:100%; margin-bottom: 10px;}
.facebookbody { background-color: white; /*background: transparent;*/ font-family: Helvetica, Arial, sans-serif; line-height: 1.28; overflow: hidden; margin-top: 10px; text-align: -webkit-center; } .fbtopdiv1 { background-color: #fff; position: relative; word-wrap: break-word; font-size: 12px; line-height: 16px; /*width: max-content; border: 1px solid; border-color: #e5e6e9 #dfe0e4 #d0d1d5; border-radius: 3px; */ max-width: 100%; } .fbimg { background-color: #fff; overflow: hidden; position: relative; z-index: 0; height: 260px; }
.fbimg img { padding: 0px; height: 100%; }
.fbimg img.ptb-20 { padding: 20px 0; }
/*.fbbtext {*/ /*font-family: 'Lato', sans-serif;*/ /*letter-spacing: normal*/ /*}*/ /**/ /*.footerTextContainer {*/ /*padding: 15px;*/ /*}*/ /**/ /*.fbbtextword {*/ /*/!*font-weight: 500;*!/*/ /*/!*line-height: 22px;*!/*/ /*/!*margin-bottom: 5px;*!/*/ /*max-height: 60px;*/ /*overflow: hidden;*/ /*word-wrap: break-word;*/ /*/!*margin-top: 10px;*!/*/ /*text-align: left;*/ /*display: block;*/ /*font-size: 14px;*/ /*color: #1d2129;*/ /*}*/ /**/ /*.fbbtextellipsis {*/ /*text-overflow: ellipsis;*/ /*white-space: nowrap;*/ /*width: 100%;*/ /*}*/ /**/ /*.fbbtextdeco {*/ /*text-decoration: none;*/ /*transition: color .1s ease-in-out;*/ /*}*/ /**/ /*.postdiscription {*/ /*font-family: Helvetica, Arial, sans-serif;*/ /*line-height: 16px;*/ /*max-height: 80px;*/ /*overflow: hidden;*/ /*text-overflow: ellipsis;*/ /*white-space: nowrap;*/ /*width: 100%;*/ /*margin-left: 12px;*/ /*}*/ /**/ /*.postorigin {*/ /*font-size: 11px;*/ /*line-height: 11px;*/ /*text-transform: uppercase;*/ /*color: #90949c;*/ /*padding-top: 9px;*/ /*position: relative;*/ /*margin-bottom: 6px;*/ /*margin-left: 12px;*/ /*text-align: left;*/ /*}*/ /**/ /*.ellipsis {*/ /*overflow: hidden;*/ /*text-overflow: ellipsis;*/ /*white-space: nowrap;*/ /*}*/ /*.newFBDesc {*/ /*font-size: 12px;*/ /*color: black;*/ /*margin-top: 2px;*/ /*font-weight: normal;*/ /*line-height: 1.38;*/ /*}*/ /*.fbheading {*/ /*font-size: 14px;*/ /*font-weight: normal;*/ /*line-height: 1.38;*/ /*word-wrap: break-word;*/ /*font-family: Helvetica, Arial, sans-serif;*/ /*padding: 15px 0px;*/ /*text-align: left;*/ /*margin-left: 12px;*/ /*}*/ /*.fbName{*/ /*margin-left: 12px;*/ /*text-align: left;*/ /*font-size: 18px;*/ /*font-weight: 500;*/ /*margin-left:12px;*/ /*}*/ /*.displayed {*/ /*display: block;*/ /*margin-left: auto;*/ /*margin-right: auto*/ /*}*/ /*.para {*/ /*font-family: Arial, sans-serif;*/ /*font-size: 20px;*/ /*font-weight: bold;*/ /*text-align: center;*/ /*text-indent: 1em;*/ /*text-transform: capitalize !important;*/ /*margin-top: 10px;*/ /*margin-bottom: 10px;*/ /*}*/
._6l- { position: relative; }
.uiScaledImageContainer { position: relative; overflow: hidden; height: 260px; }
.uiScaledImageContainer .scaledImageFitWidth { height: auto; }
._6l- img { vertical-align: bottom; }
.uiScaledImageContainer img { height: 100%; min-height: 100%; position: relative; padding-top: .5px; padding-bottom: 1px; }
@media(min-width:380px) { .mobview { width: 50% } }
@media(max-width:379px) { .mobview { width: 100%; } }
@media(min-width:501px) { .imgview { margin-top: 15px; margin-bottom: 15px; } }
@media(max-width:500px) { .imgview { margin-top: 15px; margin-bottom: 15px; width: 60%; } }
.show { overflow: visible !important; height: auto !important; max-height: 100% !important; }
.hide { visibility: hidden !important; }
.play { background-image: url(img/playbtn1.png); background-position: center; background-repeat: no-repeat; }
.playbtn { width: 50px; text-align: center; height: 24px; width: 24px; border: none; background-color: transparent; color: transparent; cursor: pointer; }
.stop { background-image: url(img/stop1.png); background-position: center; background-repeat: no-repeat; }
.innerBox { margin-left: 10px; margin-right: 10px; } .searchField { width: 58%; margin-right: 10px; }
.autocomplete ul { margin-left: 0px; border: 1px solid #ccc; width: 58%; }
.autocomplete ul li{ list-style: none; padding: 5px 6px 5px 6px; }
.autocomplete ul li:hover { background-color: #f8f8f8; }
.autocomplete-options-container { position: relative; }
.autocomplete-options-dropdown { position: absolute; top: -1px; left: 0px; border: 1px solid #ccc; border-top-color: #d9d9d9; box-shadow: 0 2px 4px rgba(0,0,0,0.2); -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2); cursor: default; z-index: 1001; background: white; }
.autocomplete-options-list { list-style-type: none; margin: 0; padding: 0; }
.autocomplete-option { padding: 4px 10px; line-height: 22px; overflow: hidden; font: normal normal normal 13.3333330154419px/normal Arial; }
.autocomplete-option.selected { background-color: #eee; }

.filterInput{}
.filterInput .col-md-2,.filterInput .col-md-3,.filterInput .col-xs-12,.filterInput .col-xs-12{padding-right: 10px !important;  padding-left: 10px !important;}
.filterInput .form-control{height: 43px ; }
.filterInput .filterBtnReser{ height: 43px ; width: 100px;}
.filterInput .filterBtnsearch{ width: 55px;  margin-right: 15px; height: 43px !important; }

/*
#table-responsiveb .mobileView{}
#table-responsiveb  tr td span{ }
.moshow{display:none;}
.moHide{display:block;}
@media(min-width:320px) and (max-width:767px) {
  #table-responsive{width:100%;}
  #table-responsiveb tr td{ display:block; width:100%;}
.moHide{display:none;}
.moshow{display:block;}
  #table-responsiveb .mobileView td span.moshow{ float:left; width:50%;overflow: hidden; }
  #table-responsiveb .mobileView td{display:block; width:100%;}
}
*/
.mobviewNoContaint {margin:0 auto; width:100%; clear: both;}
.mobviewNoContaint h2{text-align:center;  margin-top:25%; margin-bottom: 25%; clear: both;}
.mobviewNoContaint h3{text-align:center;  margin-top:5%; margin-bottom: 5%; clear: both;}
.uploadNewAV{width:100%;margin-top:5px;margin-bottom:5px;padding-top:14px;padding-bottom:10px;border-radius:0px}
.uploadNewAVTitle{text-align: left;    padding-top: 10px;padding-bottom: 10px;}
.filtericon{display: none; padding:0px !important;    margin-top: 4px !important;  }
#filterbox{ display: block; }
.modelData .modal-body .bootstrap-timepicker input-group-addon i{right: 60px;}
.desktopHide{display:none;}
.mobileShow td small{ display:none;}
.desktopShow{display:block;}
.mobileShow{ }
.mobileShow td{text-align:left; }
.maintimeinput{ left: 82%;  }
@media (min-width: 240px) and (max-width: 767px) {
  .desktopHide{display:block;}.desktopShow{display:none;}
  .mobileShow{display:block;}/*.table thead{display:none;}*/
  .mobileView{display:block;}.mobileHide{display:none;}
  .mobileShow td.textRight{ text-align: left !important;}
  .mobileShow td .btn{     margin-right: 20px !important;    padding: 3px 12px;}
  .mobileShow td .btn i{padding-right: 10px;}
  .mobileShow td small{ display:inline-block; font-size: 12px; float: left; min-width: 100px; width: 40%;  overflow: hidden;text-overflow: ellipsis; }
  .mobileShow td{ display: inline-flex;font-size: 12px; width: 100%; border: none; min-height:25px;float: left; padding-left:10px;padding: 10px; overflow: hidden;text-overflow: ellipsis; }
  .kgipSubCategory .mobileShow td{  min-height:25px; height:100%; margin-bottom: 10px;}
  .mobileShow .border_bottom{border-bottom: 1px solid #ccc; min-height: 40px;}

  .filterInput .form-control{height: 30px ; padding: 3px 16px; font-size: 13px; }
  .filterInput .filterBtnReser{ height: 30px ; width: 80px;}
  .filterInput .filterBtnsearch{ width: 40px;  margin-right: 15px; height: 30px !important; }
  #filterbox {display: none; }
  .filtericon { display: block; }
  .filtericon .btn{border-radius: 0px;}
  .uploadNewAV{padding: 5px !important;}
  .uploadNewAVTitle{text-align: center; font-size: 16px;}
  .audioScrollBarTable{ padding: 15px;  margin-top: 10px;}
  .audioScrollBarTable .table > tbody > tr > td{ padding: 8px 8px 8px 0px;}

  .modelData{}
  .modelData .modal-header{}
  .modelData .modal-header h1{font-size: 18px;}
  .modelData .modal-body{padding: 15px 0px;}
  .modelData .modal-body .form-control{height: 30px ; padding: 3px 5px; font-size: 13px; border-radius: 0px; }
  .modelData .modal-body textarea.form-control{height: 60px ;}
  .modelData .modal-body h4, .modelData .modal-body .h4 { font-size: 14px; }
  .modelData .modal-body .bootstrap-timepicker{width:50% !important;}
  .modelData .modal-body .bootstrap-timepicker .input-group-addon i{right:33px !important;}
  .modelData .modal-body .calendar:after {font: normal normal normal 14px/24px FontAwesome; content: "\f073"; position: absolute;    z-index: 0;    right: 20px;    top: 47%;    color: #999;    margin-top: 0px;  }
  .modelData .modal-body .btn-lg, .btn-group-lg > .btn { padding: 6px 16px;font-size: 14px; line-height: 1.3333333; border-radius: 0px;}
  .modelData .modal-body .form-group.right{ float: right !important;}
  .modelData .modal-body .form-group.left{ float: left !important;}
  .maintimeinput{ left: 90%;  }
  .PageHeading {font-size: 14px;    padding: 0px 0;}
  .mobview { width:113%;  }
  /*.mobviewNoContaint { position: absolute; top: 50%; left: 29%  }*/
  .mo-mb-10{ margin-bottom:10px;}
  .mobviewNoContaint h2 { text-align: center;margin-top: 10%;clear: both;margin-bottom: 10%;}
  .mobviewNoContaint h3{text-align:center;  margin-top:5%; margin-bottom: 5%; clear: both;}
}
@media (min-width: 768px) and (max-width: 800px) {
  .mobviewNoContaint h2 { text-align: center;margin-top: 10%;clear: both;margin-bottom: 10%;}
  .mobviewNoContaint h3{text-align:center;  margin-top:5%; margin-bottom: 5%; clear: both;}
}
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 20px;
  display:none;
}
.noRecords{

  height: 200px;
  text-align: center;
}
.noRecords h2{
  margin-top: 15px;
}
.searchbyLabel{ margin-bottom: 10px;}
.mobileViewTable tr td span{ display: none;}
.mobileViewTable{  margin-top: 10px;}
@media (min-width: 240px) and (max-width: 767px) {
  .mobileViewTable{ width:100%; overflow-x: hidden;overflow-y: hidden; }
  .mobileViewTable tr{clear: both;}
  .mobileViewTable tr th{ display: block;}
  .mobileViewTable tr td{  display: block;border-top: 0px solid #ddd !important;}
  .mobileViewTable tr td span{ display:block; width: 50%; float: left; font-weight: 600;}
  .mobileViewTable .mobileViewTableHeader{ display: none;}
  .mobileViewTable tr td.lastRow{border-bottom: 1px solid #ccc !important;}

}