
<!--- End Head section -->
<body class="disable-select addevent">
<div class="warpper-inner">
    <div class="content-inside">

        <section class="" >
            <div class="container ">
                <div class="row ">

                    <div class="col-md-9 wrapper">
                        <div class="containt" style="margin-top: 20px;margin-bottom: 20px"> <h2>Account Setting</h2></div>


                        <div class="containt">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="First_Name">First Name</label>
                                                <input type="text" class="form-control" ng-model="accountInfo.firstName" id="" placeholder="Enter new First Name">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="Last_Name">Last Name</label>
                                                <input type="text" class="form-control" id="" ng-model="accountInfo.lastName" placeholder="Enter new Last Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="PhoneNo">Phone No.</label>
                                                <input type="text" class="form-control" ng-model="accountInfo.phoneNo" id="" placeholder="Enter new Phone Number">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label for="Email">Email Address</label>
                                                <input type="text" class="form-control" id="" disabled placeholder="{{accountInfo.email}}">
                                            </div>
                                        </div>

                                    </div>
                                    <button type="button" id="back-dashbord" class="btn btn-blue" ng-click="updateInfo()">Update Account Details</button>

                                </div>

                            </div>

                        </div>


                        <div style="margin-bottom: 15px;margin-top: 15px;"class="header_bg">
                            <h4>Change Password </h4>
                            <p>You can change your password here.</p>
                        </div>

                        <div class="containt" ng-controller="signupCtrl">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <label for="map">Current Password</label>
                                            <input type="password" class="form-control" id="" ng-model="formData.oldpassword" placeholder="Current Password">
                                            <span class="error" ng-show="errors['oldpassword']">{{errors['oldpassword']}}</span>
                                        </div>

                                        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                            <label for="map">New Password</label>
                                            <input type="password" class="form-control" id="" ng-model="formData.password" placeholder="New Password">
                                            <span class="error" ng-show="errors['password']">{{errors['password']}}</span>
                                        </div>
                                        <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                            <label for="map">Confirm New Password</label>
                                            <input type="password" class="form-control" id="" ng-model="formData.confirm_password" placeholder="Confirm New Password">
                                            <span class="error" ng-show="errors['confirm_password']">{{errors['confirm_password']}}</span>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <button type="button" id="back-dashbord" class="btn btn-blue" ng-click="changePassword()">Update Password</button>

                        </div>


                    </div>

                </div>
        </section>



    </div>
</div>




</body>
