<div id="addUser" class="modal bootstrap-dialog login-popup type-primary fade " data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content" ng-controller="signupCtrl" >
            <div class="modal-header">
                <button type="button" data-dismiss="modal"  class="close"  data-backdrop="static" aria-label="Close"><span id="hideModel" aria-hidden="true">&times;</span></button>
                <h1 class="text-center">Add User</h1>
            </div>
            <div class="modal-body">



                    <div class="row">

                            <div class="panel-body">
                                <form name="signUpForm" ng-submit="submitForm()"   novalidate>
                                    <div class="form-group">
                                        <label class="control-label" for="role">Role</label>                                        
                                        <select id="role" ng-change="" class="form-control" ng-model="fields.role" ng-options="record for record in ['Admin','User']"
                                                selected style="border-radius:0px !important">
                                            <option value="" disabled>Select Role</option>
                                            <!--<option value="">Records At one time</option>-->
                                        </select>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : signUpForm.fname.$invalid && !signUpForm.fname.$pristine }">
                                        <label  for="FName">First Name</label>
                                        <input id="FName" class="form-control" type="text" name="fname" ng-model="fields.fname"  placeholder="First Name *" required />
                                        <span id="name"></span>
                                        <p class="help-block" ng-show="signUpForm.fname.$invalid && !signUpForm.fname.$pristine">First name field is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : signUpForm.lname.$invalid && !signUpForm.lname.$pristine }">
                                        <label  for="lastName">Last Name</label>
                                        <input id="lastName" class="form-control" type="text" ng-model="fields.lname"  name="lname" placeholder="Last Name" required><span id="lname" ></span>
                                        <p class="help-block" ng-show="signUpForm.lname.$invalid && !signUpForm.lname.$pristine">Last name is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }">
                                        <label  for="EmailId">Email</label>
                                        <input id="EmailId" class="form-control" type="email" name="email"  ng-model="fields.email" placeholder="Email Address" required><span id="email" ></span>
                                        <p class="help-block" ng-hide="true" ng-show="signUpForm.lname.$invalid && signUpForm.email.$error.required">Email is required.</p>
                                        <p class="help-block" ng-show="signUpForm.email.$invalid && signUpForm.email.$error.email">Valid email is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : signUpForm.pnumber.$invalid && !signUpForm.pnumber.$pristine }">
                                        <label  for="pnumber">Phone No</label>
                                        <input id="pnumber" class="form-control" type="tel" ng-model="fields.pnumber" name="pnumber" placeholder="Phone Number" required pattern="^(0|[1-9][0-9]*)$"><span id="number" ></span>
                                        <p class="help-block" ng-hide="true" ng-show="signUpForm.pnumber.$invalid && signUpForm.pnumber.$error.required">Phone number is required.</p>
                                        <p class="help-block" ng-show="signUpForm.pnumber.$invalid && signUpForm.pnumber.$error.pattern" >Please enter a valid number </p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : signUpForm.pw1.$invalid && !signUpForm.pw1.$pristine || (signUpForm.pw1.$valid && signUpForm.pw2.$valid &&(fields.password !=  fields.confirm_password)) }">
                                        <label  for="bpassword">Password</label>
                                        <input id="bpassword" class="form-control" type="password" ng-model="fields.password"  placeholder="Password" id='pw1' name='pw1' required password-verify="{{signUpForm.pw1}}" required><span id="password"></span>
                                        <p class="help-block" ng-show="signUpForm.pw1.$invalid && !signUpForm.pw1.$pristine">Password is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' :signUpForm.pw2.$invalid && !signUpForm.pw2.$pristine || (signUpForm.pw1.$valid && signUpForm.pw2.$valid &&(fields.password !=  fields.confirm_password))}">
                                        <label  for="bpassword">Confirm Password</label>
                                        <input id="cpassword" class="form-control" type="password" ng-model="fields.confirm_password" required="true" placeholder="Confirm Password" id='pw2' name='pw2' required>
                                        <p class="help-block" ng-show="signUpForm.pw2.$invalid && !signUpForm.pw2.$pristine">Confirm password is required.</p>
                                        <p class=" help-block" ng-show="signUpForm.pw1.$valid && signUpForm.pw2.$valid &&(fields.password !=  fields.confirm_password)">Password not match</p>
                                    </div>

                                    <div class="form-group" align="center">
                                        <button id="submitform"  ng-disabled="signUpForm.$invalid ||(signUpForm.pw1.$valid && signUpForm.pw2.$valid &&(fields.password !=  fields.confirm_password)) " type="submit" class="btn btn-info" ng-click="hideModal()">Create account</button>
                                    </div>

                                </form>
                            </div>

                    </div>
            </div>
        </div>
    </div>
</div>


<script>
//    $("#hideModel,#submitform").click(function(){
//        $('#addUser').modal('hide');
//        var element = document.getElementById("addUser");
//        element.parentNode.removeChild(element);
//
//    })
</script>

