<div class="container wrapper1 ">
    <div class="row" >
        <div class="col-md-3 col-xs-12 ">
            <h3><p class="uploadNewAVTitle"> Admin Audio/video clips </p></h3>
        </div>

    </div>
    <div class="row filterInput" >
        <div class="col-md-3 col-xs-9 ">
            <a class="btn btn-primary uploadNewAV" ui-sref="uploadform" > Upload New Audio/Video Clip </a>
        </div>
        <div id="filtericon " class="col-xs-3 filtericon">
            <a class="btn btn-primary " ng-click="viewSearBar();">{{filterScopeString}}  <i class="fa fa-filter" aria-hidden="true"></i></a>
        </div>
        <div id="filterbox">
            <div class="col-md-3 col-xs-12 " style="margin-top:5px;margin-bottom:5px">
                <select class="form-control input-lg " ng-model="selectedItem"
                        ng-options="cat.id as cat.name for cat in categories|orderBy:'sequence'"
                        selected style="border-radius:0px !important">
                    <option value="">All Categories</option>
                    <!--<option value="">Records At one time</option>-->
                </select>

            </div>

            <div class="col-md-2 col-xs-6 " style="margin-top:5px;margin-bottom:5px">
                <select  class="form-control input-lg" ng-model="setLimit"
                         ng-options="record for record in numArray"
                         selected style="border-radius:0px !important">
                    <option ng-if="false"></option>
                    <!--<option value="">Records At one time</option>-->
                </select>

            </div>
            <div class="col-md-2 col-xs-6 " style="margin-top:5px;margin-bottom:5px">

                <form name="searchForm" ng-submit="searchClip()">
                    <div class="customsearch">
                        <input  class="form-control" type="text" ng-model="searchItem"
                                required placeholder="Search">
                    </div>

                </form>

            </div>
            <div class="col-md-2 col-xs-12" style="margin-top:5px;margin-bottom:5px">
                <button type="button" ng-click="searchClip()" class="searchBTN btn btn-primary filterBtnsearch"><i class="fa fa-search"></i> </button>
                <button  class="btn btn-danger filterBtnReser" ng-click="reset()">RESET</button>
            </div>

        </div>


        <div class="row adminPage">
            <div class="col-md-12 col-xs-12 " >
                <div class="scrollBar  audioScrollBarTable  " style="display: -webkit-inline-box;" id="scrollingDiv5">
                    <div>
                        <table class="table " id="table-responsive" ng-if="!noRecords">
                            <thead>
                            <tr  class="mobileHide">
                                <th><h4> S.No.</h4></th>
                                <th style="width:40%"><h4> Audio/ Video Title</h4></th>
                                <th><h4> Posted On</h4></th>
                                <th><h4>Posted By</h4></th>
                                <th><h4>Action</h4></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in adminData" class="mobileShow">
                                <td><small> S.No.</small>{{$index+1}}</td>
                                <td><small> Audio/ Video Title</small><a style="white-space:normal" href="" ng-if="data.name != 'null'" ng-click="sendSeoUrlParam(data.seoUrl)">{{data.name}}</a></td>
                                <td><small>Posted On</small>{{data.postedOn|utc| date:"MM-dd-yyyy HH:mm"}}</td>
                                <td><small>Posted By</small>{{data.uploaderName}}</td>
                                <td><button ng-controller="fileUploadCtrl" class=" btn btn-success"
                                            ng-click="updateclip(data.id)" style="margin-bottom:5px">  <i class="fa fa-pencil"aria-hidden="true"></i>Edit</button>
                                    <button class=" btn btn-danger" ng-click="deletedata(data.id, $index)" style="margin-bottom:5px">  <i
                                            class="fa fa-times" aria-hidden="true"></i> Delete
                                    </button>

                                    <button class=" btn btn-default " ng-show="$index != index" ng-click="copyToClipboard($index,data)"
                                            style="margin-bottom:5px">  <i class="fa fa fa-clipboard" aria-hidden="true"></i>Copy

                                    </button>
                                    <button class=" btn btn-default " ng-show="$index == index" style="margin-bottom:5px;background-color:black;color:white;"> Copied!

                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
<div class="noRecords" ng-if="noRecords"><h2>No Data Found</h2></div>
<a id="back-to-top"  class="btn btn-primary btn-lg back-to-top"
   role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
    <span class="glyphicon glyphicon-chevron-up"></span>
</a>
