<!--Banner Starts-->

<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="jumbotron">
    <h1>Admin AUDIOs AND VIDEOS</h1>
    <p>Upload and view your Audios/Videos</p>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6"><p><h2>Upload Audios</h2></p></div>
    </div>
</div>
<!--Recent Audio Clips Starts-->

<div class="modal-dialog" ng-controller="audiovideoCtrl">
  <div class="modal-content" style="height:600px">
    <div class="modal-header">
      <h1 class="text-center">ADMIN latest uploads</h1>
    </div>
    <div class="modal-body">
  <button class="btn btn-danger btn-lg btn-block" ng-click="fetchData()">Fetch Data</button>
  <ul><li style="list-style-type: square;"  ng-repeat="data in adminData">
    <h3><a class="form-control input-lg" ui-sref="description({id:data.id})">{{data.name}}</a></h3>  </li></ul><p ng-hide="havData">{{message}}</p>
</div>
</div>
  </div>

<!--footer Starts-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><p>&copy; 2016 minnesota Police. All rights reserved.</p></div>
      <div class="col-sm-6">social links</div>
    </div>
    </div>
</footer>

