﻿

<div class="breadcrumbOuter">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" class="home">Home</a></li>
            <li>Police Chase Audio</li>
        </ol>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="PageHeading">Police Chase Audio</h1>
        </div>
    </div>
</div>





<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--Categories Starts-->
<div class="recentAudioDet">
    <div class="container">
        <!--<div class="recentAudioForm">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <input type="text" placeholder="Search By Name" />
                    <div class="calendar">
                        <input type="text" placeholder="By Date" class="date" />
                    </div>
                    <button type="button"><i class="fa fa-search"></i> </button>
                </div>
                <div class="col-md-3 col-md-offset-3 col-sm-4 col-xs-12">
                    <select class="SlectBox">
                        <option>Sort By</option>
                        <option>Alphabets (A-Z)</option>
                        <option>Alphabets (Z-A)</option>
                    </select>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-xs-12">
                <div class="item" style="float:left;">
                    <ul>
                        <li ng-repeat="recent in rFeed|limitTo:limit" style=" width:290px;height:200px;float:left;overflow: hidden;">
                            <a ui-sref="description({id:recent.id})">
                                <em>{{recent.postedOn|utc| date:'yyyy-MM-dd'}}<i class="fa fa-angle-right"></i></em>
                                {{recent.name}}<br />{{recent.description}}


                            </a>
                        </li>
                    </ul>

                </div><div style="text-align:center;">
              <button ng-hide="btnHide || limit>list.length" ng-click="loadMore()" style="text-align:center; " class=" btn btn-primary btn-lg">show more...</button>
            </div>
            </div>
        </div>
    </div>
</div>
<!--Categories Ends-->
<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--footer Starts-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><p>&copy; 2016 minnesota Police. All rights reserved.</p></div>
            <div class="col-sm-6">social links</div>
        </div>
    </div>
</footer>
<!--<script>
    $(function () {
        $(".date").datepicker({
            format: "yyyy-mm-dd",
            autoclose: true
        }).datepicker("setDate", new Date());
    });
</script>-->
