﻿
<div class="breadcrumbOuter">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" class="home">Home</a></li>
            <li><a href="#">Police Chase Audio</a></li>
            <li>Minneapolis / MetroTransit Robbery / Shooting 9/5</li>
        </ol>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="PageHeading">Minneapolis / MetroTransit Robbery / Shooting 9/5</h1>
        </div>
    </div>
</div>





<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>

<div class="BannerImg">
    <div class="container">
        <div class="wrapper">
            <img src="img/audio-detailsbanner.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--Categories Starts-->
<div class="VedioDetails">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <img src="img/googlead320x100.png" alt="" />
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="audioOuter">
                    <h2>INCIDENT AUDIO:</h2>
                    <div class="wsite-html5audio">
                        <audio class="wsite-mejs-align-center wsite-mejs-dark" src="img/garfield.mp3" preload="none" data-autostart="no" data-artist="" data-track=""></audio>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <img src="img/googlead320x100.png" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Need Something Crazier?</h3>
            </div>
        </div>
        <div class="categoryWrap">
            <div class="row">
                <div class="col-xs-12"><h4>Shocking Incidents Caught On Video:</h4></div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <ul>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=tFtnB9s8c3M" /></video>
                                <p>Unbelievable Shootout</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=a7FdvE9K9xI" /></video>
                                <p>Sickening Assault</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=z7MNGbFy9yQ" /></video>
                                <p>Assault of Trooper</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=2nt0DT0nXq8" /></video>
                                <p>Firefighter Falls Into Fire</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="categoryWrap">
            <div class="row">
                <div class="col-xs-12"><h4>Criminals You Won't Believe:</h4></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=ebOmRepngcs" /></video>
                                <p>This man's made the news twice</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=B9bgBjKCxGQ" /></video>
                                <p>Ya, Emmanuel Paulino Went Nucking...</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=ojujiiZPSw8"></video><p>Ranting Meth-Head Steal Squad Car</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=qcoUpqVaD00" /></video><p>You Won't Believe It</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Categories Ends-->
<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--footer Starts-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><p>&copy; 2016 minnesota Police. All rights reserved.</p></div>
            <div class="col-sm-6">social links</div>
        </div>
    </div>
</footer>
<script src="js/customjs/common.js"></script>
<!--<script>
    $(function () {
        $(".date").datepicker({
            format: "yyyy-mm-dd",
            autoclose: true
        }).datepicker("setDate", new Date());
    });
</script>-->