<style>
    @media(max-width:500px) {
        .position {
            position: absolute;
            top: 35%;
            left: 23%;
        }
    }

    @media(min-width:501px) {
        .position {
            position: absolute;
            top: 35%;
            left: 40%;
        }
    }
</style>
<div class="container">
    <div class="breadcrumbOuter" style="border-bottom:0px !important">
        <div class="">
            <ol class="breadcrumb pull-left" style="padding-bottom:0px !important">
                <li><a href="/" class="home">Home</a></li>
                <li>{{categoryname }}</li>
            </ol>
        </div>
    </div>

    <hr style="margin-top:5px;margin-bottom:5px">


    <div class="row">
        <div class="col-xs-12">
            <h1 class="PageHeading">{{categoryname}}</h1>
        </div>
    </div>





    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <google-adsense></google-adsense>
            </div>
        </div>
    </div>
    <!--Ad Wrapper Ends-->
    <!--Categories Starts-->


    <div ng-show="showbutton" class=" catDetails">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label style="margin-top: 20px;margin-bottom:20px;"><h4>Search the events by Date</h4> </label>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <label class=" formLable">From:</label>
                <div class="customcalendar"><input type="text"  id="datepicker_from" onfocus="blur();"  ng-class="{errorfeild : strequier}" ng-change="onchangeDate('sd',date.startdate)" placeholder="" data-ng-model="date.startdate" class="from date form-control" /> </div>

            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <label class="formLable">To:</label>
                <div class="customcalendar"><input type="text" id="datepicker_to" onfocus="blur();"  ng-class="{errorfeild : edrequier}" ng-change="onchangeDate('ed',date.enddate)" placeholder=""  data-ng-model="date.enddate" class="to date form-control" /></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <label class="formLable">Search By Keyword:</label>
                <li ><form name="searchForm"  ng-submit="searchClip()">
                    <div class="customsearch">
                        <input class="form-control" ng-class="{errorfeild : searchval}" ng-change="onchangeDate('se',searchItem)" type="text" ng-model="searchItem" required placeholder="Search">
                    </div>
                </form>

                </li>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12" style="margin-top:30px" >
                <button type="button" ng-click="find_clip(list[0].categoryId,searchItem)" class="searchBTN btn btn-primary"><i class="fa fa-search"></i> </button>
                <!--<button type="button" ng-click="findall()" class="searchBTN btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>-->
                <button class="btn btn-danger" ng-click="reset()">RESET</button>

            </div>

        </div>
        <div ng-show= "msg != ''"  style="color:red">{{msg}}</div>
    </div>


    <!--<div class="">-->
    <!--<div ng-show="list && list.length || !loading" class="row">-->
    <!--<div class="col-md-12 col-sm-12 col-xs-12" >-->
    <!--<label style="margin-top: 20px;margin-bottom:20px;"><h4>Search the events by Date</h4> </label>:<br/>-->
    <!--<label>From:</label>-->
    <!--<input name="date" type="text" placeholder="By Date" class="date" data-ng-model="date.startdate"/>-->
    <!--<label>To:</label>-->
    <!--<input name="date" type="text" placeholder="By Date" class="date" data-ng-model="date.enddate"/>-->
    <!--<button type="button" ng-click="find_data(list[0].categoryId)"><i class="fa fa-2x fa-search"></i> </button>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <div class="recentAudioDet">

        <div  ng-show="list.length" class="row wrapper1 scrollBar audioScrollBar" style="min-height:300px !important; -webkit-overflow-scrolling: touch;" id="scrollingDiv2">
            <div class="commonLoader" ng-if="loading">

            </div>
            <div style="margin-top:40px" class="col-xs-12 col-sm-6 col-md-3" ng-repeat="recent in list track by $index" ng-if="((recent.ismember == true && isLoggIn) || recent.ismember == false || recent.ismember == null )">
                <div class="thumbnail" style="min-height:300px">
                    <a href="" ng-click="sendSeoUrlParam(recent.seoUrl)">
                        <div class="" style="height:230px;overflow:hidden;">
                            <div ng-if="recent.imageurl" style="height:240px">
                                <img style="width:100%;" class="" ng-src="{{recent.imageurl}}">
                            </div>
                            <div ng-if="!recent.imageurl" style="height:240px">
                                <img style="width:100%;height:100%" class="" ng-src="./icon.png">
                            </div>


                        </div>

                        <div class="caption" style="position:relative;min-height:100px;margin-top:10px;vertical-align:bottom">

                            <div class="disc">
                                <!--ng-click="sendSeoUrlParam(recent1.seoUrl)""-->

                                <h5 style="text-transform: capitalize" ng-if="recent.name != 'null'" class="truncate2">{{recent.name}}</h5>

                                <div class="pull-right image-widget">{{recent.postedOn|utc| date:"MM-dd-yyyy HH:mm"}}</div>
                            </div>

                        </div>
                    </a>
                </div>
            </div>


        </div>

        <div ng-if="noclips" class=" col-md-12 col-xs-12" style="">
            <div class="mobviewNoContaint"><h3 class="">No Clips Found</h3> </div>
        </div>

        <div class=" col-sm-12 col-md-12 col-xs-12">
            <p class="pull-right">
                <a class="pull-right btn btn-primary btn-large" style="border-radius:0px;margin-top:20px;margin-bottom:20px" ui-sref="categories">View Category</a>
            </p>
        </div>

    </div>
</div>
</div>
<!--Categories Ends-->
<!--Ad Wrapper Starts-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <google-adsense></google-adsense>
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
</div>



<script>
    $(function() {
        $("#datepicker_from").datepicker({
            format: "mm-dd-yyyy",
            endDate: new Date(),
            autoclose:true
        }).on("changeDate", function(e) {
            // console.log(e.date);
            $("#datepicker_to").datepicker('remove');
            $("#datepicker_to").datepicker({
                format: "mm-dd-yyyy",
                startDate: e.date,
                endDate: new Date(),
                autoclose:true
            }).datepicker("setDate", new Date());
            //  $('#datepicker_to').datepicker("startDate", e.date);
        });

        /*$("#datepicker_to").datepicker({
         format: "mm-dd-yyyy",
         endDate: new Date(),
         autoclose:true
         }).datepicker("setDate", new Date());*/
    });

</script>