﻿<div class="breadcrumbOuter" style="border-bottom:0px !important">
    <div class="container">
        <ol class="breadcrumb pull-left" style="padding-bottom:0px !important">
            <li><a href="#" class="home">Home</a></li>
            <li>Category</li>
        </ol>
    </div>
    <hr style="margin-top:5px;margin-bottom:5px">
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="PageHeading">Category</h1>
        </div>
    </div>
</div>





<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--Categories Starts-->
<div class="categoryWrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><h4>by Category</h4></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul>
                  
                    <li ng-repeat="category in cat|orderBy:['postedOn','id']">
                        <a ui-sref="category_details({categoryAllies:category.allies})">
                          <img style="height: 160.2px;width: 232.5px;" ng-if="category.imageUrl != '' && category.imageUrl !=null&&category.imageUrl != undefined" ng-src="{{category.imageUrl}}" on-error-src="./img/no-image.jpg" />
                            <img ng-if="category.imageUrl == ''||category.imageUrl ==null||category.imageUrl == undefined" ng-src="./img/no-image.jpg" style="height: 160.2px;
    width: 232.5px;"/>
                          
                            <p>{{category.name}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Categories Ends-->
<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->


