<link rel="stylesheet"  href="css/contactus.css">

<div class="container wrapper1" >
    <div class="row">
        <div class="col-sm-12">
            <h2 class="pull-left" style="margin-bottom:25px;margin-top:25px">
                CONTACT US
            </h2>
        </div>
    </div>

    <div class="inner contact">
        <!-- Form Area -->
        <div class="contact-form">
            <!-- Form -->
            <form id="contact-us" name="contact" ng-submit="submitMail()" novalidate>
                <!-- Left Inputs -->
                <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                    <div class="row">
                    <!-- Name --><label>Enter Name</label>
                        <input type="text" name="name" ng-model="fields.name" id="name"  class="form-control input-lg" placeholder="Name" required />
                        <span class="error"  style="color: #d01b10" ng-show="submitted && contact.name.$error.required ">Name is required</span>
                    </div>
                    <div class="row">
                        <label>Enter Email</label>
                        <input type="email" name="mail" ng-model="fields.email" id="mail"  class="form-control input-lg" placeholder="Email" required/>
                        <span  style="color: #d01b10" class="error" ng-show="submitted && contact.mail.$error.required ">Email is required</span>
                        <span style="color: #d01b10" class="error" ng-show="submitted && contact.mail.$error.email">Enter valid email!</span>
                   </div>
                </div>

                <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                    <div>
                        <label>Enter Message</label>
                        <textarea name="message" id="message" ng-model="fields.message" class="form textarea"  placeholder="Message" required></textarea>
                        <span class="error"  style="color: #d01b10" ng-show="submitted && contact.message.$error.required ">Message is required</span>
                    </div>
                </div>


                <div class="relative fullwidth col-xs-12">
                    <!-- Send Button -->
                    <button  ng-click="submitMail()"  name="submit" class="form-btn semibold">Send Message</button>
                </div><!-- End Bottom Submit -->
                <!-- Clear -->
                <div class="clear"></div>
            </form>

            <!-- Your Mail Message -->
            <div class="mail-message-area">
                <!-- Message -->
                <div class="alert gray-bg mail-message not-visible-message">
                    <strong>Thank You !</strong> Your email has been delivered.
                </div>
            </div>

        </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->





</div>