
<style>

    @media(min-width:501px){
        .imgview{
            margin-top:15px;
            margin-bottom:15px;
        }
    }
    @media(max-width:500px){
        .imgview{
            margin-top:15px;
            margin-bottom:15px;
            width:60%;
        }
    }
    .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto }

    .para{
        font-family: Arial , sans-serif;
        font-size : 20px;
        font-weight : bold;
        text-align :center;
        text-indent : 1em;
        text-transform: capitalize !important;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    #aPlayer{max-width:350px; overflow: hidden; border-radius:10px; margin-bottom:15px;}
    #aPlayer > audio {width: 107% ; float:left}

    @media screen and (max-width:767px) {
        #aPlayer > audio {width: 110% }
    }
    @media screen and (max-width:479px) {
        #aPlayer > audio {width: 114% }
    }

</style>
<div class="breadcrumbOuter" style="border-bottom:0px !important">
    <div class="container">
        <ol class="breadcrumb pull-left" style="padding-bottom:0px !important">
            <li><a href="/home" class="home">Home</a></li>
            <li><a href="" ui-sref="category_details({categoryAllies:categoryallies})">{{categoryallies }}</a></li>
            <li style="word-break: break-all" ng-if="data.name != 'null'">{{data.name}}</li>
        </ol>
    </div>
</div>
<h1 style="margin-top:5px;margin-bottom:5px"></h1>


<!--Ad Wrapper Starts-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <google-adsense ></google-adsense>
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--Categories Starts-->
<div class="VedioDetails">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <center><img class="imgview" ng-src="{{data.imageurl}}" on-error-src=""></center>

                </div>

                <div class="displayed">
                    <div class="container ">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <h1 class="PageHeading" ng-if="data.name != 'null'">{{data.name}}</h1>
                                <h4 ng-if="!isNullOrEmpty(data.postedOn)" style="margin-top: 10px;margin-bottom:20px">Posted On: &nbsp; {{data.postedOn|utc| date:'MM-dd-yyyy HH:mm'}}</h4>
                            </div>
                        </div>
                    </div>

                    <div id="aPlayer" class="text-center displayed" style="margin-top:15px width:100%;"   ng-if="data.type == 'audio' && data.url">
                        <audio id="audio"  type="audio/mp3" controls autoplay ng-if="data.type=='audio'" class="mobview"  data-ng-src="{{data.url|trusted}}" >
                        </audio>
                    </div>
                    <!-- <audio class="text-center displayed" controls style="margin-top:10px">
                    <source ng-src="{{data.url|trusted}}" type="audio/mpeg"/>
                    </audio>-->
                </div>
                <div class="displayed" align="center">
                    <video  controls autoplay   ng-if="data.type == 'video' && data.url " name="media" width="100%" height="345" class="col-xs-12" style="margin-top:10px" >
                        <source ng-src="{{data.url|trusted}}" type="video/mp4">

                        <!--<source  type="video/ogg" />
                        <source  type="video/webm" />-->
                        Your browser does not support HTML5 video.
                    </video>
                </div>
                <iframe ng-if="data.type=='youtube'" width="100%" height="345" data-ng-src="{{data.youtubeUrl|trusted}}"></iframe>
                <p ng-if="!isNullOrEmpty(data.description)" class="para" style="font-size: 15px;font-weight: 100;" ng-bind-html="data.description"></p>
            </div>

        </div>
    </div>
    <!--Categories Ends-->
    <!--Ad Wrapper Starts-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <google-adsense ></google-adsense>
            </div>
        </div>
    </div>
    <!--Ad Wrapper Ends-->
</div>



<script>
    function goBack() {
        window.history.back();
    }
</script>








