<footer>
    <div class="container">
        <div class="row">
          <div class="col-sm-3"><p>&nbsp;<a style="color:white;" ui-sref="contact"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Contact Us</a></p></div>
            <div class="col-sm-3 col-sm-offset-6"><p>&copy; Minnesota Police Clips. All rights reserved.</p></div>

            <!--<div class="col-sm-6">social links</div>-->
        </div>
    </div>

</footer>
