<div>
  <p>Hi {{firstname}},</p>
  <p>Greetings!</p>

  <div id="myDiv">You are just a step away from accessing your Mnpolice account</div>
  <br/>
  <p>We have shared your password to access your account.</p>

  <p> you'll be able to login with the new password.This is to ensure that only you have access to your account.</p>

  <p>Your new password: <b>{{otp}}</b></p>

  <p>
    Best Regards,</p>
  <p>Team Mnpolice
  </p>

</div>