﻿
<div class="frgtPwd">
    <div class="dropdown-menu animated fadeInUp signInBox">
        <div class="row">
            <div class="col-xs-12"><h3>Forgot Password</h3></div>
            <div class="col-xs-12"><label>Registered Email</label><input type="text" placeholder="Email Address"></div>
            <div class="col-xs-12"><p class="error">Invalid Email</p></div>
            <div class="col-xs-12"><input type="submit" value="Reset"></div>
            <div class="col-xs-12"><p>An Email sent to your registered email address. Please login to yur email and click the given link to reset your password.</p></div>
            <div class="col-xs-6" align="right"><a href="#" class="signIn blueBtn">Sign In</a></div>
            <div class="col-xs-6" align="right"><a href="#" class="signUp greyBtn">Sign Up</a></div>
        </div>
    </div>
    <div class="menuOverlay signinOverlay"></div>
</div>