<style>
    header .signinWrap h3:after, header .signupWrap h3:after, header .frgtPwd h3:after {
    content: "X";
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    }
</style>
<header>
    <div class="container-fluid">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <a href="/#/home" class="logo">Minnesota Police Clips</a>
        </div>
        <div ng-hide="" class="col-md-9 col-sm-12 col-xs-12">
             <div class="ResposiveSearch">
                <ul>
                    <li class="social search dropdown" ng-controller="searchCtrl">
                        <a href="" ng-click="showip = !showip;"><i class="fa fa-search"></i></a>
                        <div class="dropdown-menu " style="opacity:1;display: block;" ng-show="showip">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12" >

                                        <input type="text" class="search_field" placeholder="Search" ng-model="searchItem" required>

                                        <button ng-click="search();"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menuOverlay"></div>
                    </li>
                </ul>
            </div>
            <button type="button" class="navbar-toggle collapsed ResposiveNavBtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar first"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse menuHeader">
                <nav>
                    <ul>

                        <li><a ui-sref="home">Home</a></li>
                       <li><a ui-sref="viewIncident">view incident</a></li>
                        <li ng-controller="catCtrl" class="dropdown">
                            <ul class="dropdown-toggle"data-toggle="dropdown"><li><a href="">Categories<span
                                    style="border-width:7px;margin-left:5px;margin-bottom:5px;"class="caret"></span></a></li></ul>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in cat|orderBy:'sequence'"><a ui-sref="category_details({categoryAllies:item.allies})">{{item.name}}</a></li>
                            </ul>
                        </li>
                        <!--<li><a href="" ui-sref="about">About Us</a></li>-->
                        <!--<li><a href="" ui-sref="contact">Contact Us</a></li>-->
                        <!--<li ng-show="!currentUser.isLoggedIn"><a href="" class="signUp">Sign Up</a></li>-->
                        <li ng-show="!currentUser.isLoggedIn"><a href="" class="signIn">Sign In</a></li>
                        <li ng-if="currentUser && currentUser.isLoggedIn && currentUser.user && currentUser.user.role=='admin'"><a ui-sref="adminpage">Manage Audio/Video</a></li>

                        <li ng-show="currentUser && currentUser.isLoggedIn" class="dropdown">
                            <ul class="dropdown-toggle" data-toggle="dropdown"><li><a href="">Settings<span
                                    style="border-width:7px;margin-left:5px;margin-bottom:5px;"class="caret"></span></a></li></ul>

                            <ul class="dropdown-menu">
                                <li ng-controller="passCtrl" id="mydiv"><a href="" ng-click="openPasmodal()">Password</a></li>
                                <li ng-show="currentUser && currentUser.isLoggedIn && currentUser.user && currentUser.user.role=='admin'" ng-controller="passCtrl" id="mydiv"><a href="" ui-sref="usersList">Manage Users List</a></li>
                                <li id="mydiv"><a href="" ui-sref="accountSetting">Account Setting</a></li>
                            </ul>
                        </li>
                        <li ng-if="currentUser && currentUser.isLoggedIn"><a href="" ng-click="logOut()">Sign out</a></li>
                        <div class="menuOverlay"></div>
                        <li class="social facebook"><a target="_blank" href="https://www.facebook.com/PoliceClips"><i class="fa fa-facebook"></i> <span class="hidden-lg hidden-md">Facebook</span></a></li>
                        <li class="social twitter"><a target="_blank" href="https://twitter.com/PoliceClips"><i class="fa fa-twitter"></i><span class="hidden-lg hidden-md">Twitter</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="signinWrap">
        <div class="dropdown-menu animated fadeInUp signInBox">
            <div class="col-xs-12"><h3>Sign In</h3></div>
            <div class="row">
                <form name="signInForm" ng-submit="signinForm()" ng-controller="signinCtrl" novalidate>
                    <div class="col-xs-12">
                        <input type="email" ng-model="fields.email" name="emailid" placeholder="Email Id" required>
                        <span class="error" ng-show="errors['email']">{{errors['email']}}</span>
                    </div>


                    <div class="col-xs-12">
                        <input type="password" ng-model="fields.password" placeholder="Password" name="password" required>
                        <span class="error" ng-show="errors['password']">{{errors['password']}}</span>
                    </div>

                    <div class="col-xs-12"><input type="submit" value="Sign In"><span ng-if="wrongCredential==true" style="color:red;">Wrong credential</span>
                    </div>
                    <div class="col-xs-12"><a  href="" id="forgotBtn">Forgot Password?</a></div>
                   <!-- <div class="col-xs-12"><a id="createAccount"href="" class="signUpBtn signUp">Create An Account</a></div>-->
                </form>
            </div>
        </div>
        <div class="menuOverlay signinOverlay"></div>
    </div>

    <!--<div class="signupWrap">-->
        <!--<div class="dropdown-menu animated fadeInUp signInBox">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-12"><h3>Sign Up</h3></div>-->
                <!--<form name="signUpForm" ng-submit="submitForm()" ng-controller="signupCtrl"  novalidate>-->
                    <!--<div class="col-xs-12">-->
                        <!--<input type="text" name="fname" ng-model="fields.fname"  placeholder="First Name" required>-->
                        <!--<span id="name"></span>-->
                        <!--<p class="signup-error" ng-show="submitted && signUpForm.fname.$error.required">*Required Field</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12"><input type="text" ng-model="fields.lname"  name="lname" placeholder="Last Name" required><span id="lname" ></span>-->
                        <!--<p class="signup-error" ng-show="submitted && signUpForm.lname.$error.required">*Required Field</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12"><input type="text" name="email"  ng-model="fields.email" placeholder="Email Address" required><span id="email" ></span>-->
                        <!--<p class="signup-error" ng-show="submitted && signUpForm.email.$error.required">*Required Field</p>-->
                        <!--<p class="signup-error" ng-show="errors['email']">{{errors['email']}}</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12"><input type="text" ng-model="fields.pnumber" name="pnumber" placeholder="Phone Number" required><span id="number" ></span>-->
                        <!--<p class="signup-error" ng-show="submitted && signUpForm.pnumber.$error.required">*Required Field</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12"><input type="password" ng-model="fields.password"  placeholder="Password" id='pw1' name='pw1' required><span id="password"></span>-->
                        <!--<p class="signup-error" ng-show="submitted && signUpForm.pw1.$error.required">*Required Field</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12"><input id="cpassword" type="password" ng-model="fields.confirm_password" required="true" placeholder="Confirm Password" id='pw2' name='pw2' required>-->
                        <!--<span class='signup-error' ng-show='submitted && signUpForm.pw2.$error.required'> *Required Field</span>-->
                        <!--<p class="signup-error" ng-show="errors['confirm_password']">{{errors['confirm_password']}}</p>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12"><input type="submit"  id="submit" value="Sign Up"></div>-->
                    <!--<div class="col-xs-12" align="right"><a id="haveAccount" href="" class="signIn">Already have an account?</a></div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="menuOverlay signinOverlay"></div>-->
    <!--</div>-->

    <div class="frgtPwd">
        <div class="dropdown-menu animated fadeInUp signInBox" ng-controller="signinCtrl" >
            <div class="row">
                <div class="col-xs-12"><h3>Forgot Password</h3></div>
                <div  ng-if="!showotpText && !showforgottemplate" style="padding:10px" class="forgot">
                    <p>
                        Please enter the e-mail address for your account. Your password  will be sent to your e-mail id.</p>
                    <form name="forgot-password" >
                        <div class="emailLogin11">
                            <ul class="list-unstyled">
                                <li style="border-bottom:0px !important">
                                    <label>Email</label>

                                    <div class="form-group field-loginform-email">
                                        <input type="text" id="forgot_password" class="form-control" name="forgot_password" placeholder="Email id" ng-model="fields.email">
                                        <label data-ng-if="errors.email" class="errors">{{errors.email}}</label>
                                        <label ng-if="errors.message" class="errors">{{errors.message}}</label>
                                    </div>
                                </li>

                                <li style="margin-top:0px !important;padding-left:-15px !important;border-bottom:0px !important"><button ng-disabled="sendingOtp"  name="login-button1" class="btn btn-primary" ng-click="checkForgotEmail()">Submit</button></li>
                                <li ng-if="sendingOtp" style="border-bottom:0px !important"><strong class="loading errors"><i class="fa fa-refresh fa-spin"></i>&nbsp;&nbsp;Loading..</strong></li>

                            </ul>
                        </div>
                    </form>
                </div>
                <!-- <div ng-if="showotpText && !showforgottemplate" style="padding:10px" class="forgot">
                   <form name="forgot-password" >
                     <div class="otp-verify">
                       <ul class="list-unstyled">
                         <li style="border-bottom:0px !important">
                           <label>OTP</label>
        
                           <div class="form-group field-loginform-email">
                             <input type="text" id="otp_verify" class="form-control" name="otp_verify" placeholder="Enter OTP" maxlength="6" ng-model="fields.otp">
                             <label data-ng-if="errors.otp" class="errors">{{errors.otp}}</label>
                             <label style="margin-top:10px;color:red">Enter 6 Digit OTP, which is sent to your Email ID</label>
                             <p ng-if="errors.message" class="errors">{{errors.message}}</p>
                           </div>
                         </li>
        
                         <li style="border-bottom:0px !important"><button ng-disabled="!fields.otp" name="otp-button" class="btn btn-red" ng-click="verifyOtp()">Verify</button></li>
        
                       </ul>
                     </div>
                   </form>
                 </div>
                 <div ng-if="!showotpText && showforgottemplate" style="padding:10px" class="confirm">
                   <form name="confirm-password" >
                     <div class="confirm-pass">
                       <ul class="list-unstyled">
                         <li style="border-bottom:0px !important">
                           <label>Password</label>
        
                           <div class="form-group field-loginform-email">
                             <input type="password" id="otp_verify" class="form-control" name="otp_verify" placeholder="Password" ng-model="fields.password">
                             <label data-ng-if="errors.password" class="errors">{{errors.password}}</label>
                           </div>
                         </li>
                         <li style="border-bottom:0px !important">
                           <label>Confirm Password</label>
        
                           <div class="form-group field-loginform-email">
                             <input type="password" id="otp_verify" class="form-control" name="otp_verify" placeholder="Confirm Password" ng-model="fields.confirm_password">
                             <label data-ng-if="errors.confirm_password" class="errors">{{errors.confirm_password}}</label>
                           </div>
                         </li>
        
        
                         <li style="border-bottom:0px !important"><button ng-disabled="!fields.otp" name="otp-button" class="btn btn-red" ng-click="changePassword()">Submit</button></li>
        
                       </ul>
                     </div>
                   </form>
                 </div>-->
            </div>
        </div>
    </div>
    <div class="menuOverlay signinOverlay"></div>
    </div>


</header>
<div ng-controller="signupCtrl">
    <div id="changePass" class="modal bootstrap-dialog login-popup type-primary fade " data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-backdrop="static" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="containt">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <label for="map">Current Password</label>
                                        <input type="password" class="form-control" id=""  placeholder="Current Password" ng-model="formData.oldpassword">
                                        <span class="error" ng-show="errors['oldpassword']">{{errors['oldpassword']}}</span>
                                    </div>

                                    <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                        <label for="map">New Password</label>
                                        <input type="password" class="form-control" id=""  placeholder="New Password" ng-model="formData.password">
                                        <span class="error" ng-show="errors['password']">{{errors['password']}}</span>
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                        <label for="map">Confirm New Password</label>
                                        <input type="password" class="form-control" id=""  placeholder="Confirm New Password" ng-model="formData.confirm_password">
                                        <span class="error" ng-show="errors['confirm_password']">{{errors['confirm_password']}}</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <button type="button"  class="btn btn-blue" ng-click="changePassword()">Update Password</button>
                        <!--<button type="button" id="cancel"  class="btn btn-gray"> Cancel </button>-->

                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script>
    $('#navbar a.signUp').click(function () {
        $('.signinWrap').removeClass('open');
        $('.signupWrap').toggleClass('open');
        $('.frgtPwd').removeClass('open');
    });
    $('#navbar a.signIn').click(function () {
        $('.signupWrap').removeClass('open');
        $('.signinWrap').toggleClass('open');
        $('.frgtPwd').removeClass('open');
        $('#wrongemailndpass').removeClass('open');
    });
    $('.menuOverlay').click(function () {
        $('.signupWrap').removeClass('open');
        $('.signinWrap').removeClass('open');
        $('.frgtPwd').removeClass('open');
        $('#wrongemailndpass').removeClass('open');
    });

    $('#forgotBtn').click(function (evt) {
        $('.frgtPwd').toggleClass('open');
        console.log(">>>>>>>>>>>>>>>inside mine",evt)
        $('.signupWrap').removeClass('open');
        $('.signinWrap').removeClass('open');
        $('#wrongemailndpass').removeClass('open');
    });

    $("header h3").click(function(){
        $('.signinWrap').removeClass('open');
        $('.signupWrap').removeClass('open');
        $('.frgtPwd').removeClass('open');
        $('#wrongemailndpass').removeClass('open');
    })
    $( "#abc,.fa.fa-search" ).click(function(){
        setTimeout(function(){
            $('.search_field').focus()},0)
        $('.signinWrap').removeClass('open');
        $('.signupWrap').removeClass('open');
        $('#navbar').removeClass('in');
        $('.frgtPwd').removeClass('open');
        $('#wrongemailndpass').removeClass('open');
        $('.navbar-toggle.ResposiveNavBtn').addClass('collapsed');
    })

    $('#navbar ul li').click(function () {
        $('#navbar').toggleClass('in');
        $('.navbar-toggle.ResposiveNavBtn').toggleClass('collapsed');
    });
    $('#createAccount').click(function(){
        $('.signinWrap').removeClass('open');
        $('.signupWrap').toggleClass('open');
        $('#wrongemailndpass').removeClass('open');
    })
    $('#haveAccount').click(function(){
        $('.signinWrap').toggleClass('open');
        $('.signupWrap').removeClass('open');
        $('#wrongemailndpass').removeClass('open');
    })

    $('.dropdown-toggle').click(function(e) {
        e.preventDefault();
        setTimeout($.proxy(function() {
            if ('ontouchstart' in document.documentElement) {
                $(this).siblings('.dropdown-backdrop').off().remove();
            }
        }, this), 0);
    });


</script>



<style>
    .errors{
        color:red !important;
    }
    .signup-error{
        color:red !important;
    }
</style>