<!--Banner Starts-->
<style>
    @media(min-width:992px) {
        .navWrap {
            min-height: 638px !important
        }
        .recentWrap {
            min-height: 638px !important
        }
    }

    @media(min-width:769px) {
        .mobview {
            position: absolute;
            top: 50%;
            left: 29%
        }
    }

    @media(max-width:768px) {
        .mobview {
            position: absolute;
            top: 28%;
            left: 15%
        }
    }

    @media(max-width:400px) {
        .scrollview {
            width: 50%;
        }
        .divsize {
            width: 100%;
        }
    }
    .changebgColor{
        background: #2b4786;
        z-index: 2;
        color: #ffffff;
    }
    .changebgColor a{
        color: #ffffff;
    }
</style>

<!--Recent Audio Clips Starts-->
<div class="container scrollpage">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="hidden-xs hidden-sm navWrap">
                <h3 style="padding-top:5px">
                    <li style="margin-top:10px;margin-bottom:10px;">
                        <ul id="abc" ng-controller="searchCtrl">

                            <li>
                                <form name="searchForm" ng-submit="search()">
                                    <div class="customsearch">
                                        <input class="form-control" type="text" ng-model="searchItem" required placeholder="Search">
                                    </div>
                                </form>
                                <!--<i class="fa fa-search" ng-click="search()"></i>-->
                            </li>

                        </ul>
                    </li>

                </h3>
                <ul class="list-unstyled">
                    <li>
                        <h4>
                            <a href="" ng-click="findall()" style="font-size:14px" ng-class="{sel: selected == null}">
                                <b>Recent Audio Feeds</b>
                            </a>
                        </h4>
                    </li>
                    <li ng-repeat="category in cat|orderBy : 'sequence'">
                        <a href="" ng-click="find(category.id,$index)" ng-class="{sel: $index == selected}">
                            {{category.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hidden-md hidden-lg">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div style="border-radius:0px !important;background: #2b4786;
    z-index: 2;
    color: #ffffff;" class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                <a>
                                    {{slectedCategory}}<span class="pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="list-unstyled list-group" style="margin-bottom:0px !important">
                                    <li class="list-group-item" ng-click="find(category.id,$index,category.name);" ng-repeat="category in cat|orderBy : 'sequence'" ng-class="{changebgColor: $index == selected}">
                                        <a>
                                            {{category.name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <!--<div class="commonLoader" ng-if="loading"></div>-->
            <div id="scrollingDiv" class="recentClips divsize" style="max-height:600px;overflow: scroll;overflow-x: hidden;-webkit-overflow-scrolling: touch; " ng-show="list.length" >
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" style="height:350px" ng-repeat="recent in list track by $index"  ng-if="((recent.ismember == true && isLoggIn) || recent.ismember == false || recent.ismember == null )">
                        <div class="thumbnail" style="min-height:300px" >
                            <a href="" ng-click="sendSeoUrlParam(recent.seoUrl)">
                                <div class="" style="height:200px;overflow:hidden;">
                                    <div ng-if="recent.imageurl">
                                        <img style="width:100%;" class="" ng-src="{{recent.imageurl}}" on-error-src="./icon.png">
                                    </div>
                                    <div ng-if="!recent.imageurl">
                                        <img style="width:100%;height:100%" class="" ng-src="./icon.png">
                                    </div>


                                </div>

                                <div class="caption" style="position:relative;min-height:100px;margin-top:10px;vertical-align:bottom">

                                    <div class="disc">
                                        <!--ng-click="sendSeoUrlParam(recent1.seoUrl)""-->

                                        <h5 ng-if="recent.name != 'null' " style="text-transform: capitalize" class="truncate2">{{recent.name}}</h5>

                                        <!-- <p class="truncate1" ng-bind-html="recent.description" title="{{recent.description}}">

                                        </p> -->

                                        <div class="pull-right image-widget">{{recent.postedOn|utc| date:"MM-dd-yyyy h:mm a"}}</div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>

                    <!--<div ng-if="list && !list.length" class="listnot-found recentClips">-->
                    <!--<ul>-->
                    <!--<li class="col-xs-12" style="width:100% !important;margin-left:20px">-->
                    <!--<div class="wrapper1">-->
                    <!--<h2 class="mobview">No Clips found</h2>-->
                    <!--<p class="mobview">-->
                    <!--<a class="catButton" ui-sref="categories">View Category</a></p>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--<div ng-if="list && list.length" class="col-sm-12 col-xs-12">-->
                    <!--<p class="mobview">-->
                    <!--<a class="catButton" ui-sref="categories">View Category</a></p>-->
                    <!--</div>-->
                    <!-- <div class="item text">
                       <ul>
                         <li class=" col-xs-4 text scrollview" ng-hide="list" ng-show="showme" ng-repeat="recent in rFeed track by $index" style="min-height:170px;overflow: hidden;float:left;overflow-x: hidden; ">
                           <a href="" ng-click="sendSeoUrlParam(recent.seoUrl)"><div class="disc">
                             <h5>{{recent.name}}</h5>{{recent.description}}
                             <em>{{recent.postedOn|utc| date:'yyyy-MM-dd HH:mm:ss'}}<i class="fa fa-angle-right"></i></em>
                             </div></a>
                         </li>
                       </ul>
                       <p><a ui-sref="categories">View Category</a></p>
                     </div>-->

                </div>


            </div>
            <div class="col-sm-12 col-xs-12 "  ng-if="!list.length"><div class="mobviewNoContaint"><h2 class="">{{clipmessage}}</h2> </div> </div>

        </div>

    </div>


</div>


<!--<div class="addWrap">-->
<!--<div class="container">-->
<!--<div class="wrapper">-->
<!-- -->
<!--&lt;!&ndash;<img src="img/ad-970x90.png" alt="" />&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <google-adsense ></google-adsense>
        </div>
        </div>
        </div>
        <!--Ad Wrapper Ends-->
        <!--Categories Starts-->
        <div class="categoryWrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>by Category</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li ng-repeat="category in cat|orderBy : 'sequence'">
                                <a ui-sref="category_details({categoryAllies:category.allies})">
                                    <img style="height: 160.2px;width: 232.5px;" ng-if="category.imageUrl != '' && category.imageUrl !=null&&category.imageUrl != undefined" ng-src="{{category.imageUrl}}" on-error-src="./img/no-image.jpg" />
                                    <img ng-if="category.imageUrl == ''||category.imageUrl ==null||category.imageUrl == undefined" ng-src="./img/no-image.jpg" style="height: 160.2px;
    width: 232.5px;"/>
                                    <p>{{category.name}}</p>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Categories Ends-->
        <!--Ad Wrapper Starts-->
        <!--<div class="addWrap">-->
        <!--<div class="container">-->
        <!--<div class="wrapper">-->
        <!--&lt;!&ndash;<google-adsense style="background-color:indianred"></google-adsense>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <google-adsense></google-adsense>
                </div>
                </div>
                </div>
                <!--Ad Wrapper Ends-->

                <!--<script>-->
                <!--$('.navWrap li a').click(function () {-->
                <!--$('.navWrap ul').toggleClass('open');-->
                <!--$(this).toggleClass('open');-->
                <!--});-->
                <!--</script>-->

                <!--Footer Ends-->
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <!--<script src="js/customjs/jquery-1.11.3.min.js"></script>-->
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <!--<script src="js/customjs/bootstrap.js"></script>
                <script src="js/customjs/owl.carousel.min.js"></script>
                <script src="js/customjs/sumoselect.js"></script>
                <script src="js/customjs/mediaelement-and-player.min.js"></script>
                <script src="js/customjs/jquery.slimscroll.min.js"></script>
                <script src="js/customjs/common.js"></script>-->

                <script>

                    $('.navWrap h3').click(function () {
                        console.log(">>>>>>>>..inside this")
                        $('.navWrap ul').toggleClass('open');
                        $(this).toggleClass('open');
                    });
                    $('.list-unstyled').click(function(){
                        $('#collapseOne').toggleClass('in')

                    })
                </script>
