<div class="container">
    <div class="breadcrumbOuter" style="border-bottom:0px !important">
        <div class="">
            <ol class="breadcrumb pull-left" style="padding-bottom:0px !important">
                <li><a href="#" class="home">Home</a></li>
                <li>Results</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="PageHeading">Search Results</h1>
        </div>
    </div>
</div>





<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--Categories Starts-->

<div class="recentAudioDet">

    <div class="container" style="min-height:650px !important;">
        <div class="row">
            <div class="col-xs-12">


                <div class=" catDetails" ng-show="dateclick">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label style="margin-top: 20px;margin-bottom:20px;"><h4>Search the events by Date</h4> </label>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <label class=" formLable">From:</label>
                            <div class="customcalendar"><input type="text"  ng-change="onchangeDate('sd',date.startdate)" ng-class="{errorfeild : strequier}" placeholder="" data-ng-model="date.startdate" class="from date form-control" /> </div>


                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <label class="formLable">To:</label>
                            <div class="customcalendar"><input type="text"  ng-change="onchangeDate('ed',date.enddate)" ng-class="{errorfeild : edrequier}" placeholder="" data-ng-model="date.enddate" class="to date form-control" /></div>

                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <button type="button" ng-click="find_data()" class="searchBTN btn btn-primary"><i class="fa fa-search text-red"></i> </button>
                            <!--<button type="button" ng-click="findall()" class="searchBTN btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>-->
                            <button class="btn btn-danger" style="margin-top:30px" ng-click="findall()">RESET</button>
                        </div><br>

                    </div>
                    <div ng-show="msg != '' " style="color:red">{{msg}}</div>
                </div>
                <div style="overflow : hidden;">
                    <div class="row wrapper1 scrollBar audioScrollBar" id="scrollingDiv3">
                        <!-- <ul ng-if="searchvalue">-->
                        <!-- <li ng-repeat="item in list" style="width:275px;height:200px;float:left;">
                           <a href="" ng-click="sendSeoUrlParam(item.seoUrl)" >
                             <em>{{item.postedOn|utc| date:'yyyy-MM-dd HH:mm:ss'}}<i class="fa fa-angle-right"></i></em>
                             <div class="disc"><h5>{{item.name}}</h5><br />{{item.description}}</div>
                           </a>
                         </li>-->
                        <div style="top:40px;"class="col-xs-12 col-sm-6 col-md-3"  ng-repeat="recent in list track by $index">
                            <div class="thumbnail" style="min-height:300px">
                                <a href="" ng-click="sendSeoUrlParam(recent.seoUrl)">
                                    <div class="" style="height:220px;overflow:hidden;">
                                        <div ng-if="recent.imageurl" style="height:240px">
                                            <img style="width:100%;" class="" ng-src="{{recent.imageurl}}">
                                        </div>
                                        <div ng-if="!recent.imageurl" style="height:240px">
                                            <img style="width:100%;height:100%" class="" ng-src="./img/no-image.jpg">
                                        </div>


                                    </div>

                                    <div class="caption" style="position:relative;min-height:100px;margin-top:10px;vertical-align:bottom">

                                        <div class="disc">
                                            <!--ng-click="sendSeoUrlParam(recent1.seoUrl)""-->

                                            <h5 style="text-transform: capitalize" class="truncate1">{{recent.name}}</h5>

                                           

                                            <div class="pull-right image-widget" >{{recent.postedOn|utc| date:"MM-dd-yyyy HH:mm"}}</div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <!--  </ul>-->

                    </div>
                </div>
                <div style="margin-top:20%" ng-if="list && !list.length  && !loading" class="col-sm-12" align="center" >
                    <h2 class="" >No Clips found</h2>
                </div>


            </div>
        </div>
        <!--<div align="center"><button align="center" ng-if="showbutton"class="btn btn-primary" style="margin-top:50px;margin-bottom:10px;" ng-click="getmoreSearch()">Load More</button>-->

    </div>

</div>

<!--Ad Wrapper Ends-->
<style>
    .truncate1 {
        padding-top:5px;
        display:block;
        display: -webkit-box;
        max-width: 100%;
        max-height: 33.6px;
        font-size: 14px;
        line-height: 1.2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .truncate2 {
        width: 237px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .image-widget{
        background-color: #000;
        padding: 5px;
        color: #fff;
        position: absolute;
        right: -3px;
        top: 73%;
    }

</style>
<script>
    $(function() {
        $(".date").datepicker({
            format: "mm-dd-yyyy",
            autoclose:true
        }).datepicker("setDate", new Date());
    });
</script>