﻿<div class="signupWrap">
    <div class="dropdown-menu animated fadeInUp signInBox">
        <div class="row">
            <div class="col-xs-12"><h3>Sign Up</h3></div>
            <div class="col-xs-12"><input type="text" placeholder="First Name"></div>
            <div class="col-xs-12"><input type="text" placeholder="Last Name"></div>
            <div class="col-xs-12"><input type="text" placeholder="Email Address"></div>
            <div class="col-xs-12"><input type="text" placeholder="Phone Number"></div>
            <div class="col-xs-12"><input type="password" placeholder="Password"></div>
            <div class="col-xs-12"><input type="password" placeholder="Confirm Password"></div>
            <div class="col-xs-12"><input type="submit" value="Sign Up"></div>
            <div class="col-xs-12" align="right"><a href="#" class="signIn">Already have an account?</a></div>
        </div>
    </div>
    <div class="menuOverlay signinOverlay"></div>
</div>