<div id="updateclip11" class="modal bootstrap-dialog login-popup type-primary fade " data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close"  data-backdrop="static" aria-label="Close"><span ng-click="cancelEdit()" aria-hidden="true">&times;</span></button>
                <h1 class="text-center">Update the details</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="uploadform2" class="form col-md-12 center-block" name="upload_form11" >
                            <!--<div class="loading-dialog" ng-if="loading"></div>-->
                            <div class="form-group">
                                <select id="selectedCat" class="form-control input-lg" ng-model="fields.categoryId" name="selected_category" ng-options="category.id as category.name for category in cat">
                                    <!--<option value="" style="color:red;">Current category :{{selectedCategory}}</option>
                                    <option ng-repeat="item in cat|orderBy:'sequence'" value="{{item.id}}">
                                        {{item.name}}
                                    </option>-->
                                </select>


                            </div>
                            <div class="form-group">
                                <input id="dataname" type="text" class="form-control input-lg" placeholder="Enter Subject" ng-model="fields.name" name="name">

                            </div>
                            <div class="form-group">
                                <textarea name="description" class="form-control input-lg" placeholder="Enter description here" name="enter description here" ng-model="fields.description" ></textarea>
                            </div>
                            <!--<div class="form-group">
                                <label><h4>Enter date: </h4></label>
                                <input name="datetime" type="text" class="form-control input-lg" placeholder="Enter date " datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" data-ng-model="fields.postedOn" />

                                &lt;!&ndash;<datetimepicker
                                  hour-step="hourStep"
                                  minute-step="minuteStep"
                                  ng-model="date"
                                  show-meridian="showMeridian"
                                  date-format="{{format}}"
                                  date-options="dateOptions"
                                  date-disabled="disabled(date, mode)"
                                  datepicker-append-to-body="false"
                                  readonly-date="false"
                                  disabled-date="false"
                                  hidden-time="false"
                                  hidden-date="false"
                                  name="datetimepicker"
                                  show-spinners="true"
                                  readonly-time="false"
                                  date-opened="dateOpened"
                                  show-button-bar="false"
                                  >
                                  &lt;!&ndash; Use date-ng-click="open($event, opened)" to override date ng-click &ndash;&gt;
                                </datetimepicker>&ndash;&gt;
                            </div>-->
                            <div class="row form-group">
                                <div class="calendar col-md-6 form-group">
                                    <label><h4>Enter date: </h4></label>
                                    <input name="date" style="border-radius:0px" type="text" placeholder="By Date" class="form-control date input-lg" data-ng-model="cdate"/>
                                    <!--<input name="datetime" type="text" class="form-control input-lg"placeholder="Enter date " datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" data-ng-model="datetime" required/>-->
                                    <span class="error" ng-show="submitted && upload_form.date.$error.required" style="color: #d01b10">Please enter date</span></div>

                                <div class="col-md-6 form-group" style="position:relative">
                                    <label><h4>Enter Time: </h4></label>
                                    <input name="time" style="border-radius:0px" id="timepicker2" type="text" class="form-control input-lg" data-ng-model="time">
                                    <span class="input-group-addon maintimeinput"><i class="glyphicon glyphicon-time" style="right:20px"></i></span>
                                    <span class="error" ng-show="submitted && upload_form.time.$error.required" style="color: #d01b10">Please enter time</span>
                                </div>
                            </div>
                            <!--<label><h4>Enter Youtube Url:</h4></label>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Enter Url" name="youtubeurl" ng-model="fields.youtubeUrl"/>
                            </div>
                            <div class="form-group">
                                <select class="form-control input-lg" ng-model="fields.type">
                                    <option value="">Select Media Type</option>
                                    <option value="audio">Audio</option>
                                    <option value="video">Video</option>
                                </select>
                            </div>-->
                            <div class="form-group">
                                <label><h4>Select Media Type </h4></label>
                                <select ng-init="media_type='audio'" class="form-control input-lg" ng-model="fields.type" name="media_type" >
                                    <option  ng-if="false" ></option>
                                    <!-- <option  value="select">Select Type</option>-->
                                    <option value="audio">Audio</option>
                                    <option value="video">Video</option>
                                    <option value="youtube">Youtube Url</option>
                                </select>
                                <!--<span class="error" ng-show="submitted && media_selected" style="color: #d01b10">Please select media type</span>-->

                            </div>
                            <div class="form-group" ng-if="fields.type=='youtube'">
                                <label><h4>Enter Youtube Url </h4></label>
                                <input type="text" class="form-control input-lg" placeholder="Enter Url" name="youtubeurl" ng-model="fields.youtubeUrl" />
                            </div>
                            <label ng-show="fields.type!='youtube'"> Upload audio/video </label>
                            <div ng-show="fields.type!='youtube'" class="form-group">
                                <input id="audiofile" class="form-control input-lg"
                                       type="file"
                                       ngf-select
                                       ng-model="fileaudio"
                                       name="file"
                                       ngf-pattern="'{{fields.type}}/*'"
                                       accept="{{fields.type}}/*"
                                       ngf-max-size="20MB"
                                        />
                                <div ng-if="shoowfiledata['showaudio'] && fields.url">
                                    Current Audio : {{fields.url}}
                                </div>

                                <i ng-show="upload_form11.file.$error.required">*required</i><br>
                                <i ng-show="upload_form11.file.$error.maxSize">File too large
                                    {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                                <!--  Multiple files
                                 <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
                                 Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div>
                               <p>{{up.progress}}</p>-->
                            </div>
                            <label> Upload Image </label>
                            <div class="form-group">
                                <input id="imgfile" class="form-control input-lg"
                                       type="file"
                                       ngf-select
                                       ng-model="imgfileimage"
                                       name="imgfile"
                                       ngf-pattern="image/*"
                                       accept="image/*"
                                       ngf-max-size="20MB"
                                        />
                                <div ng-if="shoowfiledata['showaudio'] && fields.imageurl">
                                    Current Image :
                                    <div class="" style="min-height:100px;overflow:hidden;">
                                        <img style="width:40%;height:40%" class="" ng-src="{{fields.imageurl}}" alt="no image selected">
                                    </div>
                                </div>

                                <i ng-show="upload_form11.imgfile.$error.required">*required</i><br>
                                <i ng-show="upload_form11.imgfile.$error.maxSize">File too large
                                    {{imgfile.size / 1000000|number:1}}MB: max 20M</i>
                                <!--  Multiple files
                                 <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
                                 Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div>-->
                                <p>{{progress}}</p>
                            </div>

                            <div class="row" align="center" >
                                <button class="btn btn-primary "  ng-click="editData()">Update</button>

                                <button class="btn btn-danger " ng-click="cancelEdit()">CANCEL</button>
                            </div>




                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    /*$(function() {
     $(".date").datepicker({
     format: "mm-dd-yyyy",
     autoclose:true
     }).datepicker("setDate", new Date());

     });*/
</script>
<style>
    .bootstrap-timepicker-widget table td input {
        width: 85px !important;
        margin: 0;
        text-align: center;
    }
    .maintimeinput{
        position: absolute;
        left: 90%;
        top: 46%;
        z-index: 99999999999999;
        background: transparent;
        border: 0px;
    }
</style>
<script type="text/javascript">
    $(".date").datepicker({
        format: "mm-dd-yyyy",
        autoclose:true
    }).datepicker("setDate", new Date());

</script>