<div class="container">
    <div class="row">
        <!--<div class="col-sm-12"> <p class="ms-mt-l ms-mb-m uploadNewAVTitle">Upload Audios</p> </div>-->
    </div>

    <!--Recent Audio Clips Starts-->
    <div class="row">
        <div class="col-sm-12">
            <div class="modal-dialog modelData">
                <div class="modal-content " >
                    <div class="modal-header"><h1 class="text-center">Upload Audios Details</h1> </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form col-md-12 center-block" ng-controller="fileUploadCtrl as up" name="upload_form" novalidate>
                                    <!--<div class="loading-dialog" ng-if="loading"></div>-->
                                    <div class="form-group">
                                        <select class="form-control input-lg" ng-model="selected_category" name="selected_category" required>
                                            <option value="">Select Category</option>
                                            <option ng-repeat="item in cat|orderBy:'sequence'" value="{{item.id}}">
                                                {{item.name}}
                                            </option>
                                        </select>
                                        <span class="error" ng-show="submitted && upload_form.selected_category.$error.required" style="color: #d01b10">Please select category</span>

                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" placeholder="Enter Subject" ng-model="name" name="name"  ng-maxlength="100" required>
                                        <span class="error" ng-show="submitted && upload_form.name.$error.required" style="color: #d01b10">Please enter subject</span>
                                        <span class="error" ng-show="submitted && upload_form.name.$error.maxlength" style="color: #d01b10"> Too long</span>

                                    </div>
                                    <div class="form-group">
                                        <textarea name="description" class="form-control input-lg"  ng-maxlength="5000" placeholder="Enter description here" name="enter description here" ng-model="description" required></textarea>
                                        <span class="error" ng-show="submitted && upload_form.description.$error.required" style="color: #d01b10">Please enter description</span>
                                        <span class="error" ng-show="submitted && upload_form.description.$error.maxlength" style="color: #d01b10"> Too long</span>
                                    </div>
                                    <div class="row">

                                        <div class="calendar form-group col-md-6 col-xs-6 ">
                                            <label><h4>Enter date: </h4></label>
                                            <input name="date" style="border-radius:0px" onfocus="blur()" type="text" placeholder="By Date" class="form-control date input-lg" data-ng-model="cdate"/>
                                            <!--<input name="datetime" type="text" class="form-control input-lg"placeholder="Enter date " datetime-picker date-format="yyyy-MM-dd HH:mm:ss" close-on-select="false" data-ng-model="datetime" required/>-->
                                            <span class="error" ng-show="submitted && upload_form.date.$error.required" style="color: #d01b10">Please enter date</span>
                                        </div>

                                        <div class="col-md-6 col-xs-6 form-group bootstrap-timepicker timepicker" style="position:relative">
                                            <label><h4>Enter Time: </h4></label>
                                            <input name="time" id="timepicker1" onfocus="blur()" type="text" class="form-control input-lg" data-ng-model="time">
                                            <span class="input-group-addon maintimeinput"><i class="glyphicon glyphicon-time" ></i></span>
                                            <span class="error" ng-show="submitted && upload_form.time.$error.required" style="color: #d01b10">Please enter time</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label><h4>Select Media Type </h4></label>
                                        <select ng-init="media_type='other'" class="form-control input-lg" ng-model="media_type" name="media_type" >
                                            <option  ng-if="false" ></option>
                                            <!-- <option  value="select">Select Type</option>-->
                                            <option value="other">Select Type</option>
                                            <option value="audio">Audio</option>
                                            <option value="video">Video</option>
                                            <option value="youtube">Youtube Url</option>
                                        </select>
                                        <!--<span class="error" ng-show="submitted && media_selected" style="color: #d01b10">Please select media type</span>-->

                                    </div>
                                    <div class="form-group" ng-show="media_type=='youtube'">
                                        <label><h4>Enter Youtube Url </h4></label>
                                        <input type="text" class="form-control input-lg" placeholder="Enter Url" name="youtubeurl" ng-model="youtube_url" />
                                    </div>

                                    <label ng-show="media_type=='audio' || media_type=='video'"> Upload audio/video </label>
                                    <div class="form-group" ng-show="media_type=='audio' || media_type=='video'">
                                        <input ng-show="media_type=='audio' || media_type=='video'" id="audiofile" class="form-control input-lg"
                                               type="file"
                                               ngf-select
                                               ng-model="file"
                                               name="file"
                                               ngf-pattern="'{{media_type}}/*'"
                                               accept="{{media_type}}/*"
                                               ng-disabled="media_type=='youtube'"
                                               />
                                        <!--<i ng-show="upload_form.file.$error.required">*required</i><br>
                                        <i ng-show="upload_form.file.$error.maxSize">File too large
                                          {{up.file.size / 1000000|number:1}}MB: max 20M</i>-->
                                        <span class="error" ng-show="(media_type=='audio' || media_type=='video')&&submitted && upload_form.file.$error.required" style="color: #d01b10">Please choose audio/video file.</span>
                                        <span class="error" ng-show="submitted && upload_form.file.$error.maxSize" style="color: #d01b10">File too large {{up.file.size / 1000000|number:1}}MB: max 20M.</span>

                                        <!--  Multiple files
                                         <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
                                         Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div>
                                       <p>{{up.progress}}</p>-->
                                    </div>
                                    <label> Upload Image </label>
                                    <div class="form-group">
                                        <input id="imgfile"class="form-control input-lg"
                                               type="file"
                                               ngf-select
                                               ng-model="imgfile"
                                               name="imgfile"
                                               ngf-pattern="image/*"
                                               accept="image/*"
                                               ngf-max-size="20MB"
                                        />
                                        <i ng-show="up.upload_form.imgfile.$error.required">*required</i><br>
                                        <i ng-show="up.upload_form.imgfile.$error.maxSize">File too large
                                            {{up.imgfile.size / 1000000|number:1}}MB: max 20M</i>
                                        <!--  Multiple files
                                         <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
                                         Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div>-->
                                        <p>{{up.progress}}</p>
                                    </div>

                                    <div class="form-group left">
                                        <button class="btn btn-primary btn-lg btn-block "  ng-click="up.submit()">SUBMIT</button>
                                    </div>
                                    <div class="form-group right">
                                        <a  class="btn btn-danger btn-lg btn-block " ui-sref="adminpage">CANCEL</a>
                                    </div>

                                </form>
                                <!--<div class="col-md-12">-->
                                <!--<button class="btn btn-danger btn-lg btn-block left" ui-sref="adminpage">CANCEL</button>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    $(function() {
        $(".date").datepicker({
            format: "mm-dd-yyyy",
            autoclose:true
        }).datepicker("setDate", new Date());
    });
</script>
<style>
    .bootstrap-timepicker-widget table td input {
        width: 85px !important;
        margin: 0;
        text-align: center;
    }
    .maintimeinput{
        position: absolute;
        top: 46%;
        z-index: 99999999999999;
        background: transparent;
        border: 0px;
    }
</style>
<script type="text/javascript">
    /* $(function () {
     // var def = $("#num1").val();
     $('#timepicker1').timepicker({
     timeFormat: 'h:mm p',
     //defaultTime: def,
     showMeridian: false
     });

     });*/
    $('#timepicker1').timepicker({
        timeFormat: 'h:mm p',
        minuteStep: 5,
        //defaultTime: def,
        showMeridian: false
    });
</script>