
<div class="container ">
    <div class="row adminPage">



        <div class="col-md-12 col-xs-12 ">





             <div class="col-md-4 col-xs-12 " style="margin-top:5px;margin-bottom:5px">
                 <h2>Users List</h2>
             </div>
             <div class="col-md-3 col-md-offset-5 col-xs-12 " style="margin-top:5px;margin-bottom:5px">
             <button style="width:100%" class="btn btn-primary" ng-click="addUser(user)">Add User</button>

         </div>
  <p>This list contains the details of the user registered on Mnpolice-cips website:</p><br/><br/>
   <div class="row"><div class="col-md-12 "><h4 class="searchbyLabel">Search By: </h4></div></div>
   <div class="row">
       <div class="col-md-4 col-xs-6" >
       <select class="form-control input-md " ng-model="item" >
           <option value="">Select</option>
           <option value="name">Name</option>
           <option value="email">Email</option>
           <option value="PhoneNo">Phone No</option>
           <!--<option value="">Records At one time</option>-->
       </select>
       </div>
       <div ng-show="item=='email'">
           <div class="col-md-4 col-xs-6 mo-mb-10">
            <input type="text" placeholder="Email"class="form-control input-md" ng-model="user.email">
       </div></div>
       <div ng-show="item=='name'">
               <div class="col-md-4 col-xs-6 mo-mb-10">
              <input type="text" placeholder="Name" class="form-control input-md" ng-model="user.name">
       </div></div>
       <div ng-show="item=='PhoneNo'">
               <div class="col-md-4 col-xs-6 mo-mb-10">
               <input type="number" placeholder="Phone No" class="form-control input-md" ng-model="user.phoneno">
           </div>
       </div>

        <div class="col-md-4 col-xs-6 mo-mb-10" >
            <button class="btn btn-primary" ng-click="finduser(user)">SEARCH</button>
            <button class="btn btn-danger" ng-click="allList()">RESET</button>
        </div>
   </div>
          <div class="scrollBar  " ng-if="!noRecords">
              <div class="table-responsive">
    <table class="table mobileViewTable">
        <thead>
        <tr class="mobileViewTableHeader">
            <th><h4>S.No.</h4></th>
            <th><h4>First Name</h4></th>
            <th><h4>Last Name</h4></th>
            <th><h4>Email</h4></th>
            <th><h4>Phone No.</h4></th>
            <th><h4>Registered On</h4></th>
            <th><h4>Role</h4></th>
            <th><h4>Active</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in list">
            <td><span>S.No.</span>{{$index+1}}</td>
            <td><span>First Name</span>{{user.firstName}}</td>
            <td><span>Last Name</span>{{user.lastName}}</td>
            <td><span>Email</span>{{user.email}}</td>
            <td><span>Phone No.</span>{{user.phoneNo}}</td>
            <td ng-if="user && user.createdOn!=null"><span>Registered On</span>{{user.createdOn|utc| date:"MM-dd-yyyy"}}</td>
            <td ng-if="user && user.createdOn==null"><span>Registered On</span>Not Recoded</td>
            <td><span>Role</span>{{user.role}}</td>
            <td class="lastRow"><span>Active</span><input type="checkbox" ng-checked="user.active==1" ng-true-value="'Active'" ng-false-value="'Inactive'" ng-model="activity" ng-change="changeStatus(user.id,activity)">
            </td>
        </tr>
        </tbody>
    </table>
                  </div>
          </div>


            <!--<div ng-if="list && list.length" style="text-align:center;" class="col-sm-12">-->
                <!--<div align="center">-->
                    <!--<button align="center" ng-show="showbutton "class="btn btn-primary" style="margin-top:20px;margin-bottom:25px;border-radius:0px" ng-click="getmoreSearch()">Load More</button>-->
                <!--</div>-->
            <!--</div>-->
  </div>
</div>


    </div>


<div class="noRecords" ng-if="noRecords"><h2>No Data Found</h2></div>
<a id="back-to-top"  class="btn btn-primary btn-lg back-to-top"
   role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
    <span class="glyphicon glyphicon-chevron-up"></span>
</a>









