﻿
<div class="breadcrumbOuter">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" class="home">Home</a></li>
            <li><a href="#">Police Chase Audio</a></li>
            <li>Minneapolis / MetroTransit Robbery / Shooting 9/5</li>
        </ol>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="PageHeading">A shocking mass murder took place near Chevaline, France</h1>
        </div>
    </div>
</div>





<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="/client/img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--Categories Starts-->
<div class="VedioDetails">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="wcustomhtml">
                    <script height="365px" width="100%" src="http://player.ooyala.com/iframe.js#ec=wyaTJoaDruPiicPqPFLb0LlotQyudV_H&pbid=f9babf3a1fd64fbb82916ce9d76ffcfa"></script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="videoDetailcont">
                    <img src="/client/img/11.jpg" alt="" />
                    <a href="">Disclaimer: This Story is messed up. The content may be disturbing to some.</a>
                    <p> On September 5, 2016, a shocking mass murder took place near Chevaline, France. A British tourist named Saad al-Hilli was traveling on a mountainside 
                    road with his wife, Iqbal, their two young daughters, Zainab and Zeena, and Iqbal’s elderly mother, Suhalia al-Allaf. 
                    </p><p>

                            Sometime that afternoon, their vehicle was ambushed near Lake Annency and riddled with bullets. Saad, Iqbal, and Suhalia were all shot to death. Zeena survived the attack by staying hidden, and Zainab was wounded but managed to pull through.
                    </p><p>
                            A French cyclist named Sylvain Mollier was also found dead at the scene, presumably at the wrong place at the wrong time. To this day, investigators have been unable to determine who was responsible, or what their motive might have been, and the shooting has been described as “the perfect crime.” If that wasn’t enough, the murders were also followed by an astonishing coincidence
                    </p><p>
                        The Times-Tribune does not identify victims of sexual assault.
                    </p><p>
                            None of Iqbal’s family or friends knew this wasn’t her first marriage. In February 1999, Iqbal was working in the US and, in order to get a green card and remain in the country, she agreed to marry an oil worker named Jim Thompson. The marriage did not work out, and the couple split up the following year.
                    </p><p>
                            When Iqbal left the country, she eventually got remarried and started a family with Saad al-Hilli, but never told anybody about her previous marriage to Thompson. However, the marriage ceased to be a secret after a stunning turn of events. Mere hours after Iqbal al-Hilli’s murder, Jim Thompson suffered a fatal heart attack while driving through his hometown of Natchez, Mississippi. 
                    </p><p>
                        After troopers found Mr. Paulino inside the apartment, he "head-butted" Trooper Michael Foux.
                    </p><p>
                        He was charged with two counts each of aggravated assault and aggravated indecent assault, along with one count each of rape, involuntary deviate sexual intercourse and sexual assault, all felonies. He also faces misdemeanors for a count of simple assault and two counts of indecent assault.
                    </p><p>
                            Naturally, there was some suspicion of foul play, but it appears that Thompson’s death had no connection to his ex-wife and was nothing more than an unfortunate coincidence.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Need Something Crazier?</h3>
            </div>
        </div>
        <div class="categoryWrap">
            <div class="row">
                <div class="col-xs-12"><h4>Shocking Incidents Caught On Video:</h4></div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <ul>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=tFtnB9s8c3M" /></video>
                                <p>Unbelievable Shootout</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=a7FdvE9K9xI" /></video>
                                <p>Sickening Assault</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=z7MNGbFy9yQ" /></video>
                                <p>Assault of Trooper</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=2nt0DT0nXq8" /></video>
                                <p>Firefighter Falls Into Fire</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="categoryWrap">
            <div class="row">
                <div class="col-xs-12"><h4>Criminals You Won't Believe:</h4></div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=ebOmRepngcs" /></video>
                                <p>This man's made the news twice</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=B9bgBjKCxGQ" /></video>
                                <p>Ya, Emmanuel Paulino Went Nucking...</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=ojujiiZPSw8"></video><p>Ranting Meth-Head Steal Squad Car</p>
                            </div>
                        </li>
                        <li>
                            <div class="videoOuter">
                                <video width="100%" height="150"><source type="video/youtube" src="https://www.youtube.com/watch?v=qcoUpqVaD00" /></video><p>You Won't Believe It</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Categories Ends-->
<!--Ad Wrapper Starts-->
<div class="addWrap">
    <div class="container">
        <div class="wrapper">
            <img src="/client/img/ad-970x90.png" alt="" />
        </div>
    </div>
</div>
<!--Ad Wrapper Ends-->
<!--footer Starts-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><p>&copy; 2016 minnesota Police. All rights reserved.</p></div>
            <div class="col-sm-6">social links</div>
        </div>
    </div>
</footer>
<!--Footer Ends-->
