<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					


<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-school-worker-reid-fontaine-accused-of-having-sex-with-cow-while-buddy-michael-jones-filmed.html'>
<img src="/uploads/5/6/5/5/5655017/1395245630.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Arrested for sexually abusing cows</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-border-width:0 " style="padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:10px;text-align:center">
<a href='http://www.mnpoliceclips.com/video-you-wont-believe-why-kenneth-haskins-committed-arson.html'>
<img src="/uploads/5/6/5/5/5655017/1395245739.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Allegedly Set Fire To Apt Bldg Because Mgmt Told Him To Stop Masturbating</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-harris-county-deputy-constable-emmanuel-augustine-arrested-in-prostitution-sting-arranged-by-his-agency.html'>
<img src="/uploads/5/6/5/5/5655017/7585341.jpg?113" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Caught up in his own department's prostitution sting.</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-border-width:0 " style="padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:10px;text-align:center">
<a href='http://www.mnpoliceclips.com/video-2-armed-robbers-vs-2-book-toting-students.html'>
<img src="/uploads/5/6/5/5/5655017/1395245783.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">2 Armed Robbers VS 2 Book Toting Students</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-ya-emmanuel-paulino-went-nucking-futs.html'>
<img src="/uploads/5/6/5/5/5655017/1395244197.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Ya, Emmanuel Paulino Went Nucking Futs!</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-deputies-say-man-murdered-stepfather-with-atomic-wedgie.html'>
<img src="/uploads/5/6/5/5/5655017/1395244242.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Deputies say man murdered stepfather with "Atomic Wedgie"</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-james-lyons-a-registered-sex-offender-arrested-2xs-this-week-for-sex-with-dogs.html'>
<img src="/uploads/5/6/5/5/5655017/7475709.png?110" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"> James Lyons A Registered Sex Offender Arrested 2x's This Week For Sex With Dogs</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-border-width:0 " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-brother-dies-after-being-talked-into-eating-cocaine-other-brother-had-hidden-in-his-butt.html'>
<img src="/uploads/5/6/5/5/5655017/1395244302.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Man ate cocaine hidden in brother's buttocks, dies shortly after</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-tempe-az-police-officer-garrett-peterson-is-nucking-futs.html'>
<img src="/uploads/5/6/5/5/5655017/1395242182.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Tempe, AZ Police Officer Garrett Peterson Is Nucking Futs!!!</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-constipated-or-just-not-stop-fully-for-a-stop-sign-police-are-here-to-help-x-rays-enemas-fingers-sedation-colonoscopy.html'>
<img src="/uploads/5/6/5/5/5655017/1395242155.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Cops REALLY liked this guys butt</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-man-rips-off-penis-after-eating-hallucinogenic-mushrooms.html'>
<img src="/uploads/5/6/5/5/5655017/1395242517.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Man rips off penis after eating hallucinogenic mushrooms</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-jay-matthew-riley-turns-himself-in-for-child-porn-due-to-computer-virus.html'>
<img src="/uploads/5/6/5/5/5655017/4332629.png?113" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Jay Matthew Riley Turns Himself In For Child Porn Due To Computer Virus</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/kara-vandereyk-arrested-for-having-sex-with-a-pit-bull-in-her-back-yard.html'>
<img src="/uploads/5/6/5/5/5655017/________________9809120.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Having Sex With A Pit Bull In Her Back Yard</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/the-story-of-a-man-and-a-horse.html'>
<img src="/uploads/5/6/5/5/5655017/________5102853.png?127" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">The Insane Story Of A Man And A Horse</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="/uploads/5/6/5/5/5655017/________2810323.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Drunk 1/2 Naked Woman Flees In Powerwheels</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/police-dog-forced-to-write-witness-statement-for-court-case.html'>
<img src="/uploads/5/6/5/5/5655017/____3450605.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Police K9 'Writes' Witness Statement</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/edward-kirk-dinosaur-acid-trip.html'>
<img src="/uploads/5/6/5/5/5655017/________6546049.png" alt="Picture Weird news, funny news, funny crime, strange news, bizarre news, strange crime, dumb criminals,    " style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Drug Dealer's Dinosaurs And Aliens Trip Leads To Arrest</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/woman-kills-man-by-squeezing-his-testicles-over-parking-dispute.html'>
<img src="/uploads/5/6/5/5/5655017/____1623026.png?126" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Woman Kills Man By(Well, Guess)</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/zebulon-man-accused-of-sex-acts-with-shelter-dogs.html'>
<img src="/uploads/5/6/5/5/5655017/________9892357.png" alt="Picture Weird news, funny news, funny crime, strange news, bizarre news, strange crime, dumb criminals,    " style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">A Man Who Works At The Animal Shelter Arrested.</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/naked-carnival-worker-gregory-matthew-bruni.html'>
<img src="/uploads/5/6/5/5/5655017/________2193040.png" alt="Picture Weird news, funny news, funny crime, strange news, bizarre news, strange crime, dumb criminals,    " style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Naked Gregory Matthew Bruni Dodges Bullets, Poops, Eats Vacuum Bag Contents, Etc</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/video-naked-face-eating-attacker-shot-killed-by-palm-beach-county-deputy.html'>
<img src="/uploads/5/6/5/5/5655017/__8187434.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Naked face-eating attacker shot, killed by Palm Beach County deputy</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/video-former-deputy-stephen-amaral-gets-dupped-by-naked-woman.html'>
<img src="/uploads/5/6/5/5/5655017/_6490957.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Former deputy Stephen Amaral gets dupped by naked woman</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/video-hunter-attacked-by-naked-guy-in-the-woods-screaming-about-bigfoot-w911-audio.html'>
<img src="/uploads/5/6/5/5/5655017/_8871361.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Hunter Attacked By Naked Guy In The Woods Screaming About Bigfoot (W/911 Audio)</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/video-bloody-man-covered-in-salt-and-soap-tries-to-burn-down-apt-due-to-gay-demons.html'>
<img src="/uploads/5/6/5/5/5655017/_7091932.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Bloody Man Covered In Salt And Soap Tries To Burn Down Apt Due To Gay Demons</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/eel-surgically-removed-from-mans-intestines.html'>
<img src="/uploads/5/6/5/5/5655017/________9719793.png?125" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Eel Surgically Removed From Man's Intestines</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/police-chief-recovering-after-eating-drug-laced-cake.html'>
<img src="/uploads/5/6/5/5/5655017/________799868.png?125" alt="Picture Weird news, funny news, funny crime, strange news, bizarre news, strange crime, dumb criminals,    " style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Police Chief Gets HIGH Goes Grazy</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/a-teacher-and-her-naughty-tweets.html'>
<img src="/uploads/5/6/5/5/5655017/________8467757.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">A Teacher And Her Naughty Tweets w/Pics</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/brittany-angelique-sonnier-into-having-sex-with-dogs.html'>
<img src="/uploads/5/6/5/5/5655017/________6847540.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Brittany Sonnier "Into having sex with dogs"</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div class="paragraph" style="text-align:left;"><br /><a href="http://www.mnpoliceclips.com/video-philadelphia-pa-police-share-video-of-the-worlds-worst-arsonist.html" style="font-size: 1em; line-height: 1.5;" title="">VIDEO: Philadelphia, PA Police Share Video Of The World's Worst Arsonist</a><br /><br /><a href="http://www.mnpoliceclips.com/dashcam-video-insane-meth-head-steals-police-car-and-leads-officers-on-120mph-chase.html" style="font-size: 1em; line-height: 1.5;" title="">DASHCAM VIDEO: Insane Meth-Head Steals Police Car And Leads Officers On 120mph Chase</a><br /><br /><a href="http://www.mnpoliceclips.com/man-charged-with-dui-despite-blood-alcohol-content-of-0000.html" style="font-size: 1em; line-height: 1.5;" title="">Man Charged With DUI Despite Blood Alcohol Content of 0.000</a><br /><br /><a href="http://www.mnpoliceclips.com/video-texas-cop-shoots-man-after-women-refuse-his-lsquowife-swappingrsquo-plan.html" style="font-size: 1em; line-height: 1.5;" title="">VIDEO: Texas cop shoots man after women refuse his &lsquo;wife-swapping&rsquo; plan</a><br /><br /><a href="http://www.mnpoliceclips.com/warning-graphic-video-naked-man-attacking-people-in-san-francisco-bart-station.html" style="font-size: 1em; line-height: 1.5;" title="">WARNING GRAPHIC VIDEO: Naked Man Attacking People In San Francisco BART Statio</a>n<br /><br /><a href="http://www.mnpoliceclips.com/video-8yo-suspended-for-playing-cops-and-robbers.html" style="" title="">VIDEO: 8y/o Suspended For Playing Cops And Robbers</a><br /><br /><a href="http://www.mnpoliceclips.com/video-officer-asked-not-to-come-to-school-in-uniformarmed.html" style="" title="">VIDEO: Officer Asked Not To Come To School In Uniform/Armed</a><br /><br /><a href="http://www.mnpoliceclips.com/video-man-arrested-accused-of-making-a-pretend-gunlike-hand-gesture-in-movie-theater.html" style="font-size: 1em; line-height: 1.5;" title="">VIDEO: Man arrested, accused of making a pretend gunlike hand gesture in movie theater</a><br /><br /><a href="http://www.mnpoliceclips.com/video-man-charged-in-odd-extortion-and-rape-of-his-wifes-ex-husband.html" style="font-size: 1em; line-height: 1.5;" title="">VIDEO: Man charged in odd extortion and rape of his wife's ex-husband</a><br /><br /><a href="http://www.mnpoliceclips.com/video-young-autistic-boy-suspended-over-drawing-cartoon-bomb.html" style="font-size: 1em; line-height: 1.5;" title="">VIDEO: Young Autistic Boy Suspended Over Drawing Cartoon Bomb</a><br /><br /><a href="http://www.mnpoliceclips.com/video-mcdonalds-rage.html" style="font-size: 1em; line-height: 1.5;" title="">VIDEO: McDonald's Rage</a><br /><br /><a href="http://www.mnpoliceclips.com/video-arrested-for-what-eating-a-succulent-chinese-meal.html" style="font-size: 1em; line-height: 1.5;" title="">VIDEO: Arrested For What? Eating A Succulent Chinese Meal?</a><br /><br /><a href="http://www.mnpoliceclips.com/video-child-suspended-and-possibly-expelled-for-playing-with-a-fake-gun-in-his-yard-at-his-home.html" style="" title="">VIDEO: Child Suspended, And Possibly Expelled, For Playing With A Fake Gun IN HIS YARD! AT HIS HOME</a><br /><br /><a href="http://www.mnpoliceclips.com/video-13-year-old-girl-crippled-by-airsoft-bbs.html" style="" title="">VIDEO: 13 year old girl "crippled" by airsoft bb's.</a><br /></div>
</div>

			<div class="clear"></div>
		</div>
	</div>
</div>
