<h2 class="wsite-content-title" style="text-align:center;">Alcoholic All-Stars<br /></h2>

<div class="paragraph" style="text-align:center;">Click Corresponding Picture For Story</div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/michael-hubbard-tries-to-smuggle-duck-and-beer-into-court.html'>
<img src="/uploads/5/6/5/5/5655017/_9947733.png?118" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Idiot Tries To Smuggle Duck And Beer Into Court</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/drunk-12-naked-woman-flees-in-powerwheels.html'>
<img src="/uploads/5/6/5/5/5655017/_2810323.png?121" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Drunk 1/2 Naked Woman Flees In Powerwheels</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/guy-allegedly-assaulted-roommate-for-drawing-dicks-on-his-face-mugshot-with-penis-on-his-cheek.html'>
<img src="/uploads/5/6/5/5/5655017/_8160533.png?124" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Man Beats Roommate For Drawing Dicks On His Face</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/linda-white-calls-911-drunk.html'>
<img src="/uploads/5/6/5/5/5655017/_565644.png?123" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Woman Drunkedly Calls 911 Wanting Cigarettes Delivered</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/michael-johnston-shoots-up-dock-poops-pants.html'>
<img src="/uploads/5/6/5/5/5655017/_____4798758.png?114" alt="Picture Weird news, funny news, funny crime, strange news, bizarre news, strange crime, dumb criminals,    " style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Drunk Shoots Up Dock, Poops Pants.</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/boyfriend-assaulted-because-he-wouldnt-stop-singing-thrift-shop.html'>
<img src="/uploads/5/6/5/5/5655017/_____4063328.png" alt="Picture Weird news, funny news, funny crime, strange news, bizarre news, strange crime, dumb criminals,    " style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Woman Beats BF For Singing "Thrift Shop"</div>
</div></div>

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/report-wife-stabs-husband-after-fight-over-remote-control-defecates-on-officers.html'>
<img src="/uploads/5/6/5/5/5655017/__468898.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Wife stabs husband after fight over remote, defecates on officers</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/naked-shooting-a-fire-extinguisher-at-a-neighborrsquos-window-and-speaking-gibberish.html'>
<img src="/uploads/5/6/5/5/5655017/_____8634330.png?114" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Naked Dude With A Fire Extinguisher</div>
</div></div>

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:10px;margin-right:10px;text-align:center">
<a href='/naked-woman-thrown-from-car-after-drunk-driving-crash.html'>
<img src="/uploads/5/6/5/5/5655017/_____7242043.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Naked woman thrown from car after drunk driving crash</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/richard-brandenberg-man-chugs-rum-nearly-drowns-in-sewer.html'>
<img src="/uploads/5/6/5/5/5655017/_____805662.png?115" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Idiot Slams Rum, Dives In Sewer</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

