<h2 class="wsite-content-title" style="text-align:center;">911 Numskulls</h2>

<div class="paragraph" style="text-align:center;">Click Pic For Corresponding Story</div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/linda-white-calls-911-drunk.html'>
<img src="/uploads/5/6/5/5/5655017/__565644.png?118" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Woman Drunkedly Calls 911 Wanting Cigarettes Delivered</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/crazy-woman-in-brunswick-county-nc.html'>
<img src="/uploads/5/6/5/5/5655017/_7036024.png?114" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Police Chase With Crazy Woman Who Calls 911 Demands $</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/priest-in-bondage-gear-calls-911.html'>
<img src="/uploads/5/6/5/5/5655017/_2458300.png?122" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Priest Stuck In Bondage Gear Calls 911</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/joshua-basso-arrested-2xs-for-dirty-911-calls.html'>
<img src="/uploads/5/6/5/5/5655017/_5262944.png?112" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Creepy Guy Calls 911 To Talk Dirty. Get Female Cops To Come Over</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/matthew-murphy-accused-of-lying-to-911-mocks-deputies-about-doughnuts.html'>
<img src="/uploads/5/6/5/5/5655017/_147968.png?107" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Matthew Murphy Accused of Lying to 911 Mocks Deputies About Doughnuts</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/videoaudio-jeanie-dufresne-arrested-after-calling-911-for-a-pen.html'>
<img src="/uploads/5/6/5/5/5655017/___3662661.png?107" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Jeanie Dufresne Arrested After Calling 911 For A Pen</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/burglary-butt-dial-to-911-lands-two-stoner-suspects-in-jail.html'>
<img src="/uploads/5/6/5/5/5655017/____4505791.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Idiots butt dial 911 during crime</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:25%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/danar-kawa-hassan-arrested-after-trying-to-report-pot-pipes-stolen.html'>
<img src="/uploads/5/6/5/5/5655017/________6240391.png?107" alt="Picture Weird news, funny news, funny crime, strange news, bizarre news, strange crime, dumb criminals,    " style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Somebody Stole My Pot Pipes. What? No, That's Not A Growroom</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='http://www.mnpoliceclips.com/iphone-doesnt-work-idiot-calls-911.html'>
<img src="/uploads/5/6/5/5/5655017/_4308893.png?94" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Dumb Guy With iPhone Calls 911 For Help</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/daylen-holloman-911-call-quite-informative.html'>
<img src="/uploads/5/6/5/5/5655017/____6286659.png?106" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Man Gets Naked To Prove He's A Monkey (W/911 Audio)</div>
</div></div>

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/funny-audio-clips1.html'>
<img src="/uploads/5/6/5/5/5655017/9009115.jpg?205" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Variety Of Dumb 911 Calls And Dispatches</div>
</div></div>


					
				</td>				<td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
					
						

<div><div class="wsite-image wsite-image-border-thin " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a href='/man-arrested-for-calling-911-9-times-for-cheeseburger.html'>
<img src="/uploads/5/6/5/5/5655017/4390127.png?107" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%">Man Calls 911 A Lot For Cheeseburger</div>
</div></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>


</div>

			<div class="clear"></div>
		</div>
	</div>
</div>
