<div>
<div>
				
				<li id="pg385508819103297521" class="wsite-menu-item-wrap">
					<a
								href="http://www.mnpoliceclips.com/audio-fatal-motorcycle-crash-in-goodhue-county-7216.html"
						class="wsite-menu-item"
						>
						AUDIO: Fatal Motorcycle Crash In Goodhue County 7/2/16
					</a>
					
				</li>
				<li id="pg332559786290538656" class="wsite-menu-item-wrap">
					<a
								href="http://www.mnpoliceclips.com/audio-garland--irving-tx-area-police-chase-with-shots-fired-at-officers-7216.html"
						class="wsite-menu-item"
						>
						AUDIO: Garland / Irving, TX Area Police Chase With Shots Fired At Officers 7/2/16
					</a>
					
				</li>
				<li id="pg441596928521909245" class="wsite-menu-item-wrap">
					<a
								href="http://www.mnpoliceclips.com/audio-bloody-naked-guy-possibly-on-lsd-7216.html"
						class="wsite-menu-item"
						>
						AUDIO: Bloody Naked Guy Possibly On LSD 7/2/16
					</a>
					
				</li>
				<li id="pg140061698812253015" class="wsite-menu-item-wrap">
					<a
								href="http://www.mnpoliceclips.com/audio-minneapolis-multiple-reportedly-shot-7316.html"
						class="wsite-menu-item"
						>
						AUDIO: Minneapolis Multiple Reportedly Shot 7/3/16
					</a>
					
				</li>
				<li id="pg959986658310220919" class="wsite-menu-item-wrap">
					<a
								href="http://www.mnpoliceclips.com/audio-roseville-sex-trafficking-standoff-incident-7316.html"
						class="wsite-menu-item"
						>
						AUDIO: Roseville Sex Trafficking Standoff Incident 7/3/16
					</a>
					
				</li>
				<li id="pg755081429949758353" class="wsite-menu-item-wrap">
					<a
								href="/audio-rochester-mn-reported-shooting-at-bear-creek-park.html"
						class="wsite-menu-item"
						>
						AUDIO: Rochester, MN Reported Shooting At Bear Creek Park
					</a>
					
				</li>
				<li id="pg769752162931254370" class="wsite-menu-item-wrap">
					<a
								href="/audio-rochester-mn-auto-theft-at-knifepoint-7316.html"
						class="wsite-menu-item"
						>
						AUDIO: Rochester, MN Auto Theft At Knifepoint 7/3/16
					</a>
					
				</li>
				<li id="pg946310810613988402" class="wsite-menu-item-wrap">
					<a
								href="/audio-apparently-dorothy-lost-one-of-her-friends.html"
						class="wsite-menu-item"
						>
						AUDIO: Apparently Dorothy Lost One Of Her Friends
					</a>
					
				</li>
				<li id="pg121790968787524234" class="wsite-menu-item-wrap">
					<a
								href="/audio-short-edina--bloomington-police-chase-7416.html"
						class="wsite-menu-item"
						>
						AUDIO: Short Edina / Bloomington Police Chase 7/4/16
					</a>
					
				</li>
				<li id="pg531980127102987268" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-anthony-police-chase--wreck-7416.html"
						class="wsite-menu-item"
						>
						AUDIO: St Anthony Police Chase / Wreck 7/4/16
					</a>
					
				</li>
				<li id="pg692630700542689848" class="wsite-menu-item-wrap">
					<a
								href="/audio-rogers-police-chase-7416.html"
						class="wsite-menu-item"
						>
						AUDIO: Rogers Police Chase 7/4/16
					</a>
					
				</li>
				<li id="pg710688384427962226" class="wsite-menu-item-wrap">
					<a
								href="/audio-edina-mn-police-chase-through-richfield-and-into-minneapolis1.html"
						class="wsite-menu-item"
						>
						AUDIO: Edina, MN Police Chase Through Richfield and Into Minneapolis
					</a>
					
				</li>
				<li id="pg332338328743898777" class="wsite-menu-item-wrap">
					<a
								href="/video-history-of-police-clips.html"
						class="wsite-menu-item"
						>
						VIDEO: History of Police Clips
					</a>
					
				</li>
				<li id="pg592403679496056243" class="wsite-menu-item-wrap">
					<a
								href="/audio-cottage-grove-child-out-of-control.html"
						class="wsite-menu-item"
						>
						AUDIO: Cottage Grove Child Out of Control
					</a>
					
				</li>
				<li id="pg729872923629439097" class="wsite-menu-item-wrap">
					<a
								href="/audio-crash---sounds-bad---highway-169-and-webster-anoka.html"
						class="wsite-menu-item"
						>
						AUDIO: CRASH - Sounds bad - Highway 169 and Webster, Anoka
					</a>
					
				</li>
				<li id="pg329701657589879850" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase-and-foot-pursuit---staples.html"
						class="wsite-menu-item"
						>
						AUDIO: Chase and Foot Pursuit - Staples
					</a>
					
				</li>
				<li id="pg111333402529351712" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---with-stop-stick-hit---hutchinson.html"
						class="wsite-menu-item"
						>
						AUDIO: Chase - WITH STOP STICK HIT - Hutchinson
					</a>
					
				</li>
				<li id="pg358555655593893241" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---ridiculous---robbery---minneapolis.html"
						class="wsite-menu-item"
						>
						AUDIO: Chase - RIDICULOUS!! - Robbery - Minneapolis
					</a>
					
				</li>
				<li id="pg574656949697345713" class="wsite-menu-item-wrap">
					<a
								href="/audio-carver-county---problem-when-your-wife-comes-home-when-you-dont-expect-it.html"
						class="wsite-menu-item"
						>
						AUDIO: Carver County - Problem when your wife comes home when you don't expect it
					</a>
					
				</li>
				<li id="pg496337193618245808" class="wsite-menu-item-wrap">
					<a
								href="/audio-shooting---complete-chaos---minneapolis.html"
						class="wsite-menu-item"
						>
						AUDIO: SHOOTING - COMPLETE CHAOS - Minneapolis
					</a>
					
				</li>
				<li id="pg381410492746018098" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis-to-coon-rapids-71716.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS TO COON RAPIDS 7/17/16
					</a>
					
				</li>
				<li id="pg908494610954522519" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---chisago-county-to-isanti-county---71716.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - CHISAGO COUNTY TO ISANTI COUNTY - 7/17/16
					</a>
					
				</li>
				<li id="pg164822970159005451" class="wsite-menu-item-wrap">
					<a
								href="/audio-radio-traffic-baton-rouge-officers-shot---graphic-71716.html"
						class="wsite-menu-item"
						>
						AUDIO: RADIO TRAFFIC BATON ROUGE OFFICERS SHOT - GRAPHIC 7/17/16
					</a>
					
				</li>
				<li id="pg861321846685342036" class="wsite-menu-item-wrap">
					<a
								href="/video-baton-rouge-shooting-in-progress-cell-phone-video--graphic-717168203.html"
						class="wsite-menu-item"
						>
						VIDEO: BATON ROUGE SHOOTING IN PROGRESS CELL PHONE VIDEO- GRAPHIC 7/17/16​
					</a>
					
				</li>
				<li id="pg344912917412679822" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---stolen-vehicle-71816.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - STOLEN VEHICLE 7/18/16
					</a>
					
				</li>
				<li id="pg158086337959359987" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---goodhue-county---stolen-vehicle-71816.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - GOODHUE COUNTY - STOLEN VEHICLE 7/18/16
					</a>
					
				</li>
				<li id="pg943135638232904400" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---kandiyohi-county---7-18-16.html"
						class="wsite-menu-item"
						>
						AUDIO:  CHASE - KANDIYOHI COUNTY - 7-18-16
					</a>
					
				</li>
				<li id="pg107300863819479123" class="wsite-menu-item-wrap">
					<a
								href="/audio-foot-chase---woodbury-police-dept---7-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO:  FOOT CHASE - WOODBURY POLICE DEPT - 7-19-16
					</a>
					
				</li>
				<li id="pg416481674970241391" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---cottage-grove-police-dept---7-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO:  CHASE - COTTAGE GROVE POLICE DEPT - 7-19-16
					</a>
					
				</li>
				<li id="pg175638724454930950" class="wsite-menu-item-wrap">
					<a
								href="/audio-dramatic-radio-traffic---officer-involved-crash-in-robbinsdale---72116.html"
						class="wsite-menu-item"
						>
						AUDIO: DRAMATIC RADIO TRAFFIC - OFFICER INVOLVED CRASH IN ROBBINSDALE - 7/21/16
					</a>
					
				</li>
				<li id="pg162777053992782362" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minnetonka-to-edina---major-crash-72116.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNETONKA TO EDINA - MAJOR CRASH 7/21/16
					</a>
					
				</li>
				<li id="pg640614218929827721" class="wsite-menu-item-wrap">
					<a
								href="/video-video-of-the-minnetonka-pursuit---72116.html"
						class="wsite-menu-item"
						>
						VIDEO: VIDEO OF THE MINNETONKA PURSUIT - 7/21/16
					</a>
					
				</li>
				<li id="pg503588797188649494" class="wsite-menu-item-wrap">
					<a
								href="/policeclips-survey.html"
						class="wsite-menu-item"
						>
						PoliceClips Survey
					</a>
					
				</li>
				<li id="pg310831800476551478" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---rosemount---wrong-way-and-crash---7-21-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ROSEMOUNT - WRONG WAY AND CRASH - 7-21-16
					</a>
					
				</li>
				<li id="pg168354195279498751" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---eagan---pit-crash-and-k9-search---7-22-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - EAGAN - PIT, CRASH, AND K9 SEARCH - 7-22-16
					</a>
					
				</li>
				<li id="pg426418084147260947" class="wsite-menu-item-wrap">
					<a
								href="/audio-robbinsdale-foot-chase-and-chomp.html"
						class="wsite-menu-item"
						>
						AUDIO: ROBBINSDALE FOOT CHASE AND CHOMP!
					</a>
					
				</li>
				<li id="pg201470963536649976" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---columbia-heights---crash---k9-search-7-22-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - COLUMBIA HEIGHTS - CRASH - K9 SEARCH-7-22-16
					</a>
					
				</li>
				<li id="pg484062044755764115" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---douglas-county----stop-sticks---raccoons-in-the-road---caught---7-23-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - DOUGLAS COUNTY- - STOP STICKS - RACCOONS IN THE ROAD - CAUGHT! - 7-23-16
					</a>
					
				</li>
				<li id="pg363502322634444960" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---bailed---7-23-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - BAILED - 7-23-16
					</a>
					
				</li>
				<li id="pg603416191504294028" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---maplewood-with-k9-getting-human-chew-toy---7-24-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MAPLEWOOD WITH K9 GETTING HUMAN CHEW TOY - 7-24-16
					</a>
					
				</li>
				<li id="pg288348882939321167" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---stolen-bail-caught---7-25-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - STOLEN-BAIL-CAUGHT! - 7-25-16
					</a>
					
				</li>
				<li id="pg784938213860175615" class="wsite-menu-item-wrap">
					<a
								href="/video-too-close-to-home-wait-for-it.html"
						class="wsite-menu-item"
						>
						VIDEO: TOO CLOSE TO HOME!!! WAIT FOR IT...
					</a>
					
				</li>
				<li id="pg979078334569407453" class="wsite-menu-item-wrap">
					<a
								href="/audio-dramatic-audio---ft-myers-shooting-response---7-25-16.html"
						class="wsite-menu-item"
						>
						AUDIO: DRAMATIC AUDIO - FT. MYERS SHOOTING RESPONSE - 7-25-16
					</a>
					
				</li>
				<li id="pg603350738653024864" class="wsite-menu-item-wrap">
					<a
								href="/audio-brooklyn-park-shooting-and-chaos---7-26-16.html"
						class="wsite-menu-item"
						>
						AUDIO: BROOKLYN PARK SHOOTING AND CHAOS - 7-26-16
					</a>
					
				</li>
				<li id="pg153022854746240829" class="wsite-menu-item-wrap">
					<a
								href="/video-police-vs-motorcycle---pursuit.html"
						class="wsite-menu-item"
						>
						VIDEO: POLICE VS. MOTORCYCLE - PURSUIT
					</a>
					
				</li>
				<li id="pg151327080614698615" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-shooting---7-26-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS SHOOTING - 7-26-16
					</a>
					
				</li>
				<li id="pg583896632253674490" class="wsite-menu-item-wrap">
					<a
								href="/video-california-chase---why-you-shouldt-drive-like-an-idiot.html"
						class="wsite-menu-item"
						>
						VIDEO: CALIFORNIA CHASE - WHY YOU SHOULD'T DRIVE LIKE AN IDIOT
					</a>
					
				</li>
				<li id="pg656396253707553425" class="wsite-menu-item-wrap">
					<a
								href="/audio-holy-cow-hanover-cars-versus-cattle---7-27-16.html"
						class="wsite-menu-item"
						>
						AUDIO: HOLY COW!!! HANOVER CARS VERSUS CATTLE - 7-27-16
					</a>
					
				</li>
				<li id="pg234288870327995971" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---stolen-vehicle---7-27-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS -  STOLEN VEHICLE - 7-27-16
					</a>
					
				</li>
				<li id="pg989075087517905386" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul---homicide---7-27-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. PAUL - HOMICIDE - 7-27-16
					</a>
					
				</li>
				<li id="pg311209368161602804" class="wsite-menu-item-wrap">
					<a
								href="/audio-ramsey-county-house-fire---one-trapped---7-28-16.html"
						class="wsite-menu-item"
						>
						AUDIO: RAMSEY COUNTY HOUSE  FIRE - ONE TRAPPED - 7-28-16
					</a>
					
				</li>
				<li id="pg383581850161084238" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-water-emergency---7-29-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS WATER EMERGENCY - 7-29-16
					</a>
					
				</li>
				<li id="pg424661382947656196" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-bait-vehicle---foot-chase---and-chommppp-by-k9---7-30-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS BAIT VEHICLE - FOOT CHASE - AND CHOMMPPP BY K9 - 7-30-16
					</a>
					
				</li>
				<li id="pg320018865844794409" class="wsite-menu-item-wrap">
					<a
								href="/audio-rogers---officers-delivery-baby---7-29-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ROGERS - OFFICERS DELIVERY BABY!! - 7-29-16
					</a>
					
				</li>
				<li id="pg625761251922964445" class="wsite-menu-item-wrap">
					<a
								href="/audio-msp-airport---how-to-warm-up---7-30-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MSP AIRPORT - HOW TO WARM UP - 7-30-16
					</a>
					
				</li>
				<li id="pg182434683871537093" class="wsite-menu-item-wrap">
					<a
								href="/audio-sherburne-county-chase---almost-hitting-squads---rollover---7-29-16.html"
						class="wsite-menu-item"
						>
						AUDIO: SHERBURNE COUNTY CHASE - ALMOST HITTING SQUADS - ROLLOVER - 7-29-16
					</a>
					
				</li>
				<li id="pg959842151479180071" class="wsite-menu-item-wrap">
					<a
								href="/audio-becker-county-chase-and-rollover---7-29-16.html"
						class="wsite-menu-item"
						>
						AUDIO: BECKER COUNTY CHASE AND ROLLOVER - 7-29-16
					</a>
					
				</li>
				<li id="pg530240190142292406" class="wsite-menu-item-wrap">
					<a
								href="/video-white-bear-lake-running-man-challenge.html"
						class="wsite-menu-item"
						>
						VIDEO: WHITE BEAR LAKE RUNNING MAN CHALLENGE
					</a>
					
				</li>
				<li id="pg110068592205959204" class="wsite-menu-item-wrap">
					<a
								href="/audio-maplewood-pursuit---crash---and-officer-hurt---7-29-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MAPLEWOOD PURSUIT - CRASH - AND OFFICER HURT - 7-29-16
					</a>
					
				</li>
				<li id="pg448711914843852121" class="wsite-menu-item-wrap">
					<a
								href="/video-motorcycle-cop---mega-skills.html"
						class="wsite-menu-item"
						>
						VIDEO: MOTORCYCLE COP - MEGA SKILLS
					</a>
					
				</li>
				<li id="pg833557189966333727" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---fairbault-pd---stop-sticks-and-caught-8-1-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - FAIRBAULT PD - STOP STICKS AND CAUGHT! 8-1-16
					</a>
					
				</li>
				<li id="pg565215668528810657" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---elk-river---and-caught---7-31-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ELK RIVER - AND CAUGHT! - 7-31-16
					</a>
					
				</li>
				<li id="pg672576174207906433" class="wsite-menu-item-wrap">
					<a
								href="/video-flyboard-extinguishes-boat-fire-in-cross-lake---7-30-16.html"
						class="wsite-menu-item"
						>
						VIDEO: FLYBOARD EXTINGUISHES BOAT FIRE IN CROSS LAKE - 7-30-16
					</a>
					
				</li>
				<li id="pg206949311713701540" class="wsite-menu-item-wrap">
					<a
								href="/audio-carbondale-il---officer-shot---pursuit---suspect-at-large---officer-in-serious-condition-7-31-16-1145p.html"
						class="wsite-menu-item"
						>
						AUDIO: CARBONDALE, IL - OFFICER SHOT - PURSUIT - SUSPECT AT LARGE - OFFICER IN SERIOUS CONDITION 7-31-16 11:45p
					</a>
					
				</li>
				<li id="pg657262019943479035" class="wsite-menu-item-wrap">
					<a
								href="/audio-chilling-delta-flight-emergency-landing-at-msp-notification---8-2-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHILLING DELTA FLIGHT EMERGENCY LANDING AT MSP NOTIFICATION - 8-2-16
					</a>
					
				</li>
				<li id="pg450828763614302333" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---stolen---08-04-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - STOLEN - 08-04-16
					</a>
					
				</li>
				<li id="pg341908591968969120" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-foot-pursuit---suspect-jumped-off-bridge-onto-i394---8-4-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS FOOT PURSUIT - SUSPECT JUMPED OFF BRIDGE ONTO I394 - 8-4-16
					</a>
					
				</li>
				<li id="pg460873242477853925" class="wsite-menu-item-wrap">
					<a
								href="/video-profile-picture-history.html"
						class="wsite-menu-item"
						>
						VIDEO: PROFILE PICTURE HISTORY
					</a>
					
				</li>
				<li id="pg645320434568660518" class="wsite-menu-item-wrap">
					<a
								href="/video-american-airlines-pilot-protects-flight-attendant---kentucky---8-2-16.html"
						class="wsite-menu-item"
						>
						VIDEO: AMERICAN AIRLINES PILOT PROTECTS FLIGHT ATTENDANT - KENTUCKY - 8-2-16
					</a>
					
				</li>
				<li id="pg731919958766363670" class="wsite-menu-item-wrap">
					<a
								href="/audio-new-brighton-burglary-k9-track-and-caught-8-5-16.html"
						class="wsite-menu-item"
						>
						AUDIO: NEW BRIGHTON BURGLARY, K9 TRACK, AND CAUGHT! 8-5-16
					</a>
					
				</li>
				<li id="pg854682753641680336" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul-fatal-house-fire---8-6-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. PAUL FATAL HOUSE FIRE - 8-6-16
					</a>
					
				</li>
				<li id="pg645316751995150885" class="wsite-menu-item-wrap">
					<a
								href="/audio-belle-plaine-to-sibley-county---8-7-16.html"
						class="wsite-menu-item"
						>
						AUDIO: BELLE PLAINE TO SIBLEY COUNTY - 8-7-16
					</a>
					
				</li>
				<li id="pg222990122362957798" class="wsite-menu-item-wrap">
					<a
								href="/audio-polk-county-deputy-shot-search-08-08-16.html"
						class="wsite-menu-item"
						>
						AUDIO: POLK COUNTY DEPUTY SHOT SEARCH 08-08-16
					</a>
					
				</li>
				<li id="pg574394245668234603" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---st-paul---crash-and-bail---8-8-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ST. PAUL - CRASH AND BAIL - 8-8-16
					</a>
					
				</li>
				<li id="pg459746609253282789" class="wsite-menu-item-wrap">
					<a
								href="/audio-stearns-county-foot-chase-and-locate-8-8-16.html"
						class="wsite-menu-item"
						>
						AUDIO: STEARNS COUNTY FOOT CHASE AND LOCATE! 8-8-16
					</a>
					
				</li>
				<li id="pg717953479982961480" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---richfield-to-edina---pit---flee-on-foot---8-9-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - RICHFIELD TO EDINA - PIT - FLEE ON FOOT - 8-9-16
					</a>
					
				</li>
				<li id="pg877565053398467967" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---bloomington---in-custody---8-10-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BLOOMINGTON - IN CUSTODY! - 8-10-16
					</a>
					
				</li>
				<li id="pg783146103674431449" class="wsite-menu-item-wrap">
					<a
								href="/audio-foot-pursuit---coon-rapids---caught---8-10-16.html"
						class="wsite-menu-item"
						>
						AUDIO: FOOT PURSUIT - COON RAPIDS - CAUGHT!! - 8-10-16
					</a>
					
				</li>
				<li id="pg846616161498288889" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---fridley-coon-rapids-ramsey-multiple-pits-and-chommmmpp-8-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - FRIDLEY, COON RAPIDS, RAMSEY, MULTIPLE PITS, AND CHOMMMMPP! 8-11-16
					</a>
					
				</li>
				<li id="pg582792890723928307" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis-shooting-suspect---state-patrol-chase---one-in-custody-8-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS SHOOTING SUSPECT - STATE PATROL CHASE - ONE IN CUSTODY! 8-11-16
					</a>
					
				</li>
				<li id="pg325026861449693009" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-shooting-on-elliott---8-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS SHOOTING ON ELLIOTT - 8-11-16
					</a>
					
				</li>
				<li id="pg389620937999116961" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-shooting-at-28xx-lyndale-ave-n---8-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS SHOOTING AT 28XX LYNDALE AVE N - 8-11-16
					</a>
					
				</li>
				<li id="pg176894091297887946" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis-with-foot-pursuit-and-caught---8-12-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS  WITH FOOT PURSUIT AND CAUGHT!  - 8-12-16
					</a>
					
				</li>
				<li id="pg470826862719022218" class="wsite-menu-item-wrap">
					<a
								href="/audio-fridley-squad-car-roll-over-crash---8-12-16.html"
						class="wsite-menu-item"
						>
						AUDIO: FRIDLEY SQUAD CAR ROLL-OVER CRASH  - 8-12-16
					</a>
					
				</li>
				<li id="pg669678768407051156" class="wsite-menu-item-wrap">
					<a
								href="/audio-maplewood-call-of-people-doing-the-right-thing-8-12-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MAPLEWOOD CALL OF PEOPLE DOING THE RIGHT THING!!!??? 8-12-16
					</a>
					
				</li>
				<li id="pg865320736414934265" class="wsite-menu-item-wrap">
					<a
								href="/audio-rice--steele-county-chase---tires-blown---8-12-16.html"
						class="wsite-menu-item"
						>
						AUDIO: RICE / STEELE COUNTY CHASE - TIRES BLOWN - 8-12-16
					</a>
					
				</li>
				<li id="pg800896215963206372" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-shooting-at-25xx-morgan-ave-n-08-12-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS SHOOTING AT 25XX MORGAN AVE N 08-12-16
					</a>
					
				</li>
				<li id="pg698915073178711981" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol---bail---foot-chase---and-bail---8-13-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL - BAIL - FOOT CHASE -  AND BAIL - 8-13-16
					</a>
					
				</li>
				<li id="pg965567682534125543" class="wsite-menu-item-wrap">
					<a
								href="/audio-flee---crash---bail---k9-track---and-caught-8-13-16.html"
						class="wsite-menu-item"
						>
						AUDIO: FLEE - CRASH - BAIL - K9 TRACK - AND CAUGHT!! 8-13-16
					</a>
					
				</li>
				<li id="pg531697078157872626" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---rice-county---bail---and-caught---8-13-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - RICE COUNTY - BAIL - AND CAUGHT!! - 8-13-16
					</a>
					
				</li>
				<li id="pg464807011579132134" class="wsite-menu-item-wrap">
					<a
								href="/audio-northfield---shooting---as-it-happens---8-14-16.html"
						class="wsite-menu-item"
						>
						AUDIO: NORTHFIELD - SHOOTING - AS IT HAPPENS - 8-14-16
					</a>
					
				</li>
				<li id="pg469125703962964481" class="wsite-menu-item-wrap">
					<a
								href="/audio-belle-plaine-struck-pedestrian---8-14-16.html"
						class="wsite-menu-item"
						>
						AUDIO: BELLE PLAINE STRUCK PEDESTRIAN - 8-14-16
					</a>
					
				</li>
				<li id="pg728421932250149040" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---st-paul---robberyshooting-suspect---8-15-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ST PAUL - ROBBERY/SHOOTING SUSPECT - 8-15-16
					</a>
					
				</li>
				<li id="pg383560864127500713" class="wsite-menu-item-wrap">
					<a
								href="/audio-prior-lake---is-that-a-banana-in-your-pants-or-8-16-16.html"
						class="wsite-menu-item"
						>
						AUDIO: PRIOR LAKE - IS THAT A BANANA IN YOUR PANTS OR???? 8-16-16
					</a>
					
				</li>
				<li id="pg392402033903797738" class="wsite-menu-item-wrap">
					<a
								href="/audio-edina-standoff---8-16-16.html"
						class="wsite-menu-item"
						>
						AUDIO: EDINA STANDOFF - 8-16-16
					</a>
					
				</li>
				<li id="pg569265312518999283" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---lakeville---50cc-dirt-bike---8-16-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - LAKEVILLE -  50CC DIRT BIKE - 8-16-16
					</a>
					
				</li>
				<li id="pg373684817487773751" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---gun-thrown-from-car---attempt-to-hit-squad---8-16-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - GUN THROWN FROM CAR - ATTEMPT TO HIT SQUAD! - 8-16-16
					</a>
					
				</li>
				<li id="pg585632263655398727" class="wsite-menu-item-wrap">
					<a
								href="/audio-why-x-wife-8-16-16.html"
						class="wsite-menu-item"
						>
						AUDIO: WHY X-WIFE?? 8-16-16
					</a>
					
				</li>
				<li id="pg449556047233278403" class="wsite-menu-item-wrap">
					<a
								href="/audio-bloomington---suicidal-male---8-16-16.html"
						class="wsite-menu-item"
						>
						AUDIO: BLOOMINGTON - SUICIDAL MALE -  8-16-16
					</a>
					
				</li>
				<li id="pg230302757785079399" class="wsite-menu-item-wrap">
					<a
								href="/audio-eagan-burglary---k-9-track---chommppp-by-k-9---8-17-16.html"
						class="wsite-menu-item"
						>
						AUDIO: EAGAN BURGLARY - K-9 TRACK - CHOMMPPP BY K-9 - 8-17-16
					</a>
					
				</li>
				<li id="pg802983255855542540" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-pd-jumper---8-17-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS PD JUMPER - 8-17-16
					</a>
					
				</li>
				<li id="pg827964078617241381" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol-with-hit-and-run-vehicle---8-17-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL WITH HIT AND RUN VEHICLE - 8-17-16
					</a>
					
				</li>
				<li id="pg960809547412042815" class="wsite-menu-item-wrap">
					<a
								href="/audio-woodbury-theft--assault--foot-chase---8-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO: WOODBURY THEFT / ASSAULT / FOOT CHASE - 8-19-16
					</a>
					
				</li>
				<li id="pg297775002628672674" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul-dispatch-what-does-that-say-8-18-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ST PAUL DISPATCH WHAT DOES THAT SAY??? 8-18-16
					</a>
					
				</li>
				<li id="pg255378856885868088" class="wsite-menu-item-wrap">
					<a
								href="/audio-long-lake---smoke-in-the-air---8-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO: LONG LAKE - SMOKE IN THE AIR - 8-19-16
					</a>
					
				</li>
				<li id="pg420881499844404884" class="wsite-menu-item-wrap">
					<a
								href="/audio-metro-transit-foot-chase-in-st-paul---8-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO: METRO TRANSIT FOOT CHASE IN ST. PAUL - 8-19-16
					</a>
					
				</li>
				<li id="pg576516361336953154" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol---and-choommpp---8-20-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL - AND CHOOMMPP! - 8-20-16
					</a>
					
				</li>
				<li id="pg336589527985181772" class="wsite-menu-item-wrap">
					<a
								href="/audio-eagan-foot-pursuit---and-caught---choommmppp---8-20-16.html"
						class="wsite-menu-item"
						>
						AUDIO: EAGAN FOOT PURSUIT - AND CAUGHT - CHOOMMMPPP!! - 8-20-16
					</a>
					
				</li>
				<li id="pg934803121305054348" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis---checking-on-a-male-who-is-nekid---8-21-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS - CHECKING ON A MALE WHO IS NEKID - 8-21-16
					</a>
					
				</li>
				<li id="pg997014513762108885" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---yellow-medicine-county---fast-motorcycle---pursuit-terminated---8-21-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - YELLOW MEDICINE COUNTY - FAST MOTORCYCLE - PURSUIT TERMINATED - 8-21-16
					</a>
					
				</li>
				<li id="pg100876191714068506" class="wsite-menu-item-wrap">
					<a
								href="/audio-new-prague---report-of-an-active-shooter-at-the-library---8-22-16.html"
						class="wsite-menu-item"
						>
						AUDIO: NEW PRAGUE - REPORT OF AN ACTIVE SHOOTER AT THE LIBRARY - 8-22-16
					</a>
					
				</li>
				<li id="pg796921730231117587" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---braham-to-pine-county---suspect-bailed---8-23-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BRAHAM TO PINE COUNTY - SUSPECT BAILED - 8-23-16
					</a>
					
				</li>
				<li id="pg157989903877019564" class="wsite-menu-item-wrap">
					<a
								href="/audio---chase---mn-state-patrol---taser---in-custody---8-22-16.html"
						class="wsite-menu-item"
						>
						AUDIO - CHASE - MN STATE PATROL - TASER - IN CUSTODY - 8-22-16
					</a>
					
				</li>
				<li id="pg222877513712593273" class="wsite-menu-item-wrap">
					<a
								href="/audio---chase---mn-state-patrol---detroit-lakes--stop-sticks---pit---in-custody---8-24-16.html"
						class="wsite-menu-item"
						>
						AUDIO - CHASE - MN STATE PATROL - DETROIT LAKES -STOP STICKS - PIT - IN CUSTODY - 8-24-16
					</a>
					
				</li>
				<li id="pg807545795967892441" class="wsite-menu-item-wrap">
					<a
								href="/audio---chase---mn-state-patrol---bloomington---flee-on-foot---8-24-16.html"
						class="wsite-menu-item"
						>
						AUDIO - CHASE - MN STATE PATROL - BLOOMINGTON - FLEE ON FOOT - 8-24-16
					</a>
					
				</li>
				<li id="pg911210839248819401" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---detroit-lakes---becker-county-chase---two-in-custody---8-25-2016.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - DETROIT LAKES - BECKER COUNTY CHASE - TWO IN CUSTODY! - 8-25-2016
					</a>
					
				</li>
				<li id="pg187172619902375087" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---so-st-paul---weaving-in--out-of-traffic---chase-terminated---08-25-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - SO ST PAUL - WEAVING IN & OUT OF TRAFFIC - CHASE TERMINATED - 08-25-16
					</a>
					
				</li>
				<li id="pg434222201500316429" class="wsite-menu-item-wrap">
					<a
								href="/audio-radio-traffic-nevada-highway-patrol-officer-involved-shooting---shield-and-vest-save-trooper---8-26-16.html"
						class="wsite-menu-item"
						>
						AUDIO: RADIO TRAFFIC NEVADA HIGHWAY PATROL OFFICER INVOLVED SHOOTING - SHIELD AND VEST SAVE TROOPER - 8-26-16
					</a>
					
				</li>
				<li id="pg536444516332216178" class="wsite-menu-item-wrap">
					<a
								href="/audio-radio-traffic-eagan-police---suspect-shooting-towards-apartment---officer-arrived---shots-fired-8-27-16.html"
						class="wsite-menu-item"
						>
						AUDIO: RADIO TRAFFIC EAGAN POLICE - SUSPECT SHOOTING TOWARDS APARTMENT - OFFICER ARRIVED - SHOTS FIRED! 8-27-16
					</a>
					
				</li>
				<li id="pg317693946805700934" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---chisago-county-to-pine-county---pit---one-in-custody---8-29-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - CHISAGO COUNTY TO PINE COUNTY - PIT - ONE IN CUSTODY! - 8-29-16
					</a>
					
				</li>
				<li id="pg998033613292671514" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---brooklyn-park---felony-warrant-with-possible-weapons---foot-pursuit---one-in-custody---8-31-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BROOKLYN PARK - FELONY WARRANT WITH POSSIBLE WEAPONS  - FOOT PURSUIT - ONE IN CUSTODY! -  8-31-16
					</a>
					
				</li>
				<li id="pg186984583143212541" class="wsite-menu-item-wrap">
					<a
								href="/audio-edina-pd---radio-transmission-of-detective-cambells-retirement-8-31-16.html"
						class="wsite-menu-item"
						>
						AUDIO: EDINA PD - RADIO TRANSMISSION OF DETECTIVE CAMBELL'S RETIREMENT 8-31-16!
					</a>
					
				</li>
				<li id="pg503370826946171980" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---brooklyn-park---gun---pursuit-terminated---crash---8-31-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BROOKLYN PARK - GUN  - PURSUIT TERMINATED - CRASH -  8-31-16
					</a>
					
				</li>
				<li id="pg440984642822939438" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---mn-state-patrol---felony-weapons-warrant.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MN STATE PATROL - FELONY WEAPONS WARRANT -
					</a>
					
				</li>
				<li id="pg619314185550565862" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis--pedestrian-struck-by-suspect---suspect-ran-on-foot---one-in-custody---9-3-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS- PEDESTRIAN STRUCK BY SUSPECT - SUSPECT RAN ON FOOT - ONE IN CUSTODY - 9-3-16
					</a>
					
				</li>
				<li id="pg537469388283088430" class="wsite-menu-item-wrap">
					<a
								href="/audio-radio-traffic---minneapolis---multiple-shots-fired---multiple-victims---shot-in-head---foot-chase---mayhem-in-minneapolis-9-5-16.html"
						class="wsite-menu-item"
						>
						AUDIO: RADIO TRAFFIC - MINNEAPOLIS -  MULTIPLE SHOTS FIRED -  MULTIPLE VICTIMS - SHOT IN HEAD - FOOT CHASE - MAYHEM IN MINNEAPOLIS 9-5-16
					</a>
					
				</li>
				<li id="pg983796124311416941" class="wsite-menu-item-wrap">
					<a
								href="/audio-woodbury-robbery-9-7-16.html"
						class="wsite-menu-item"
						>
						AUDIO: WOODBURY ROBBERY 9-7-16
					</a>
					
				</li>
				<li id="pg295199986996471296" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---west-st-paul---and-caught-9-7-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - WEST ST. PAUL - AND CAUGHT! 9-7-16
					</a>
					
				</li>
				<li id="pg210410995115589741" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol---2-in-custody-9-8-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL - 2 IN CUSTODY! 9-8-16
					</a>
					
				</li>
				<li id="pg656418772266951523" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---detroit-lakes---9-9-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - DETROIT LAKES - 9-9-16
					</a>
					
				</li>
				<li id="pg468855221594001016" class="wsite-menu-item-wrap">
					<a
								href="/audio-major-incident-in-minneapolis-at-lake-of-the-isles.html"
						class="wsite-menu-item"
						>
						AUDIO: MAJOR INCIDENT IN MINNEAPOLIS AT LAKE OF THE ISLES
					</a>
					
				</li>
				<li id="pg817664448267258853" class="wsite-menu-item-wrap">
					<a
								href="/audio-mn-state-fair-shenanigans---dr-seuss-day-at-the-fair-08-31-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MN STATE FAIR SHENANIGANS - DR SEUSS DAY AT THE FAIR! 08-31-16
					</a>
					
				</li>
				<li id="pg505595261557948702" class="wsite-menu-item-wrap">
					<a
								href="/audio-msp-airport---moment-of-silence-for-the-victims-of-911-09-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MSP AIRPORT - MOMENT OF SILENCE FOR THE VICTIMS OF 9/11! 09-11-16
					</a>
					
				</li>
				<li id="pg353525276815030326" class="wsite-menu-item-wrap">
					<a
								href="/video-st-croix-valley-911-tribute---9-11-16.html"
						class="wsite-menu-item"
						>
						VIDEO: ST. CROIX VALLEY 9/11 TRIBUTE - 9-11-16
					</a>
					
				</li>
				<li id="pg419560007437054136" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---bloomington---fight-suspects---stolen-vehicle---suspect-ran---09-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BLOOMINGTON - FIGHT SUSPECTS - STOLEN VEHICLE - SUSPECT RAN - 09-11-16
					</a>
					
				</li>
				<li id="pg461588785719810512" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---coon-rapids---caught-9-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - COON RAPIDS - CAUGHT! 9-11-16
					</a>
					
				</li>
				<li id="pg196185772441986634" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---ramsey-to-wyoming---suicide-at-end---9-12-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - RAMSEY TO WYOMING - SUICIDE AT END - 9-12-16
					</a>
					
				</li>
				<li id="pg882350495595986452" class="wsite-menu-item-wrap">
					<a
								href="/audio-north-helicopter-crash-response---alexandria-mn---9-17-16.html"
						class="wsite-menu-item"
						>
						AUDIO: NORTH HELICOPTER CRASH RESPONSE - ALEXANDRIA, MN - 9-17-16
					</a>
					
				</li>
				<li id="pg329973035844162052" class="wsite-menu-item-wrap">
					<a
								href="/audio-philadelphia-officers-shot---9-16-16.html"
						class="wsite-menu-item"
						>
						AUDIO: PHILADELPHIA OFFICERS SHOT - 9-16-16
					</a>
					
				</li>
				<li id="pg548496118368220210" class="wsite-menu-item-wrap">
					<a
								href="/audio-watertown-house-fire---9-17-16.html"
						class="wsite-menu-item"
						>
						AUDIO: WATERTOWN HOUSE FIRE - 9-17-16
					</a>
					
				</li>
				<li id="pg919448335711702232" class="wsite-menu-item-wrap">
					<a
								href="/audio-anoka-county-rescue---carlos-avery---9-17-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ANOKA COUNTY RESCUE - CARLOS AVERY - 9-17-16
					</a>
					
				</li>
				<li id="pg399897614878608214" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---elko---in-custody-9-18-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ELKO - IN CUSTODY! 9-18-16
					</a>
					
				</li>
				<li id="pg901048216647689767" class="wsite-menu-item-wrap">
					<a
								href="/audio-crossroads-mall-incident---9-17-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CROSSROADS MALL INCIDENT - 9-17-16
					</a>
					
				</li>
				<li id="pg266551514313294047" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase--isanti-county---in-custody---9-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE -ISANTI COUNTY - IN CUSTODY! - 9-19-16
					</a>
					
				</li>
				<li id="pg919370563635313379" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-foot-chase---caught---9-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS FOOT CHASE - CAUGHT! - 9-19-16
					</a>
					
				</li>
				<li id="pg437764033950173945" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---dodge-county-and-many-other-counties---caught---9-19-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - DODGE COUNTY AND MANY OTHER COUNTIES - CAUGHT! - 9-19-16
					</a>
					
				</li>
				<li id="pg458881792414815025" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---golden-valley---caught---9-21-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - GOLDEN VALLEY - CAUGHT! - 9-21-16
					</a>
					
				</li>
				<li id="pg520548783586736803" class="wsite-menu-item-wrap">
					<a
								href="/audio-spirit-airlines-in-flight-emergency---9-21-16.html"
						class="wsite-menu-item"
						>
						AUDIO: SPIRIT AIRLINES IN-FLIGHT EMERGENCY - 9-21-16
					</a>
					
				</li>
				<li id="pg613664096964265487" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---ramsey-county-and-k9-track---9-22-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - RAMSEY COUNTY AND K9 TRACK - 9-22-16
					</a>
					
				</li>
				<li id="pg943456493208275715" class="wsite-menu-item-wrap">
					<a
								href="/audio-burlington-wa-mall-shooting-response---9-23-16.html"
						class="wsite-menu-item"
						>
						AUDIO: BURLINGTON, WA MALL SHOOTING RESPONSE - 9-23-16
					</a>
					
				</li>
				<li id="pg376643055713541072" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul-fleeing-trespassers---caught-9-24-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. PAUL FLEEING TRESPASSERS - CAUGHT! 9-24-16
					</a>
					
				</li>
				<li id="pg798530120715206780" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---at-least-1-caught---9-25-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS -  AT LEAST 1 CAUGHT! - 9-25-16
					</a>
					
				</li>
				<li id="pg690095813184428318" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---stearns-county---ramming-squads--9-25-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STEARNS COUNTY - RAMMING SQUADS = 9-25-16
					</a>
					
				</li>
				<li id="pg833860623597207549" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul-chase-with-stolen---caught-9-27-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. PAUL CHASE WITH STOLEN - CAUGHT! 9-27-16
					</a>
					
				</li>
				<li id="pg986591773966193679" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-shooting-at-the-gay-90s---9-27-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS SHOOTING AT THE GAY 90s - 9-27-16
					</a>
					
				</li>
				<li id="pg873771774856914042" class="wsite-menu-item-wrap">
					<a
								href="/audio-burnsville-officer-involved-shooting---9-26-16.html"
						class="wsite-menu-item"
						>
						AUDIO: BURNSVILLE OFFICER INVOLVED SHOOTING - 9-26-16
					</a>
					
				</li>
				<li id="pg111212800473556515" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---terminated-after-a-bit---9-26-16-1155p.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - TERMINATED AFTER A BIT - 9-26-16 11:55p
					</a>
					
				</li>
				<li id="pg834460732406442580" class="wsite-menu-item-wrap">
					<a
								href="/audio-brooklyn-park-shooting-9-27-16-525p.html"
						class="wsite-menu-item"
						>
						AUDIO: BROOKLYN PARK SHOOTING 9-27-16 5:25p
					</a>
					
				</li>
				<li id="pg126174399805868754" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---transit-pd-from-st-paul-to-wi---9-27-16-1145p.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - TRANSIT PD FROM ST. PAUL TO WI - 9-27-16 11:45p
					</a>
					
				</li>
				<li id="pg238688280566919600" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis---how-not-to-get-quicker-serice.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS - HOW NOT TO GET QUICKER SERICE
					</a>
					
				</li>
				<li id="pg975623218868554565" class="wsite-menu-item-wrap">
					<a
								href="/audio-south-carolina-school-shooting-9-28-16.html"
						class="wsite-menu-item"
						>
						AUDIO: SOUTH CAROLINA SCHOOL SHOOTING 9-28-16
					</a>
					
				</li>
				<li id="pg899728066342239191" class="wsite-menu-item-wrap">
					<a
								href="/audio-eagan-foot-chase---caught---9-28-16.html"
						class="wsite-menu-item"
						>
						AUDIO: EAGAN FOOT CHASE - CAUGHT! - 9-28-16
					</a>
					
				</li>
				<li id="pg850768411446931339" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis-and-suspect-exited-with-a-knife---10-1-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS AND SUSPECT EXITED WITH A KNIFE - 10-1-16
					</a>
					
				</li>
				<li id="pg990966301588680261" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol-in-minneapolis---caught--10-2-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL IN MINNEAPOLIS  - CAUGHT!- 10-2-16
					</a>
					
				</li>
				<li id="pg583805865863018230" class="wsite-menu-item-wrap">
					<a
								href="/audio-maple-grove-wrong-way-driver-on-i94---10-2-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MAPLE GROVE WRONG WAY DRIVER ON I94 - 10-2-16
					</a>
					
				</li>
				<li id="pg980620275239869101" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---ramsey-county-with-stolen-vehicle---10-2-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - RAMSEY COUNTY WITH STOLEN VEHICLE - 10-2-16
					</a>
					
				</li>
				<li id="pg706601197883845024" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis---multiple-shootings-downtown---10-3-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS - MULTIPLE SHOOTINGS DOWNTOWN - 10-3-16
					</a>
					
				</li>
				<li id="pg874344105685953441" class="wsite-menu-item-wrap">
					<a
								href="/audio-olmsted-county-employee-stabbed---10-3-16-1705.html"
						class="wsite-menu-item"
						>
						AUDIO: OLMSTED COUNTY EMPLOYEE STABBED - 10-3-16 1705
					</a>
					
				</li>
				<li id="pg915640731630693688" class="wsite-menu-item-wrap">
					<a
								href="/audio-transit-pd-foot-chase-and-caught-10-4-16.html"
						class="wsite-menu-item"
						>
						AUDIO: TRANSIT PD FOOT CHASE AND CAUGHT! 10-4-16
					</a>
					
				</li>
				<li id="pg528632611788678684" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---coon-rapids-and-caught-10-5-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - COON RAPIDS AND CAUGHT! 10-5-16
					</a>
					
				</li>
				<li id="pg331910536293294104" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---edina-chase-to-wisconsin---10-7-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - EDINA CHASE TO WISCONSIN - 10-7-16
					</a>
					
				</li>
				<li id="pg703771270448256337" class="wsite-menu-item-wrap">
					<a
								href="/audio-shakopee---another-clown-with-four-black-balloons-and-a-glock----10-08-16.html"
						class="wsite-menu-item"
						>
						AUDIO: SHAKOPEE - ANOTHER CLOWN WITH FOUR BLACK BALLOONS AND A GLOCK ! - 10-08-16
					</a>
					
				</li>
				<li id="pg921536123345656257" class="wsite-menu-item-wrap">
					<a
								href="/audio-hopkins-chase---ramming-a-squad-and-caught-10-8-16.html"
						class="wsite-menu-item"
						>
						AUDIO: HOPKINS CHASE - RAMMING A SQUAD AND CAUGHT! 10-8-16
					</a>
					
				</li>
				<li id="pg955961817963004457" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---st-peter---nicollet-county---one-in-custody---10-09-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ST PETER - NICOLLET COUNTY - ONE IN CUSTODY! - 10-09-16
					</a>
					
				</li>
				<li id="pg969427467426093967" class="wsite-menu-item-wrap">
					<a
								href="/audio-moundsview-chase-to-blaine---10-9-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MOUNDSVIEW CHASE TO BLAINE - 10-9-16
					</a>
					
				</li>
				<li id="pg210392591792892164" class="wsite-menu-item-wrap">
					<a
								href="/audio-lakeville-robbery---felony-stop-10-10-16.html"
						class="wsite-menu-item"
						>
						AUDIO: LAKEVILLE ROBBERY - FELONY STOP!  10-10-16
					</a>
					
				</li>
				<li id="pg717509208419360918" class="wsite-menu-item-wrap">
					<a
								href="/audio-msp-airport-k9-ollie-final-10-7---10-11-16.html"
						class="wsite-menu-item"
						>
						AUDIO: MSP AIRPORT K9 OLLIE FINAL 10-7 - 10-11-16
					</a>
					
				</li>
				<li id="pg307420592665762820" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---bailed---caught-10-12-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - BAILED - CAUGHT!! 10-12-16
					</a>
					
				</li>
				<li id="pg290457366815542668" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol---10-13-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL - 10-13-16
					</a>
					
				</li>
				<li id="pg251026979659703502" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul-pd---retiring-officer---officer-spencer---10-13-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. PAUL PD - RETIRING OFFICER  - OFFICER SPENCER - 10-13-16
					</a>
					
				</li>
				<li id="pg431979452785581582" class="wsite-menu-item-wrap">
					<a
								href="/audio-columbia-heights-into-minneapolis---10-18-16.html"
						class="wsite-menu-item"
						>
						AUDIO: COLUMBIA HEIGHTS INTO MINNEAPOLIS - 10-18-16
					</a>
					
				</li>
				<li id="pg915429523698905420" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---ramsey-county---motorcycle---10-19-16-925p.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - RAMSEY COUNTY - MOTORCYCLE - 10-19-16 9:25P
					</a>
					
				</li>
				<li id="pg874549560785760826" class="wsite-menu-item-wrap">
					<a
								href="/audio-minnetonka-stolen-vehicle---10-21-16-0140.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNETONKA STOLEN VEHICLE - 10-21-16 0140
					</a>
					
				</li>
				<li id="pg476908538854877924" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase--ramsey-county-and-state-patrol---10-21-16-140p.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE -RAMSEY COUNTY AND STATE PATROL - 10-21-16 1:40P
					</a>
					
				</li>
				<li id="pg714946469247422820" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---aitkin-county---10-24-16-745p.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - AITKIN COUNTY - 10-24-16  7:45P
					</a>
					
				</li>
				<li id="pg361279288751449160" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---eagan-to-st-paul---10-23-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - EAGAN TO ST. PAUL - 10-23-16
					</a>
					
				</li>
				<li id="pg350651905111787816" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minnetonka---crash---caught-10-24-16-1630.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNETONKA  - CRASH - CAUGHT! 10-24-16  1630
					</a>
					
				</li>
				<li id="pg237328432236307572" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---west-st-paul---caught---10-25-16-445a.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - WEST ST. PAUL - CAUGHT! - 10-25-16 4:45A
					</a>
					
				</li>
				<li id="pg242361330424708701" class="wsite-menu-item-wrap">
					<a
								href="/audio-freeborn-county-foot-pursuit---caught---10-25-16-1005p.html"
						class="wsite-menu-item"
						>
						AUDIO: FREEBORN COUNTY FOOT PURSUIT - CAUGHT! - 10-25-16 10:05P
					</a>
					
				</li>
				<li id="pg810334116240247618" class="wsite-menu-item-wrap">
					<a
								href="/audio-final-10-7-for-sgt-denny-preston---coon-rapids-pd---10-25-16.html"
						class="wsite-menu-item"
						>
						AUDIO: FINAL 10-7 FOR SGT. DENNY PRESTON - COON RAPIDS PD - 10-25-16
					</a>
					
				</li>
				<li id="pg595264696527619728" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-tongue-twister-10-27-16-0510.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS TONGUE TWISTER 10-27-16 0510
					</a>
					
				</li>
				<li id="pg722210731769472154" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---stevens-county---10-28-16-0700.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STEVENS COUNTY - 10-28-16 0700
					</a>
					
				</li>
				<li id="pg959097098608097084" class="wsite-menu-item-wrap">
					<a
								href="/audio-roseville---baby-born---10-29-16-0415.html"
						class="wsite-menu-item"
						>
						AUDIO: ROSEVILLE - BABY BORN - 10-29-16 0415
					</a>
					
				</li>
				<li id="pg171484463387862692" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol---into-golden-valley---caught-10-29-16-1000p.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL - INTO GOLDEN VALLEY - CAUGHT!  10-29-16  10:00P
					</a>
					
				</li>
				<li id="pg361583307600706563" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---champlin--maple-grove---caught---10-30-16-700a.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - CHAMPLIN  / MAPLE GROVE - CAUGHT! - 10-30-16 7:00A
					</a>
					
				</li>
				<li id="pg743585173655899113" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---itasca-county--koochiching-county---10-30-16-405p.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ITASCA COUNTY / KOOCHICHING COUNTY - 10-30-16 4:05P
					</a>
					
				</li>
				<li id="pg110147043140291620" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---eagan---4-caught---11-1-16-1745.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - EAGAN - 4 CAUGHT! - 11-1-16 1745
					</a>
					
				</li>
				<li id="pg978868593697761428" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---beltrami-county---1-caught---11-2-16-0330.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BELTRAMI COUNTY - 1 CAUGHT! - 11-2-16 0330
					</a>
					
				</li>
				<li id="pg202430279219612659" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol-in-minneapolis---bailed-11-5-16-135a.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL IN MINNEAPOLIS - BAILED! 11-5-16 1:35A
					</a>
					
				</li>
				<li id="pg124148202233396477" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---bloomington-to-rice-county-stop-sticks-caught---11-5-16.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BLOOMINGTON TO RICE COUNTY! STOP STICKS! CAUGHT! - 11-5-16
					</a>
					
				</li>
				<li id="pg945459844564477651" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---rock-county---caught---11-5-16-1645.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE -  ROCK COUNTY - CAUGHT! - 11-5-16 1645
					</a>
					
				</li>
				<li id="pg350097711287987603" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---moundsview---bailed---caught---11-7-16-1215a.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE -  MOUNDSVIEW - BAILED - CAUGHT! - 11-7-16 1215A
					</a>
					
				</li>
				<li id="pg689994149240545030" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---rock-county---caught---11-7-16-2215.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE -  ROCK COUNTY - CAUGHT! - 11-7-16 2215
					</a>
					
				</li>
				<li id="pg999633578394992828" class="wsite-menu-item-wrap">
					<a
								href="/audio-if-i-had-a-hammer---peter-paul-and-mary.html"
						class="wsite-menu-item"
						>
						AUDIO: IF I HAD A HAMMER - PETER PAUL AND MARY
					</a>
					
				</li>
				<li id="pg407344302525078065" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---bloomington---caught---11-10-16-145a.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - BLOOMINGTON - CAUGHT! - 11-10-16 1:45A
					</a>
					
				</li>
				<li id="pg679056333459397697" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---st-paul---11-10-16-0205.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ST. PAUL - 11-10-16 0205
					</a>
					
				</li>
				<li id="pg772276747933565930" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---kanabec-county---11-11-16-0840.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - KANABEC COUNTY - 11-11-16  0840
					</a>
					
				</li>
				<li id="pg495198280858292203" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---sherburne-county---11-13-16-0215.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - SHERBURNE COUNTY - 11-13-16 0215
					</a>
					
				</li>
				<li id="pg375257672299262199" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul-shots-fired-call---11-12-16-1110.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. PAUL SHOTS FIRED CALL - 11-12-16 1110
					</a>
					
				</li>
				<li id="pg104277703743669783" class="wsite-menu-item-wrap">
					<a
								href="/audio-stanislaus-county-deputy-killed---11-13-16-0845.html"
						class="wsite-menu-item"
						>
						AUDIO: STANISLAUS COUNTY DEPUTY KILLED - 11-13-16 0845
					</a>
					
				</li>
				<li id="pg700592935604553902" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---maplewood---i94--white-bear-ave---caught---11-14-16-2315.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MAPLEWOOD - I94 / WHITE BEAR AVE - CAUGHT! - 11-14-16 2315
					</a>
					
				</li>
				<li id="pg682083684170108107" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---centennial-lakes---11-15-16-0200.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - CENTENNIAL LAKES - 11-15-16 0200
					</a>
					
				</li>
				<li id="pg596237022935051932" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---anoka-county---shots-fired---11-17-16-1230.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ANOKA COUNTY - SHOTS FIRED - 11-17-16 1230
					</a>
					
				</li>
				<li id="pg910622874173411162" class="wsite-menu-item-wrap">
					<a
								href="/audio-vehicle-theft--kidnapping---golden-valley---11-18-16-0340.html"
						class="wsite-menu-item"
						>
						AUDIO: VEHICLE THEFT / KIDNAPPING - GOLDEN VALLEY - 11-18-16 0340
					</a>
					
				</li>
				<li id="pg929493545612478639" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-shooting---11-19-16-0200.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS SHOOTING - 11-19-16 0200
					</a>
					
				</li>
				<li id="pg334280679547541410" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---minneapolis---11-19-16-0210.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - MINNEAPOLIS - 11-19-16 0210
					</a>
					
				</li>
				<li id="pg916632782870717352" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---ramsey-anoka-county-into-sherburne-county---11-20-16---0250.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - RAMSEY (ANOKA COUNTY) INTO SHERBURNE COUNTY - 11-20-16 - 0250
					</a>
					
				</li>
				<li id="pg996433775228881361" class="wsite-menu-item-wrap">
					<a
								href="/audio-brooklyn-park---rollover-after-shots-fired-on-i94---11-21-16-1310.html"
						class="wsite-menu-item"
						>
						AUDIO: BROOKLYN PARK - ROLLOVER AFTER SHOTS FIRED ON I94 - 11-21-16 1310
					</a>
					
				</li>
				<li id="pg489968974152858135" class="wsite-menu-item-wrap">
					<a
								href="/audio-coon-rapids---apprehension-of-north-st-paul-shooting-suspect---11-23-16-1700.html"
						class="wsite-menu-item"
						>
						AUDIO: COON RAPIDS - APPREHENSION OF NORTH ST. PAUL SHOOTING SUSPECT - 11-23-16 1700
					</a>
					
				</li>
				<li id="pg385138670811282912" class="wsite-menu-item-wrap">
					<a
								href="/audio-prior-lake-shooting-and-chase---shots-fired-at-officers---11-23-16-0215.html"
						class="wsite-menu-item"
						>
						AUDIO: PRIOR LAKE SHOOTING AND CHASE - SHOTS FIRED AT OFFICERS - 11-23-16 0215
					</a>
					
				</li>
				<li id="pg233710782771490241" class="wsite-menu-item-wrap">
					<a
								href="/audio-coon-rapids---tow-driver-shot-at---11-25-16-0835.html"
						class="wsite-menu-item"
						>
						AUDIO: COON RAPIDS -  TOW DRIVER SHOT AT - 11-25-16 0835
					</a>
					
				</li>
				<li id="pg597056407935106691" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-francis-pd-chief-final-10-7-after-a-battle-with-cancer---11-26-16.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. FRANCIS PD CHIEF FINAL 10-7 AFTER A BATTLE WITH CANCER - 11-26-16
					</a>
					
				</li>
				<li id="pg739995823981423105" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---sherburne-county---caught---11-27-16-345a.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - SHERBURNE COUNTY - CAUGHT! - 11-27-16 3:45A
					</a>
					
				</li>
				<li id="pg224939936997973806" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol-in-st-paul---11-27-16-1100a.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL IN ST. PAUL - 11-27-16 11:00A
					</a>
					
				</li>
				<li id="pg577076020828884051" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-stolen-vehicle---suspects-caught---11-28-16-0455.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS STOLEN VEHICLE - SUSPECTS CAUGHT! - 11-28-16 0455
					</a>
					
				</li>
				<li id="pg730893311345344298" class="wsite-menu-item-wrap">
					<a
								href="/audio-burnsville-rabbit---6-13-15.html"
						class="wsite-menu-item"
						>
						AUDIO: BURNSVILLE RABBIT - 6-13-15
					</a>
					
				</li>
				<li id="pg148351710233223614" class="wsite-menu-item-wrap">
					<a
								href="/audio-ohio-state-active-shooter-response---11-28-16-0850.html"
						class="wsite-menu-item"
						>
						AUDIO: OHIO STATE ACTIVE SHOOTER RESPONSE - 11-28-16 0850
					</a>
					
				</li>
				<li id="pg433297508695623975" class="wsite-menu-item-wrap">
					<a
								href="/audio-bloomington-water-rescue---12-1-16-0350.html"
						class="wsite-menu-item"
						>
						AUDIO: BLOOMINGTON WATER RESCUE - 12-1-16 0350
					</a>
					
				</li>
				<li id="pg236098546297340739" class="wsite-menu-item-wrap">
					<a
								href="/audio-inver-grove-heights-chase-after-trying-to-back-over-officers---11-29-16-0410.html"
						class="wsite-menu-item"
						>
						AUDIO: INVER GROVE HEIGHTS CHASE AFTER TRYING TO BACK OVER OFFICERS - 11-29-16 0410
					</a>
					
				</li>
				<li id="pg424926129679223794" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---state-patrol---caught---12-1-16-2300.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - STATE PATROL - CAUGHT! - 12-1-16 2300
					</a>
					
				</li>
				<li id="pg451508277279351634" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-louis-park---shooting-at-the-west-end---12-3-16-0215.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. LOUIS PARK - SHOOTING AT THE WEST END - 12-3-16 0215
					</a>
					
				</li>
				<li id="pg248393269826637514" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-chase---crash---in-custody---12-4-16-0020.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS CHASE - CRASH - IN CUSTODY! - 12-4-16 0020
					</a>
					
				</li>
				<li id="pg597882346611882354" class="wsite-menu-item-wrap">
					<a
								href="/audio-eagan-security-officer-shooting---security-officer-shot-assault-suspect---12-5-16-0010.html"
						class="wsite-menu-item"
						>
						AUDIO: EAGAN SECURITY OFFICER SHOOTING - SECURITY OFFICER SHOT ASSAULT SUSPECT - 12-5-16 0010
					</a>
					
				</li>
				<li id="pg430439299611953562" class="wsite-menu-item-wrap">
					<a
								href="/audio-west-st-paul-chase---12-8-16-2350.html"
						class="wsite-menu-item"
						>
						AUDIO: WEST ST. PAUL CHASE - 12-8-16 2350
					</a>
					
				</li>
				<li id="pg698597433105069301" class="wsite-menu-item-wrap">
					<a
								href="/audio-eagan-theft-of-vehicle---suspects-bailed---search---12-12-16-2140.html"
						class="wsite-menu-item"
						>
						AUDIO: EAGAN THEFT OF VEHICLE - SUSPECTS BAILED - SEARCH - 12-12-16 2140
					</a>
					
				</li>
				<li id="pg293814299708171220" class="wsite-menu-item-wrap">
					<a
								href="/audio-bloomington-water-rescue---12-13-16-0815.html"
						class="wsite-menu-item"
						>
						AUDIO: BLOOMINGTON WATER RESCUE - 12-13-16 0815
					</a>
					
				</li>
				<li id="pg155693440685976577" class="wsite-menu-item-wrap">
					<a
								href="/audio-blaine---tcf-robbery---12-13-16-0940.html"
						class="wsite-menu-item"
						>
						AUDIO: BLAINE - TCF ROBBERY -  12-13-16 0940
					</a>
					
				</li>
				<li id="pg712740522273259477" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-foot-chase---12-14-16-0305.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS FOOT CHASE - 12-14-16 0305
					</a>
					
				</li>
				<li id="pg477188787889003340" class="wsite-menu-item-wrap">
					<a
								href="/audio-st-paul-officer-103-eot---12-13-16-1550.html"
						class="wsite-menu-item"
						>
						AUDIO: ST. PAUL OFFICER #103 EOT - 12-13-16 1550
					</a>
					
				</li>
				<li id="pg365452990728975916" class="wsite-menu-item-wrap">
					<a
								href="/audio-eagan-chase-into-minneapolis---caught---12-16-16-0235.html"
						class="wsite-menu-item"
						>
						AUDIO: EAGAN CHASE INTO MINNEAPOLIS - CAUGHT! - 12-16-16 0235
					</a>
					
				</li>
				<li id="pg845007221198173703" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-response-to-assault---12-14-16-1035.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS RESPONSE TO ASSAULT - 12-14-16 1035
					</a>
					
				</li>
				<li id="pg850928085941619765" class="wsite-menu-item-wrap">
					<a
								href="/audio-lakes-area-police-department-chief-stenson-retirement---12-16-16-1700.html"
						class="wsite-menu-item"
						>
						AUDIO: LAKES AREA POLICE DEPARTMENT CHIEF STENSON RETIREMENT - 12-16-16 1700
					</a>
					
				</li>
				<li id="pg132019357441518224" class="wsite-menu-item-wrap">
					<a
								href="/audio-scott-county-retirement---12-16-16-1600.html"
						class="wsite-menu-item"
						>
						AUDIO: SCOTT COUNTY RETIREMENT - 12-16-16 1600
					</a>
					
				</li>
				<li id="pg371706275253763088" class="wsite-menu-item-wrap">
					<a
								href="/audio-state-patrol-walker---chase---12-17-16-1145.html"
						class="wsite-menu-item"
						>
						AUDIO: STATE PATROL (WALKER) - CHASE - 12-17-16 1145
					</a>
					
				</li>
				<li id="pg422112040387400022" class="wsite-menu-item-wrap">
					<a
								href="/video-officers-shot---warning-graphic---lavonia-georgia---12-12-16-2000.html"
						class="wsite-menu-item"
						>
						VIDEO: OFFICERS SHOT - WARNING GRAPHIC -  LAVONIA GEORGIA - 12-12-16 2000
					</a>
					
				</li>
				<li id="pg959123782113385385" class="wsite-menu-item-wrap">
					<a
								href="/video-los-angeles-chase---12-12-16---caught.html"
						class="wsite-menu-item"
						>
						VIDEO: LOS ANGELES CHASE - 12-12-16 - CAUGHT!
					</a>
					
				</li>
				<li id="pg960157224238559197" class="wsite-menu-item-wrap">
					<a
								href="/audio-burnsville-shooting-response---12-19-16-0125.html"
						class="wsite-menu-item"
						>
						AUDIO: BURNSVILLE SHOOTING RESPONSE - 12-19-16 0125
					</a>
					
				</li>
				<li id="pg588995281719218729" class="wsite-menu-item-wrap">
					<a
								href="/audio-oak-park-heights-missing-person---12-19-16-0110.html"
						class="wsite-menu-item"
						>
						AUDIO: OAK PARK HEIGHTS MISSING PERSON - 12-19-16 0110
					</a>
					
				</li>
				<li id="pg504601394839876741" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---st-paul---shooting-suspects---12-19-16-1510.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - ST. PAUL - SHOOTING SUSPECTS - 12-19-16 1510
					</a>
					
				</li>
				<li id="pg335491082134471171" class="wsite-menu-item-wrap">
					<a
								href="/audio-chase---nobles-county---12-19-16-2120.html"
						class="wsite-menu-item"
						>
						AUDIO: CHASE - NOBLES COUNTY - 12-19-16 2120
					</a>
					
				</li>
				<li id="pg702537364254998314" class="wsite-menu-item-wrap">
					<a
								href="/audio-minneapolis-shooting---12-19-16-2325.html"
						class="wsite-menu-item"
						>
						AUDIO: MINNEAPOLIS SHOOTING - 12-19-16 2325
					</a>
					
				</li>
				<li id="pg538446848752909813" class="wsite-menu-item-wrap">
					<a
								href="/audio-forest-lake-shots-fired---12-22-16-0215.html"
						class="wsite-menu-item"
						>
						AUDIO: FOREST LAKE SHOTS FIRED - 12-22-16 0215
					</a>
					
				</li>
				<li id="pg189817892592458921" class="wsite-menu-item-wrap">
					<a
								href="/audio-fairbault-chamber-of-commerce-death-investigation---12-23-16-1220.html"
						class="wsite-menu-item"
						>
						AUDIO: FAIRBAULT CHAMBER OF COMMERCE DEATH INVESTIGATION - 12-23-16 1220
					</a>
					
				</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>